Repository eclipse-thingweb/node-wot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan, @mkovatsc

.github/CODEOWNERS:

# Default owners (used as a fallback, last matching pattern takes the most precedence)
* @danielpeintner @relu91

# CoAP-Binding
/packages/binding-coap/ @JKRhb

# HTTP-Binding
/packages/binding-http/ @danielpeintner @relu91

# Mbus-Binding
# /packages/binding-modbus/

# Modbus-Binding
/packages/binding-modbus/ @relu91

# MQTT-Binding
/packages/binding-mqtt/ @sebastiankb @egekorkan

# NETCONF Binding
# /packages/binding-netconf/

# OPCUA Binding
# /packages/binding-opcua/

# WebSockets Binding
# /packages/binding-websockets/

# Browser Bundle
/packages/browser-bundle/ @danielpeintner @relu91

# CLI
/packages/browser-bundle/ @danielpeintner @relu91 @mkovatsc

# Core
/packages/core/ @danielpeintner @relu91 @JKRhb

# TD Tools
/packages/td-tools/ @danielpeintner @relu91

fix: enable prefer-nullish-coalescing eslint rule (#1123)
  .eslintrc.js
  packages/binding-http/src/codecs/tuya-codec.ts
  packages/binding-mbus/src/mbus-client.ts
  packages/binding-modbus/src/modbus-client.ts
  packages/binding-netconf/src/netconf-client.ts
  packages/binding-opcua/src/opcua-protocol-client.ts
  packages/core/src/codecs/text-codec.ts
  packages/td-tools/src/thing-model-helpers.ts
Owners: @danielpeintner, @relu91, @JKRhb

feat(core) add bit length and offset to octetstream-codec
  packages/core/src/codecs/octetstream-codec.ts
  packages/core/test/ContentSerdesTest.ts
Owners: @danielpeintner, @relu91, @JKRhb

fix: remove `console.log`
  packages/core/src/codecs/octetstream-codec.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor: enable strictNullChecks globally
  packages/binding-coap/tsconfig.json
  packages/core/tsconfig.json
  packages/examples/tsconfig.json
  packages/td-tools/tsconfig.json
  tsconfig.json
Owners: @JKRhb, @danielpeintner, @relu91

feat: support special AID treatment for ranges
  packages/td-tools/src/util/asset-interface-description.ts
  packages/td-tools/test/AssetInterfaceDescriptionTest.ts
  packages/td-tools/test/util/inverterModbus.json
Owners: @danielpeintner, @relu91

refactor: enable strict-boolean-expressions globally
  .eslintrc.js
  packages/binding-coap/.eslintrc.json
  packages/binding-file/src/file-client.ts
  packages/binding-http/.eslintrc.json
  packages/binding-mbus/src/mbus-client.ts
  packages/binding-mbus/src/mbus-connection.ts
  packages/binding-mbus/test/mbus-client-test.ts
  packages/binding-modbus/src/modbus-client.ts
  packages/binding-mqtt/src/mqtt-broker-server.ts
  packages/binding-mqtt/test/mqtt-client-subscribe-test.integration.ts
  packages/binding-netconf/src/async-node-netconf.ts
  packages/binding-netconf/src/codecs/netconf-codec.ts
  packages/binding-netconf/src/netconf-client.ts
  packages/binding-netconf/src/netconf.ts
  packages/binding-netconf/src/xpath2json.ts
  packages/binding-opcua/src/factory.ts
  packages/binding-opcua/src/opcua-protocol-client.ts
  packages/binding-opcua/test/client-test.ts
  packages/binding-opcua/test/fixture/basic-opcua-server.ts
  packages/binding-websockets/src/ws-server.ts
  packages/cli/src/cli-default-servient.ts
  packages/cli/src/cli.ts
  packages/core/.eslintrc.json
  packages/examples/.eslintrc.json
  packages/td-tools/.eslintrc.json
Owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan

fixup! refactor: enable strict-boolean-expressions globally
  packages/cli/src/cli.ts
Owners: @danielpeintner, @relu91

fixup! refactor: enable strict-boolean-expressions globally
  packages/binding-modbus/src/modbus-client.ts
Owners: @relu91

fixup! refactor: enable strict-boolean-expressions globally
  packages/cli/src/cli.ts
Owners: @danielpeintner, @relu91

fixup! refactor: enable strict-boolean-expressions globally
  packages/cli/src/cli-default-servient.ts
Owners: @danielpeintner, @relu91

fix: minor follow-up for PR#1129 AID ranges
  packages/td-tools/src/util/asset-interface-description.ts
  packages/td-tools/test/AssetInterfaceDescriptionTest.ts
Owners: @danielpeintner, @relu91

refactor: AID should contain observable only if it is true
  packages/td-tools/src/util/asset-interface-description.ts
  packages/td-tools/test/AssetInterfaceDescriptionTest.ts
Owners: @danielpeintner, @relu91

refactor: add back removed title check
  packages/td-tools/test/AssetInterfaceDescriptionTest.ts
Owners: @danielpeintner, @relu91

refactor: enable strict-boolean-expressions globally (#1127)
  .eslintrc.js
  packages/binding-coap/.eslintrc.json
  packages/binding-file/src/file-client.ts
  packages/binding-http/.eslintrc.json
  packages/binding-mbus/src/mbus-client.ts
  packages/binding-mbus/src/mbus-connection.ts
  packages/binding-mbus/test/mbus-client-test.ts
  packages/binding-modbus/src/modbus-client.ts
  packages/binding-mqtt/src/mqtt-broker-server.ts
  packages/binding-mqtt/test/mqtt-client-subscribe-test.integration.ts
  packages/binding-netconf/src/async-node-netconf.ts
  packages/binding-netconf/src/codecs/netconf-codec.ts
  packages/binding-netconf/src/netconf-client.ts
  packages/binding-netconf/src/netconf.ts
  packages/binding-netconf/src/xpath2json.ts
  packages/binding-opcua/src/factory.ts
  packages/binding-opcua/src/opcua-protocol-client.ts
  packages/binding-opcua/test/client-test.ts
  packages/binding-opcua/test/fixture/basic-opcua-server.ts
  packages/binding-websockets/src/ws-server.ts
  packages/cli/src/cli-default-servient.ts
  packages/cli/src/cli.ts
  packages/core/.eslintrc.json
  packages/examples/.eslintrc.json
  packages/td-tools/.eslintrc.json
Owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan

ci: set a timeout for testing step of ten minutes
  .github/workflows/ci.yaml
Owners: @danielpeintner, @relu91

feat(core) add `object` support to octet-stream codec
  packages/core/src/codecs/octetstream-codec.ts
  packages/core/test/ContentSerdesTest.ts
Owners: @danielpeintner, @relu91, @JKRhb

fix: statisfy linter
  packages/core/src/codecs/octetstream-codec.ts
Owners: @danielpeintner, @relu91, @JKRhb

fix: run prettier
  packages/core/src/codecs/octetstream-codec.ts
  packages/core/test/ContentSerdesTest.ts
Owners: @danielpeintner, @relu91, @JKRhb

fix: statisfy linter
  packages/core/src/codecs/octetstream-codec.ts
Owners: @danielpeintner, @relu91, @JKRhb

fix: statisfy prettier and linter
  packages/core/src/codecs/octetstream-codec.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor: use base in hrefs for AID
  packages/td-tools/src/util/asset-interface-description.ts
  packages/td-tools/test/AssetInterfaceDescriptionTest.ts
Owners: @danielpeintner, @relu91

modified binding-firestore for v0.8.10
  .gitignore
  .vscode/launch.json
  package-lock.json
  packages/binding-firestore/.eslintrc.json
  packages/binding-firestore/README.md
  packages/binding-firestore/package.json
  packages/binding-firestore/src/codecs/firestore-codec.ts
  packages/binding-firestore/src/firestore-client-factory.ts
  packages/binding-firestore/src/firestore-client.ts
  packages/binding-firestore/src/firestore-handler.ts
  packages/binding-firestore/src/firestore-server.ts
  packages/binding-firestore/src/firestore.ts
  packages/binding-firestore/test/.firebaserc
  packages/binding-firestore/test/firebase.json
  packages/binding-firestore/test/firestore-client-basic-test.ts
  packages/binding-firestore/test/firestore-config.json
  packages/binding-firestore/test/firestore.indexes.json
  packages/binding-firestore/test/firestore.rules
  packages/binding-firestore/test/test-thing.ts
  packages/binding-firestore/test/tsconfig.json
  packages/binding-firestore/tsconfig.json
  tsconfig.json
Owners: @danielpeintner, @relu91

refactor(td-tools): add TD term support for description, contentMediaType, const, default, and unit
  packages/td-tools/src/util/asset-interface-description.ts
  packages/td-tools/test/AssetInterfaceDescriptionTest.ts
Owners: @danielpeintner, @relu91

test: add failing test to investigate
  packages/td-tools/test/TDParseTest.ts
Owners: @danielpeintner, @relu91

refactor: make base URL simpler
  packages/td-tools/test/TDParseTest.ts
Owners: @danielpeintner, @relu91

fixing issue with href starting with /
  packages/td-tools/test/TDParseTest.ts
Owners: @danielpeintner, @relu91

use other placeholder that works
  packages/td-tools/test/TDParseTest.ts
Owners: @danielpeintner, @relu91

use base with ##
  packages/td-tools/test/TDParseTest.ts
Owners: @danielpeintner, @relu91

refactor: use base in hrefs for AID (#1135)
  packages/td-tools/src/util/asset-interface-description.ts
  packages/td-tools/test/AssetInterfaceDescriptionTest.ts
Owners: @danielpeintner, @relu91

refactor(td-tools): AID add TD term support for description, contentMediaType, const, default, and unit (#1137)
  packages/td-tools/src/util/asset-interface-description.ts
  packages/td-tools/test/AssetInterfaceDescriptionTest.ts
Owners: @danielpeintner, @relu91

feat: add semanticId/supplementalSemanticIds for AssetInterfacesDescription and Interface
  packages/td-tools/src/util/asset-interface-description.ts
  packages/td-tools/test/AssetInterfaceDescriptionTest.ts
Owners: @danielpeintner, @relu91

feat: add semanticId for EndpointMetadata, InterfaceMetadata, ExternalDescriptor, title
  packages/td-tools/src/util/asset-interface-description.ts
Owners: @danielpeintner, @relu91

feat: add semanticId for base, contentType, href, htv, modbus, mqv
  packages/td-tools/src/util/asset-interface-description.ts
Owners: @danielpeintner, @relu91

feat: more semanticId for terms like properties, security etc
  packages/td-tools/src/util/asset-interface-description.ts
Owners: @danielpeintner, @relu91

feat: add semanticId for other security terms
  packages/td-tools/src/util/asset-interface-description.ts
  packages/td-tools/test/AssetInterfaceDescriptionTest.ts
Owners: @danielpeintner, @relu91

binding-opcua: fix missing hostname in /etc/host #1138
  .github/workflows/ci.yaml
Owners: @danielpeintner, @relu91

feat: add semanticId/supplementalSemanticIds for AID terms (#1143)
  packages/td-tools/src/util/asset-interface-description.ts
  packages/td-tools/test/AssetInterfaceDescriptionTest.ts
Owners: @danielpeintner, @relu91

fix: shortId for AID does not allow any character
  packages/td-tools/src/util/asset-interface-description.ts
  packages/td-tools/test/AssetInterfaceDescriptionTest.ts
Owners: @danielpeintner, @relu91

fix: shortId for AID does not allow any character (#1147)
  packages/td-tools/src/util/asset-interface-description.ts
  packages/td-tools/test/AssetInterfaceDescriptionTest.ts
Owners: @danielpeintner, @relu91

refactor(AID): report proper valueType for value
  packages/td-tools/src/util/asset-interface-description.ts
  packages/td-tools/test/AssetInterfaceDescriptionTest.ts
Owners: @danielpeintner, @relu91
