Repository eclipse-thingweb/node-wot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan, @mkovatsc

.github/CODEOWNERS:

# Default owners (used as a fallback, last matching pattern takes the most precedence)
* @danielpeintner @relu91

# CoAP-Binding
/packages/binding-coap/ @JKRhb

# HTTP-Binding
/packages/binding-http/ @danielpeintner @relu91

# Mbus-Binding
# /packages/binding-modbus/

# Modbus-Binding
/packages/binding-modbus/ @relu91

# MQTT-Binding
/packages/binding-mqtt/ @sebastiankb @egekorkan

# NETCONF Binding
# /packages/binding-netconf/

# OPCUA Binding
# /packages/binding-opcua/

# WebSockets Binding
# /packages/binding-websockets/

# Browser Bundle
/packages/browser-bundle/ @danielpeintner @relu91

# CLI
/packages/browser-bundle/ @danielpeintner @relu91 @mkovatsc

# Core
/packages/core/ @danielpeintner @relu91 @JKRhb

# TD Tools
/packages/td-tools/ @danielpeintner @relu91

fixup! refactor: use type-checked JS instead of TS for quickstart exampl…
  examples/quickstart/simple-coffee-machine.js
Owners: @danielpeintner, @relu91

docs: update URL in quickstart examples README
  examples/quickstart/README.md
Owners: @danielpeintner, @relu91

refactor: handle also enhanced contentTypes
  packages/core/src/consumed-thing.ts
  packages/core/test/ClientTest.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor: extract handling of InteractionOuput in dedicated method
  packages/core/src/consumed-thing.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor: use dedicated library to parse contentType
  package-lock.json
  packages/core/package.json
  packages/core/src/consumed-thing.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor: put new imports next to each other
  packages/core/src/consumed-thing.ts
Owners: @danielpeintner, @relu91, @JKRhb

shorter form of setting uninitialized value
  packages/core/src/consumed-thing.ts
Owners: @danielpeintner, @relu91, @JKRhb

test: add test with wrong contentType
  packages/core/test/ClientTest.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor: improve error message
  packages/core/src/consumed-thing.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor: use handleInteractionOutput method for observe property and event also
  packages/core/src/consumed-thing.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor: remove duplicated contentType initialization
  packages/core/src/consumed-thing.ts
Owners: @danielpeintner, @relu91, @JKRhb

chore: remove ajv dependencies from opcua binding
  packages/binding-opcua/package.json
Owners: @danielpeintner, @relu91

chore: add ajv-formats to core package
  packages/core/package.json
Owners: @danielpeintner, @relu91, @JKRhb

chore: update lock file
  package-lock.json
Owners: @danielpeintner, @relu91

refactor: change test to accept any error code besides 404
  packages/td-tools/test/ThingModelHelperTest.ts
Owners: @danielpeintner, @relu91

docs: update readmes to point to new location
  packages/td-tools/README.md
  packages/td-tools/src/util/README.md
Owners: @danielpeintner, @relu91

refactor: remove AID tooling code and tests
  packages/td-tools/src/util/asset-interface-description.ts
  packages/td-tools/test/util/AIDSchema.json
  packages/td-tools/test/util/counterHTTP.json
  packages/td-tools/test/util/inverterModbus.json
Owners: @danielpeintner, @relu91

refactor: remove AID
  packages/td-tools/src/td-tools.ts
Owners: @danielpeintner, @relu91

refactor: remove AID browser example
  examples/browser/aid-tools.html
  examples/browser/aid-tools.js
Owners: @danielpeintner, @relu91

chore: remove AID test case
  packages/td-tools/test/AssetInterfaceDescriptionTest.ts
Owners: @danielpeintner, @relu91

refactor: create helper function structuredClone ans use *old* way
  packages/binding-http/src/http-server.ts
  packages/binding-opcua/test/opcua-codec-test.ts
  packages/binding-opcua/test/schema-validation-test.ts
  packages/core/src/consumed-thing.ts
  packages/core/src/exposed-thing.ts
  packages/core/src/helpers.ts
  packages/core/src/servient.ts
Owners: @danielpeintner, @relu91, @JKRhb

Update asset-interface-description semanticID
  packages/td-tools/src/util/asset-interface-description.ts
Owners: @danielpeintner, @relu91

Update asset-interface-description semanticID (#1259)
  packages/td-tools/src/util/asset-interface-description.ts
Owners: @danielpeintner, @relu91

alignment: start fixing the simple readme text
  packages/binding-modbus/README.md
Owners: @relu91

validation: add ajv formats to where needed
  packages/binding-opcua/src/codec.ts
  packages/core/src/helpers.ts
  packages/core/src/interaction-output.ts
  packages/td-tools/src/thing-model-helpers.ts
Owners: @danielpeintner, @relu91, @JKRhb

Update asset-interface-description semanticID (#1259)
  packages/td-tools/src/util/asset-interface-description.ts
Owners: @danielpeintner, @relu91

refactor: change test to accept any error code besides 404
  packages/td-tools/test/ThingModelHelperTest.ts
Owners: @danielpeintner, @relu91

fix nested object serialization and deserialization
  packages/core/src/codecs/octetstream-codec.ts
  packages/core/test/ContentSerdesTest.ts
Owners: @danielpeintner, @relu91, @JKRhb

fix format
  packages/core/src/codecs/octetstream-codec.ts
Owners: @danielpeintner, @relu91, @JKRhb

remove unused parameter
  packages/core/test/ContentSerdesTest.ts
Owners: @danielpeintner, @relu91, @JKRhb

clean up
  packages/core/src/codecs/octetstream-codec.ts
Owners: @danielpeintner, @relu91, @JKRhb

fix format
  packages/core/src/codecs/octetstream-codec.ts
Owners: @danielpeintner, @relu91, @JKRhb

documentation: readme fixes
  packages/binding-modbus/README.md
Owners: @relu91

modbus: do simple type changes except for URL
  packages/binding-modbus/src/modbus-client.ts
  packages/binding-modbus/src/modbus-connection.ts
  packages/binding-modbus/src/modbus.ts
  packages/binding-modbus/test/modbus-client-test.ts
  packages/binding-modbus/test/modbus-connection-test.ts
Owners: @relu91

add check to ensure `ex:bitOffset` is valid
  packages/core/src/codecs/octetstream-codec.ts
Owners: @danielpeintner, @relu91, @JKRhb

add checks for more parameters
  packages/core/src/codecs/octetstream-codec.ts
  packages/core/test/ContentSerdesTest.ts
Owners: @danielpeintner, @relu91, @JKRhb

docs: fix to new API and binding spec
  packages/binding-modbus/README.md
Owners: @relu91

adapt all types
  packages/binding-modbus/src/modbus-client.ts
  packages/binding-modbus/src/modbus-connection.ts
  packages/binding-modbus/src/modbus.ts
  packages/binding-modbus/test/modbus-client-test.ts
  packages/binding-modbus/test/modbus-connection-test.ts
Owners: @relu91

chore: refactor test code
  packages/binding-modbus/test/modbus-client-test.ts
Owners: @relu91

tests: adapt new form rules
  packages/binding-modbus/src/modbus-client.ts
  packages/binding-modbus/test/modbus-client-test.ts
Owners: @relu91
