Repository eclipse-thingweb/node-wot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan, @mkovatsc

.github/CODEOWNERS:

# Default owners (used as a fallback, last matching pattern takes the most precedence)
* @danielpeintner @relu91

# CoAP-Binding
/packages/binding-coap/ @JKRhb

# HTTP-Binding
/packages/binding-http/ @danielpeintner @relu91

# Mbus-Binding
# /packages/binding-modbus/

# Modbus-Binding
/packages/binding-modbus/ @relu91

# MQTT-Binding
/packages/binding-mqtt/ @sebastiankb @egekorkan

# NETCONF Binding
# /packages/binding-netconf/

# OPCUA Binding
# /packages/binding-opcua/

# WebSockets Binding
# /packages/binding-websockets/

# Browser Bundle
/packages/browser-bundle/ @danielpeintner @relu91

# CLI
/packages/browser-bundle/ @danielpeintner @relu91 @mkovatsc

# Core
/packages/core/ @danielpeintner @relu91 @JKRhb

# TD Tools
/packages/td-tools/ @danielpeintner @relu91

fixup! feat(core): implement `exploreDirectory` method
  packages/core/src/wot-impl.ts
Owners: @danielpeintner, @relu91, @JKRhb

fixup! test: add test for `exploreDirectory` method
  packages/core/test/DiscoveryTest.ts
Owners: @danielpeintner, @relu91, @JKRhb

ci: enable logging only when debug logging is enabled
  .github/workflows/ci.yaml
Owners: @danielpeintner, @relu91

fixup! feat(core): implement `exploreDirectory` method
  packages/core/src/helpers.ts
Owners: @danielpeintner, @relu91, @JKRhb

chore(binding-mqtt): remove unused debug import
  packages/binding-mqtt/src/util.ts
Owners: @sebastiankb, @egekorkan

feat(core): implement `exploreDirectory` method (#1186)
  packages/core/src/content-serdes.ts
  packages/core/src/validation.ts
  packages/core/src/wot-impl.ts
  packages/core/test/DiscoveryTest.ts
Owners: @danielpeintner, @relu91, @JKRhb

chore: increase version numbers to 0.8.12 for next release
  package-lock.json
  packages/binding-coap/package.json
  packages/binding-file/package.json
  packages/binding-http/package.json
  packages/binding-mbus/package.json
  packages/binding-modbus/package.json
  packages/binding-mqtt/package.json
  packages/binding-netconf/package.json
  packages/binding-opcua/package.json
  packages/binding-websockets/package.json
  packages/browser-bundle/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/examples/package.json
  packages/td-tools/package.json
Owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan, @mkovatsc

fixup! ci: enable logging only when debug logging is enabled
  .github/workflows/ci.yaml
Owners: @danielpeintner, @relu91

chore: increase version numbers to 0.8.12 for next release (#1208)
  package-lock.json
  packages/binding-coap/package.json
  packages/binding-file/package.json
  packages/binding-http/package.json
  packages/binding-mbus/package.json
  packages/binding-modbus/package.json
  packages/binding-mqtt/package.json
  packages/binding-netconf/package.json
  packages/binding-opcua/package.json
  packages/binding-websockets/package.json
  packages/browser-bundle/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/examples/package.json
  packages/td-tools/package.json
Owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan, @mkovatsc

ci: enable logging only when debug logging is enabled (#1204)
  .github/workflows/ci.yaml
Owners: @danielpeintner, @relu91

docs: add `octet-stream` codec documentation
  packages/core/README.md
Owners: @danielpeintner, @relu91, @JKRhb

chore: add `guard-for-in` eslint rule
  .eslintrc.js
  packages/binding-coap/src/mdns-introducer.ts
  packages/binding-http/src/http-browser.ts
  packages/binding-http/src/routes/thing-description.ts
  packages/binding-mqtt/src/mqtt-broker-server.ts
  packages/binding-netconf/src/codecs/netconf-codec.ts
  packages/binding-websockets/src/ws-server.ts
  packages/core/src/codecs/netconf-codec.ts
  packages/core/src/codecs/octetstream-codec.ts
  packages/core/src/consumed-thing.ts
  packages/core/src/exposed-thing.ts
  packages/core/src/helpers.ts
  packages/core/src/servient.ts
  packages/td-tools/src/td-parser.ts
  packages/td-tools/src/thing-description.ts
  packages/td-tools/src/thing-model-helpers.ts
  packages/td-tools/src/util/asset-interface-description.ts
  packages/td-tools/test/TDParseTest.ts
Owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan

fix: statisfy prettier
  packages/core/README.md
Owners: @danielpeintner, @relu91, @JKRhb

fix: adjust bit offset
  packages/core/README.md
Owners: @danielpeintner, @relu91, @JKRhb

Follow-up octet-stream codec - short explanation #1194 (#1209)
  packages/core/README.md
Owners: @danielpeintner, @relu91, @JKRhb

refactor: follow proposal in https://github.com/eclipse-thingweb/node-wot/pull/1195#issuecomment-1880833020
  packages/core/src/servient.ts
Owners: @danielpeintner, @relu91, @JKRhb

fix(interaction-output): allow stored value to be `null`
  packages/core/src/interaction-output.ts
Owners: @danielpeintner, @relu91, @JKRhb

fix(interaction-output): restrict value method to DataSchemaValues
  packages/core/src/interaction-output.ts
Owners: @danielpeintner, @relu91, @JKRhb

test(coap-server): don't shutdown servient unnecessarily
  packages/binding-coap/test/coap-server-test.ts
Owners: @JKRhb

fix(binding-file): improve file-client implementation
  packages/binding-file/src/file-client.ts
Owners: @danielpeintner, @relu91

chore(binding-file): improve .gitignore for test files
  packages/binding-file/test/.gitignore
Owners: @danielpeintner, @relu91

fixup! chore: add guard-for-in eslint rule
  packages/binding-coap/src/mdns-introducer.ts
Owners: @JKRhb

fixup! chore: add guard-for-in eslint rule
  packages/core/src/codecs/octetstream-codec.ts
Owners: @danielpeintner, @relu91, @JKRhb

fixup! chore: add guard-for-in eslint rule
  packages/td-tools/src/util/asset-interface-description.ts
Owners: @danielpeintner, @relu91

fix(interaction-output): adjust storing behavior and return type of `value` method (#1211)
  packages/core/src/interaction-output.ts
Owners: @danielpeintner, @relu91, @JKRhb

fix(binding-file): improve file-client implementation (#1213)
  packages/binding-file/src/file-client.ts
  packages/binding-file/test/.gitignore
Owners: @danielpeintner, @relu91

refactor: rename startedWoT to wotInstance
  packages/core/src/servient.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor: check for undefined to detect whether WoT instance was created
  packages/core/src/servient.ts
Owners: @danielpeintner, @relu91, @JKRhb

fix(coap-server): add forms to affordances in a more type-safe way
  packages/binding-coap/src/coap-server.ts
Owners: @JKRhb

fix(coap-server): add missing cov:observe subprotocol
  packages/binding-coap/src/coap-server.ts
  packages/binding-coap/src/util.ts
Owners: @JKRhb

test(coap-server): add test for cov:observe subprotocol
  packages/binding-coap/src/util.ts
  packages/binding-coap/test/coap-server-test.ts
Owners: @JKRhb

fix(core/interaction-output): allign value function implementation with spec
  packages/binding-http/test/http-server-test.ts
  packages/binding-opcua/test/full-opcua-thing-test.ts
  packages/core/src/interaction-output.ts
  packages/core/src/wot-impl.ts
  packages/core/test/DiscoveryTest.ts
Owners: @danielpeintner, @relu91, @JKRhb

fixup! fix(core/interaction-output): allign value function implementation with spec
  packages/core/src/interaction-output.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor(core/interaction-output): use make all private properties use #
  packages/core/src/interaction-output.ts
Owners: @danielpeintner, @relu91, @JKRhb

docs(README): introduce the new logo
  README.md
Owners: @danielpeintner, @relu91

docs(README): fix light svg path
  README.md
Owners: @danielpeintner, @relu91

refactor(binding-opcua/test): fix typos in code tests
  packages/binding-opcua/test/full-opcua-thing-test.ts
Owners: @danielpeintner, @relu91

fix: correct limits for integer deserialization and add tests
  packages/core/src/codecs/octetstream-codec.ts
  packages/core/test/ContentSerdesTest.ts
Owners: @danielpeintner, @relu91, @JKRhb

docs: use h1 wrapping around title logo of readme
  README.md
Owners: @danielpeintner, @relu91

refactor: update revised SemanticIDs
  packages/td-tools/src/util/asset-interface-description.ts
Owners: @danielpeintner, @relu91
