Repository eclipse-thingweb/node-wot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan, @mkovatsc

revert: content-serdes
  packages/core/src/content-serdes.ts
Owners: @danielpeintner, @relu91, @JKRhb

fix(core) : lint error
  packages/core/src/content-serdes.ts
Owners: @danielpeintner, @relu91, @JKRhb

fix(binding-coap): align affordance forms typing and enable no-unnecessary-condition rule
  packages/binding-coap/README.md
  packages/binding-coap/eslint.config.mjs
  packages/binding-coap/src/coap-client.ts
  packages/binding-coap/src/coap-server.ts
  packages/binding-coap/src/coaps-client.ts
  packages/binding-coap/src/mdns-introducer.ts
Owners: @JKRhb

feat(core): allow registering multiple ContentCodecs per media type with optional scheme support
  packages/core/src/content-serdes.ts
Owners: @danielpeintner, @relu91, @JKRhb

feat(core): allow registering multiple ContentCodecs per media type with optional scheme support
  packages/binding-coap/src/coaps-client.ts
Owners: @JKRhb

test(binding-http): add unit tests for CORS behavior
  packages/binding-http/test/http-server-cors-test.ts
Owners: @danielpeintner, @relu91

style: apply prettier formatting
  packages/binding-coap/src/coaps-client.ts
Owners: @JKRhb

feat: support MQTT over WebSocket via composite scheme resolution
  packages/binding-mqtt/src/mqtt-client-factory.ts
  packages/binding-mqtt/test/mqtt-broker-server-interaction-test.integration.ts
  packages/binding-mqtt/test/mqtt-client-subscribe-test.integration.ts
  packages/binding-mqtt/test/mqtt-ws-test.integration.ts
  packages/core/src/consumed-thing.ts
Owners: @sebastiankb, @egekorkan, @danielpeintner, @relu91, @JKRhb

feat(binding-mqtt): support MQTT over WebSocket via composite scheme resolution
  packages/binding-mqtt/test/mqtt-ws-test.integration.ts
  packages/core/src/consumed-thing.ts
Owners: @sebastiankb, @egekorkan, @danielpeintner, @relu91, @JKRhb

test(binding-http): add CORS tests for POST and PUT operations
  packages/binding-http/test/http-server-cors-test.ts
Owners: @danielpeintner, @relu91

feat(binding-mqtt): add WebSocket subprotocol and composite scheme support
  packages/binding-mqtt/src/mqtt-client-factory.ts
  packages/binding-mqtt/src/mqtt-client.ts
  packages/binding-mqtt/src/mqtts-client-factory.ts
  packages/binding-mqtt/test/mqtt-websocket-test.integration.ts
  packages/core/src/consumed-thing.ts
  packages/core/src/helpers.ts
  packages/core/src/protocol-interfaces.ts
  packages/core/src/servient.ts
  packages/core/test/helpers-test.ts
  packages/core/test/servient-subprotocol-test.ts
Owners: @sebastiankb, @egekorkan, @danielpeintner, @relu91, @JKRhb

docs(binding-mqtt): add selfHost documentation for MQTT broker
  packages/binding-mqtt/README.md
Owners: @sebastiankb, @egekorkan

docs(binding-mqtt): add selfHost documentation for MQTT broker
  packages/binding-mqtt/README.md
Owners: @sebastiankb, @egekorkan

feat(binding-websockets): implement WebSocket client with W3C WoT protocol support
  packages/binding-websockets/src/ws-client.ts
Owners: @danielpeintner, @relu91

chore(binding-wesbsockets): formatting
  packages/binding-websockets/src/ws-client.ts
  packages/binding-websockets/test/ws-tests.ts
Owners: @danielpeintner, @relu91

feat(binding-websocket): adding websocket implementation
  packages/binding-websockets/src/ws-client.ts
  packages/binding-websockets/test/ws-tests.ts
Owners: @danielpeintner, @relu91

feat(binding-coap): support id-based CoAP paths (fixes #1458)
  packages/binding-coap/src/coap-server.ts
  packages/binding-coap/src/coap.ts
  packages/binding-coap/test/coap-server-test.ts
Owners: @JKRhb

chore: update wot-typescript-definitions to 1.0.0-SNAPSHOT.0
  examples/templates/exposed-thing/package.json
  package-lock.json
  package.json
  packages/binding-coap/package.json
  packages/binding-modbus/package.json
  packages/examples/src/security/oauth/package.json
Owners: @danielpeintner, @relu91, @JKRhb

chore: fixup broken package (upgreades a bunch of packages)
  package-lock.json
Owners: @danielpeintner, @relu91

chore(binding-http): upgrade @node-oauth/express-oauth-server
  package-lock.json
  packages/binding-http/package.json
  packages/binding-http/test/http-client-oauth-tests.ts
  packages/binding-http/test/memory-model.ts
Owners: @danielpeintner, @relu91

chore(binding-coap): address review feedback and improve coverage
  packages/binding-coap/src/coap-server.ts
  packages/binding-coap/src/coap.ts
  packages/binding-coap/test/coap-server-test.ts
Owners: @JKRhb

Update .github/copilot-instructions.md
  .github/copilot-instructions.md
Owners: @danielpeintner, @relu91

style(binding-coap): fix prettier formatting
  packages/binding-coap/src/coap-server.ts
Owners: @JKRhb

fix(binding-http): include CORS headers for 404 responses
  packages/binding-http/src/http-server.ts
  packages/binding-http/test/http-server-cors-test.ts
Owners: @danielpeintner, @relu91

fix: added explicit null check to octet stream codec value validation.
  packages/core/src/codecs/octetstream-codec.ts
Owners: @danielpeintner, @relu91, @JKRhb

fix: reverted validation check
  packages/core/src/consumed-thing.ts
  packages/core/src/protocol-listener-registry.ts
  packages/core/src/serdes.ts
Owners: @danielpeintner, @relu91, @JKRhb

fix: adding null/undefined checks and refining default value assignments
  packages/core/src/consumed-thing.ts
  packages/core/src/content-serdes.ts
  packages/core/src/protocol-helpers.ts
  packages/core/src/protocol-listener-registry.ts
  packages/core/src/serdes.ts
Owners: @danielpeintner, @relu91, @JKRhb

fix: guard addCredentials against undefined input
  packages/core/src/servient.ts
Owners: @danielpeintner, @relu91, @JKRhb

feat(core): implement Thing-level data schema mapping extraction
  README.md
  packages/cli/src/cli-default-servient.ts
  packages/core/src/consumed-thing.ts
  packages/core/src/helpers.ts
  packages/core/src/interaction-output.ts
  packages/core/src/servient.ts
  packages/core/src/thing-description.ts
  packages/core/src/wot-impl.ts
  packages/core/test/client-test.ts
  packages/core/test/server-test.ts
Owners: @danielpeintner, @relu91, @JKRhb

chore: update @thingweb/thing-model to v1.0.5
  package-lock.json
  packages/cli/package.json
  packages/core/package.json
Owners: @danielpeintner, @relu91, @JKRhb

feat(binding-http): Make Access-Control-Allow-Origin header configurable
  packages/binding-http/README.md
  packages/binding-http/src/http-server.ts
  packages/binding-http/src/http.ts
  packages/binding-http/src/routes/action.ts
  packages/binding-http/src/routes/common.ts
  packages/binding-http/src/routes/event.ts
  packages/binding-http/src/routes/properties.ts
  packages/binding-http/src/routes/property-observe.ts
  packages/binding-http/src/routes/property.ts
  packages/binding-http/src/routes/thing-description.ts
  packages/binding-http/src/routes/things.ts
  packages/binding-http/test/http-server-cors-test.ts
Owners: @danielpeintner, @relu91

refactor(core/consumed-thing): simplify valuePath extraction
  packages/core/src/consumed-thing.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor(core/comsumed-thing): derive type interactionType from Thing
  packages/core/src/consumed-thing.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor(core): introduce DataSchemaMapping type
  packages/core/src/consumed-thing.ts
  packages/core/src/interaction-output.ts
  packages/core/src/thing-description.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor(core/interaction-output): clean up comments and un-wanted cast
  packages/core/src/interaction-output.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor(servient): use type from Thing for dataSchemaMapping property
  packages/core/src/servient.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor(core/wot-impl): simplify mapping handling in consume
  packages/core/src/wot-impl.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor(core/helpers): remove any references in extractDataFromPath
  packages/core/src/helpers.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor(core/wot-impl): simplify mapping handling in produce
  packages/core/src/wot-impl.ts
Owners: @danielpeintner, @relu91, @JKRhb

test(core/client-test): avoid using any casting
  packages/core/test/client-test.ts
Owners: @danielpeintner, @relu91, @JKRhb

.github/CODEOWNERS:

# Default owners (used as a fallback, last matching pattern takes the most precedence)
* @danielpeintner @relu91

# CoAP-Binding
/packages/binding-coap/ @JKRhb

# HTTP-Binding
/packages/binding-http/ @danielpeintner @relu91

# Mbus-Binding
# /packages/binding-modbus/

# Modbus-Binding
/packages/binding-modbus/ @relu91

# MQTT-Binding
/packages/binding-mqtt/ @sebastiankb @egekorkan

# NETCONF Binding
# /packages/binding-netconf/

# OPCUA Binding
# /packages/binding-opcua/

# WebSockets Binding
# /packages/binding-websockets/

# Browser Bundle
/packages/browser-bundle/ @danielpeintner @relu91

# CLI
/packages/browser-bundle/ @danielpeintner @relu91 @mkovatsc

# Core
/packages/core/ @danielpeintner @relu91 @JKRhb

# TD Tools
/packages/td-tools/ @danielpeintner @relu91
