Repository eclipse-thingweb/node-wot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan, @mkovatsc

.github/CODEOWNERS:

# Default owners (used as a fallback, last matching pattern takes the most precedence)
* @danielpeintner @relu91

# CoAP-Binding
/packages/binding-coap/ @JKRhb

# HTTP-Binding
/packages/binding-http/ @danielpeintner @relu91

# Mbus-Binding
# /packages/binding-modbus/

# Modbus-Binding
/packages/binding-modbus/ @relu91

# MQTT-Binding
/packages/binding-mqtt/ @sebastiankb @egekorkan

# NETCONF Binding
# /packages/binding-netconf/

# OPCUA Binding
# /packages/binding-opcua/

# WebSockets Binding
# /packages/binding-websockets/

# Browser Bundle
/packages/browser-bundle/ @danielpeintner @relu91

# CLI
/packages/browser-bundle/ @danielpeintner @relu91 @mkovatsc

# Core
/packages/core/ @danielpeintner @relu91 @JKRhb

# TD Tools
/packages/td-tools/ @danielpeintner @relu91

fix remaining problems for consumed-thing.ts
  packages/core/src/consumed-thing.ts
Owners: @danielpeintner, @relu91, @JKRhb

chore: move common devDependencies to top-level package.json
  package-lock.json
  package.json
  packages/binding-coap/package.json
  packages/binding-file/package.json
  packages/binding-http/package.json
  packages/binding-mbus/package.json
  packages/binding-modbus/package.json
  packages/binding-mqtt/package.json
  packages/binding-netconf/package.json
  packages/binding-opcua/package.json
  packages/binding-websockets/package.json
  packages/browser-bundle/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/examples/package.json
  packages/td-tools/package.json
Owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan, @mkovatsc

chore(core): change position of devDependencies field
  packages/core/package.json
Owners: @danielpeintner, @relu91, @JKRhb

fixup! chore: move common devDependencies to top-level package.json
  package-lock.json
  packages/binding-http/package.json
  packages/core/package.json
Owners: @danielpeintner, @relu91, @JKRhb

fixup! chore: move common devDependencies to top-level package.json
  package-lock.json
Owners: @danielpeintner, @relu91

chore: fix devDependency redundancy check
  utils/check_package_version_consistency.js
Owners: @danielpeintner, @relu91

chore: simplify fixed version consistency check
  utils/check_package_version_consistency.js
Owners: @danielpeintner, @relu91

Update packages/core/src/consumed-thing.ts
  packages/core/src/consumed-thing.ts
Owners: @danielpeintner, @relu91, @JKRhb

Update packages/core/src/consumed-thing.ts
  packages/core/src/consumed-thing.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor: simplification proposed by Jan
  packages/core/src/codecs/json-codec.ts
Owners: @danielpeintner, @relu91, @JKRhb

Update packages/core/src/exposed-thing.ts
  packages/core/src/exposed-thing.ts
Owners: @danielpeintner, @relu91, @JKRhb

Update packages/core/src/exposed-thing.ts
  packages/core/src/exposed-thing.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor: simplification proposed by Jan
  packages/core/src/exposed-thing.ts
Owners: @danielpeintner, @relu91, @JKRhb

Update packages/core/src/exposed-thing.ts
  packages/core/src/exposed-thing.ts
Owners: @danielpeintner, @relu91, @JKRhb

Update packages/core/src/helpers.ts
  packages/core/src/helpers.ts
Owners: @danielpeintner, @relu91, @JKRhb

Update packages/core/src/protocol-helpers.ts
  packages/core/src/protocol-helpers.ts
Owners: @danielpeintner, @relu91, @JKRhb

Update packages/core/src/protocol-helpers.ts
  packages/core/src/protocol-helpers.ts
Owners: @danielpeintner, @relu91, @JKRhb

Update packages/core/src/wot-impl.ts
  packages/core/src/wot-impl.ts
Owners: @danielpeintner, @relu91, @JKRhb

Update packages/core/src/exposed-thing.ts
  packages/core/src/exposed-thing.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor: reverting one step
  packages/core/src/protocol-helpers.ts
Owners: @danielpeintner, @relu91, @JKRhb

Update packages/core/src/consumed-thing.ts
  packages/core/src/consumed-thing.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor: simplify
  packages/core/src/protocol-helpers.ts
Owners: @danielpeintner, @relu91, @JKRhb

Update packages/core/src/protocol-helpers.ts
  packages/core/src/protocol-helpers.ts
Owners: @danielpeintner, @relu91, @JKRhb

chore: move common devDependencies to top-level package.json (#1098)
  package-lock.json
  package.json
  packages/binding-coap/package.json
  packages/binding-file/package.json
  packages/binding-http/package.json
  packages/binding-mbus/package.json
  packages/binding-modbus/package.json
  packages/binding-mqtt/package.json
  packages/binding-netconf/package.json
  packages/binding-opcua/package.json
  packages/binding-websockets/package.json
  packages/browser-bundle/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/examples/package.json
  packages/td-tools/package.json
  utils/check_package_version_consistency.js
Owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan, @mkovatsc

fix: issue with absolute URL
  packages/td-tools/src/util/asset-interface-description.ts
  packages/td-tools/test/AssetInterfaceDescriptionTest.ts
  packages/td-tools/test/util/inverterModbus.json
Owners: @danielpeintner, @relu91

Update packages/core/src/protocol-helpers.ts
  packages/core/src/protocol-helpers.ts
Owners: @danielpeintner, @relu91, @JKRhb

chore(core): enable eslint/strict-boolean-expressions & strictNullChecks (#1096)
  packages/core/.eslintrc.json
  packages/core/src/codecs/json-codec.ts
  packages/core/src/codecs/netconf-codec.ts
  packages/core/src/codecs/octetstream-codec.ts
  packages/core/src/codecs/text-codec.ts
  packages/core/src/consumed-thing.ts
  packages/core/src/content-serdes.ts
  packages/core/src/exposed-thing.ts
  packages/core/src/helpers.ts
  packages/core/src/interaction-output.ts
  packages/core/src/protocol-helpers.ts
  packages/core/src/protocol-listener-registry.ts
  packages/core/src/wot-impl.ts
  packages/core/test/ContentSerdesTest.ts
  packages/core/tsconfig.json
Owners: @danielpeintner, @relu91, @JKRhb

refactor: add additional null check
  packages/td-tools/src/util/asset-interface-description.ts
Owners: @danielpeintner, @relu91

chore: update TS definitions
  package-lock.json
  package.json
  packages/binding-coap/package.json
  packages/binding-mbus/package.json
  packages/binding-modbus/package.json
  packages/examples/src/security/oauth/package.json
  packages/td-tools/package.json
Owners: @danielpeintner, @relu91, @JKRhb

chore(devDeps): upgrade eslint packages
  package-lock.json
  package.json
Owners: @danielpeintner, @relu91

chore: address eslint suggestions
  packages/binding-coap/test/coap-server-test.ts
  packages/binding-http/src/codecs/tuya-codec.ts
  packages/binding-http/src/credential.ts
  packages/binding-http/src/http-client-impl.ts
  packages/binding-http/src/oauth-manager.ts
  packages/binding-http/test/http-server-oauth-tests.ts
  packages/binding-http/test/memory-model.ts
  packages/binding-modbus/test/test-modbus-server.ts
  packages/binding-mqtt/test/mqtt-client-subscribe-test.integration.ts
  packages/core/src/consumed-thing.ts
  packages/core/src/helpers.ts
  packages/td-tools/src/thing-model-helpers.ts
  packages/td-tools/src/util/asset-interface-description.ts
Owners: @JKRhb, @danielpeintner, @relu91, @sebastiankb, @egekorkan

chore(coap): properly ignore eslint url.parse deprecation hint
  packages/binding-coap/src/coap-client.ts
Owners: @JKRhb

refactor(core): use # instead __ as internal handler prefix
  packages/binding-opcua/test/full-opcua-thing-test.ts
  packages/core/src/exposed-thing.ts
  packages/core/test/ServerTest.ts
Owners: @danielpeintner, @relu91, @JKRhb

chore(binding-opcua): adjust readPropertyHandler test code
  packages/binding-opcua/test/full-opcua-thing-test.ts
Owners: @danielpeintner, @relu91

chore(core): adjust readPropertyHandler test code
  packages/core/test/ServerTest.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor: use `structuredClone` for deep copying
  packages/binding-http/src/http-server.ts
  packages/core/src/consumed-thing.ts
  packages/core/src/exposed-thing.ts
Owners: @danielpeintner, @relu91, @JKRhb

chore(devDeps): upgrade eslint packages (#1103)
  package-lock.json
  package.json
  packages/binding-coap/src/coap-client.ts
  packages/binding-coap/test/coap-server-test.ts
  packages/binding-http/src/codecs/tuya-codec.ts
  packages/binding-http/src/credential.ts
  packages/binding-http/src/http-client-impl.ts
  packages/binding-http/src/oauth-manager.ts
  packages/binding-http/test/http-server-oauth-tests.ts
  packages/binding-http/test/memory-model.ts
  packages/binding-modbus/test/test-modbus-server.ts
  packages/binding-mqtt/test/mqtt-client-subscribe-test.integration.ts
  packages/core/src/consumed-thing.ts
  packages/core/src/helpers.ts
  packages/td-tools/src/thing-model-helpers.ts
  packages/td-tools/src/util/asset-interface-description.ts
Owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan

fixup! refactor: use `structuredClone` for deep copying
  packages/core/src/helpers.ts
Owners: @danielpeintner, @relu91, @JKRhb

fixup! refactor(core): use # instead __ as internal handler prefix
  packages/core/src/exposed-thing.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor(core): use private variables instead of function wrappers
  packages/core/src/consumed-thing.ts
  packages/core/src/exposed-thing.ts
Owners: @danielpeintner, @relu91, @JKRhb
