Repository eclipse-thingweb/node-wot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan, @mkovatsc

.github/CODEOWNERS:

# Default owners (used as a fallback, last matching pattern takes the most precedence)
* @danielpeintner @relu91

# CoAP-Binding
/packages/binding-coap/ @JKRhb

# HTTP-Binding
/packages/binding-http/ @danielpeintner @relu91

# Mbus-Binding
# /packages/binding-modbus/

# Modbus-Binding
/packages/binding-modbus/ @relu91

# MQTT-Binding
/packages/binding-mqtt/ @sebastiankb @egekorkan

# NETCONF Binding
# /packages/binding-netconf/

# OPCUA Binding
# /packages/binding-opcua/

# WebSockets Binding
# /packages/binding-websockets/

# Browser Bundle
/packages/browser-bundle/ @danielpeintner @relu91

# CLI
/packages/browser-bundle/ @danielpeintner @relu91 @mkovatsc

# Core
/packages/core/ @danielpeintner @relu91 @JKRhb

# TD Tools
/packages/td-tools/ @danielpeintner @relu91

chore(td-tools): run prettier
  packages/td-tools/src/thing-model-helpers.ts
Owners: @danielpeintner, @relu91

chore(td-tools): deprecate thing-model-helpers' exports (#1306)
  packages/td-tools/src/thing-model-helpers.ts
Owners: @danielpeintner, @relu91

refactor: remove unused findProtocol and findPort functions
  packages/td-tools/src/td-helpers.ts
Owners: @danielpeintner, @relu91

Revert "refactor: remove unused findProtocol and findPort functions"
  packages/td-tools/src/td-helpers.ts
Owners: @danielpeintner, @relu91

refactor(td-tools): deprecate findProtocol and findPort
  packages/td-tools/src/td-helpers.ts
Owners: @danielpeintner, @relu91

refactor(td-tools): run prettier
  packages/td-tools/src/td-helpers.ts
Owners: @danielpeintner, @relu91

fix(core/interactionOutput): support for no-type based root schemas
  packages/core/src/interaction-output.ts
  packages/core/test/InteractionOutputTest.ts
Owners: @danielpeintner, @relu91, @JKRhb

docs: add deprecation message
  packages/td-tools/src/td-helpers.ts
  packages/td-tools/src/td-parser.ts
Owners: @danielpeintner, @relu91

docs: add deprecation message (#1310)
  packages/td-tools/src/td-helpers.ts
  packages/td-tools/src/td-parser.ts
Owners: @danielpeintner, @relu91

docs: deprecate everything in td-tools
  packages/td-tools/src/td-tools.ts
  packages/td-tools/src/thing-description.ts
Owners: @danielpeintner, @relu91

refactor: mode functionality
  packages/core/src/exposed-thing.ts
  packages/core/src/serdes.ts
  packages/core/src/thing-description.ts
  packages/core/src/wot-impl.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor: remove td-tools package
  package-lock.json
  packages/core/package.json
Owners: @danielpeintner, @relu91, @JKRhb

chore: remove all td-tools dependencies
  package-lock.json
  packages/binding-coap/package.json
  packages/binding-http/package.json
  packages/binding-mbus/package.json
  packages/binding-modbus/package.json
  packages/binding-mqtt/package.json
  packages/binding-netconf/package.json
  packages/binding-opcua/package.json
  packages/binding-websockets/package.json
  packages/browser-bundle/package.json
  packages/cli/package.json
  packages/examples/package.json
Owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan, @mkovatsc

refacor: use updated thing-model package which exports Resolver
  package-lock.json
  packages/core/package.json
  packages/core/src/helpers.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor: move over SerDes test
  packages/core/test/SerDesTest.ts
Owners: @danielpeintner, @relu91, @JKRhb

docs: update readme with warning of future removal
  packages/td-tools/README.md
Owners: @danielpeintner, @relu91

docs: remove td-tools mentioning
  README.md
Owners: @danielpeintner, @relu91

refactor: remove "own" definition of ThingModel
  packages/core/src/consumed-thing.ts
  packages/core/src/thing-description.ts
  packages/core/src/wot-impl.ts
Owners: @danielpeintner, @relu91, @JKRhb

chore: increase version numbers to 0.8.16 for next release
  package-lock.json
  packages/binding-coap/package.json
  packages/binding-file/package.json
  packages/binding-http/package.json
  packages/binding-mbus/package.json
  packages/binding-modbus/package.json
  packages/binding-mqtt/package.json
  packages/binding-netconf/package.json
  packages/binding-opcua/package.json
  packages/binding-websockets/package.json
  packages/browser-bundle/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/examples/package.json
  packages/td-tools/package.json
Owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan, @mkovatsc

chore: increase version numbers to 0.8.16 for next release (#1314)
  package-lock.json
  packages/binding-coap/package.json
  packages/binding-file/package.json
  packages/binding-http/package.json
  packages/binding-mbus/package.json
  packages/binding-modbus/package.json
  packages/binding-mqtt/package.json
  packages/binding-netconf/package.json
  packages/binding-opcua/package.json
  packages/binding-websockets/package.json
  packages/browser-bundle/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/examples/package.json
  packages/td-tools/package.json
Owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan, @mkovatsc

feat(binding-coap): remove cov:observe subprotocol
  packages/binding-coap/src/coap-server.ts
  packages/binding-coap/test/coap-server-test.ts
Owners: @JKRhb

docs(binding-coap): update documentation of getPropertyOpValues
  packages/binding-coap/src/util.ts
Owners: @JKRhb

test(binding-coap): adjust cov:observe test
  packages/binding-coap/test/coap-server-test.ts
Owners: @JKRhb

fix: add missing packages for serdes.ts
  package-lock.json
  packages/core/package.json
Owners: @danielpeintner, @relu91, @JKRhb

chore: increase version numbers to 0.8.17 for next release
  package-lock.json
  packages/binding-coap/package.json
  packages/binding-file/package.json
  packages/binding-http/package.json
  packages/binding-mbus/package.json
  packages/binding-modbus/package.json
  packages/binding-mqtt/package.json
  packages/binding-netconf/package.json
  packages/binding-opcua/package.json
  packages/binding-websockets/package.json
  packages/browser-bundle/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/examples/package.json
  packages/td-tools/package.json
Owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan, @mkovatsc

chore: increase version numbers to 0.8.17 for next release (#1320)
  package-lock.json
  packages/binding-coap/package.json
  packages/binding-file/package.json
  packages/binding-http/package.json
  packages/binding-mbus/package.json
  packages/binding-modbus/package.json
  packages/binding-mqtt/package.json
  packages/binding-netconf/package.json
  packages/binding-opcua/package.json
  packages/binding-websockets/package.json
  packages/browser-bundle/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/examples/package.json
  packages/td-tools/package.json
Owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan, @mkovatsc

detect phantom dependencies and fix
  .eslintrc.js
  package-lock.json
  packages/binding-coap/package.json
  packages/binding-file/package.json
  packages/binding-http/package.json
  packages/binding-mbus/package.json
  packages/binding-modbus/package.json
  packages/binding-mqtt/package.json
  packages/binding-netconf/package.json
  packages/binding-opcua/package.json
  packages/binding-websockets/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/td-tools/package.json
Owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan

add eslint config to test directories and adjust package.json files
  package-lock.json
  packages/binding-coap/package.json
  packages/binding-coap/test/.eslintrc.json
  packages/binding-file/package.json
  packages/binding-file/test/.eslintrc.json
  packages/binding-http/package.json
  packages/binding-http/test/.eslintrc.json
  packages/binding-mbus/package.json
  packages/binding-mbus/test/.eslintrc.json
  packages/binding-modbus/package.json
  packages/binding-modbus/test/.eslintrc.json
  packages/binding-mqtt/package.json
  packages/binding-mqtt/test/.eslintrc.json
  packages/binding-netconf/package.json
  packages/binding-netconf/test/.eslintrc.json
  packages/binding-opcua/package.json
  packages/binding-opcua/test/.eslintrc.json
  packages/binding-websockets/package.json
  packages/binding-websockets/test/.eslintrc.json
  packages/cli/package.json
  packages/cli/test/.eslintrc.json
  packages/core/package.json
  packages/core/test/.eslintrc.json
  packages/td-tools/package.json
  packages/td-tools/test/.eslintrc.json
Owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan

docs: add adopters information
  README.md
Owners: @danielpeintner, @relu91

docs: fix badge link
  README.md
Owners: @danielpeintner, @relu91

docs: Change label text
  README.md
Owners: @danielpeintner, @relu91

Update README.md
  README.md
Owners: @danielpeintner, @relu91

Update README.md
  README.md
Owners: @danielpeintner, @relu91

chore: Simplify the workspaces list
  package.json
Owners: @danielpeintner, @relu91

docs(readme): remove browsers versions
  README.md
Owners: @danielpeintner, @relu91

chore: delete moved code for test things
  examples/quickstart/README.md
  examples/quickstart/presence-sensor.js
  examples/quickstart/simple-coffee-machine.js
  examples/quickstart/smart-clock.js
  examples/scripts/smart-coffee-machine-client.conf.json
  examples/scripts/smart-coffee-machine-client.js
  examples/scripts/smart-coffee-machine.js
  examples/testthing/$DO_NOT_EDIT_JS_FILES.md
  examples/testthing/testclient.js
  examples/testthing/testthing.js
  packages/binding-modbus/testConsumer.js
  packages/examples/src/quickstart/README.md
  packages/examples/src/quickstart/presence-sensor.ts
  packages/examples/src/quickstart/simple-coffee-machine.ts
  packages/examples/src/quickstart/smart-clock.ts
  packages/examples/src/scripts/smart-coffee-machine-client.ts
  packages/examples/src/scripts/smart-coffee-machine.ts
  packages/examples/src/testthing/testclient.ts
  packages/examples/src/testthing/testthing.ts
Owners: @danielpeintner, @relu91

refactor: Use interface for consume
  packages/core/src/wot-impl.ts
Owners: @danielpeintner, @relu91, @JKRhb

chore: fix version consistency
  package-lock.json
  packages/binding-file/package.json
  packages/binding-mbus/package.json
  packages/binding-netconf/package.json
Owners: @danielpeintner, @relu91

use node16 resolution to prepare for latest version of node-opcua
  package-lock.json
  packages/binding-opcua/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/core/src/content-serdes.ts
  packages/core/src/exposed-thing.ts
  packages/core/src/protocol-helpers.ts
  packages/core/test/ProtocolHelpersStreamTest.ts
  tsconfig.json
Owners: @danielpeintner, @relu91, @JKRhb

opcua: handle nsu in nodeId (fixing #1334)
  package-lock.json
  packages/binding-opcua/package.json
  packages/binding-opcua/src/opcua-protocol-client.ts
  packages/binding-opcua/test/fixture/basic-opcua-server.ts
  packages/binding-opcua/test/full-opcua-thing-test.ts
Owners: @danielpeintner, @relu91
