Repository eclipse-thingweb/node-wot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan, @mkovatsc

.github/CODEOWNERS:

# Default owners (used as a fallback, last matching pattern takes the most precedence)
* @danielpeintner @relu91

# CoAP-Binding
/packages/binding-coap/ @JKRhb

# HTTP-Binding
/packages/binding-http/ @danielpeintner @relu91

# Mbus-Binding
# /packages/binding-modbus/

# Modbus-Binding
/packages/binding-modbus/ @relu91

# MQTT-Binding
/packages/binding-mqtt/ @sebastiankb @egekorkan

# NETCONF Binding
# /packages/binding-netconf/

# OPCUA Binding
# /packages/binding-opcua/

# WebSockets Binding
# /packages/binding-websockets/

# Browser Bundle
/packages/browser-bundle/ @danielpeintner @relu91

# CLI
/packages/browser-bundle/ @danielpeintner @relu91 @mkovatsc

# Core
/packages/core/ @danielpeintner @relu91 @JKRhb

# TD Tools
/packages/td-tools/ @danielpeintner @relu91

refactor: revert and change method
  packages/binding-coap/src/coap-server.ts
  packages/binding-http/src/http-server.ts
  packages/binding-websockets/src/ws-server.ts
  packages/core/src/helpers.ts
  packages/core/test/HelpersTest.ts
Owners: @JKRhb, @danielpeintner, @relu91

refactor: solve lint rules
  packages/binding-coap/src/coap-server.ts
  packages/core/src/helpers.ts
  packages/core/test/HelpersTest.ts
Owners: @JKRhb, @danielpeintner, @relu91

refactor: generate unique names/urls locally
  packages/binding-coap/src/coap-server.ts
  packages/binding-http/src/http-server.ts
  packages/binding-websockets/src/ws-server.ts
  packages/core/src/helpers.ts
Owners: @JKRhb, @danielpeintner, @relu91

refactor: add counter to differentiate instead of infinite underscores
  packages/binding-coap/src/coap-server.ts
  packages/binding-http/src/http-server.ts
  packages/binding-websockets/src/ws-server.ts
Owners: @JKRhb, @danielpeintner, @relu91

chore: add Node.js v24 to CI workflow
  .github/workflows/ci.yaml
Owners: @danielpeintner, @relu91

refactor: generate unique names/urls locally (#1375)
  packages/binding-coap/src/coap-server.ts
  packages/binding-http/src/http-server.ts
  packages/binding-websockets/src/ws-server.ts
  packages/core/src/helpers.ts
Owners: @JKRhb, @danielpeintner, @relu91

chore: increase version numbers to 0.9.2 for next release
  package-lock.json
  packages/binding-coap/package.json
  packages/binding-file/package.json
  packages/binding-http/package.json
  packages/binding-mbus/package.json
  packages/binding-modbus/package.json
  packages/binding-mqtt/package.json
  packages/binding-netconf/package.json
  packages/binding-opcua/package.json
  packages/binding-websockets/package.json
  packages/browser-bundle/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/examples/package.json
Owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan, @mkovatsc

chore: increase version numbers to 0.9.2 for next release (#1378)
  package-lock.json
  packages/binding-coap/package.json
  packages/binding-file/package.json
  packages/binding-http/package.json
  packages/binding-mbus/package.json
  packages/binding-modbus/package.json
  packages/binding-mqtt/package.json
  packages/binding-netconf/package.json
  packages/binding-opcua/package.json
  packages/binding-websockets/package.json
  packages/browser-bundle/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/examples/package.json
Owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan, @mkovatsc

chore: update dependencies
  examples/templates/exposed-thing/package.json
  package-lock.json
  package.json
  packages/binding-coap/package.json
  packages/binding-modbus/package.json
  packages/core/package.json
  packages/examples/src/security/oauth/package.json
Owners: @danielpeintner, @relu91, @JKRhb

chore: update dependency @thingweb/thing-model to version 1.0.4
  package-lock.json
  packages/cli/package.json
  packages/core/package.json
Owners: @danielpeintner, @relu91, @JKRhb

chore: remove unused dependencies for core
  package-lock.json
  packages/core/package.json
Owners: @danielpeintner, @relu91, @JKRhb

chore: remove unused dependencies for cli
  package-lock.json
  packages/cli/package.json
Owners: @danielpeintner, @relu91

chore: remove unused dependencies for binding-http
  package-lock.json
  packages/binding-http/package.json
Owners: @danielpeintner, @relu91

chore: remove unused dependencies for binding-websockets
  package-lock.json
  packages/binding-websockets/package.json
Owners: @danielpeintner, @relu91

chore: remove unused dependencies for browser
  package-lock.json
  packages/browser-bundle/package.json
Owners: @danielpeintner, @relu91, @mkovatsc

chore: remove unused dependencies for examples
  package-lock.json
  packages/examples/package.json
Owners: @danielpeintner, @relu91

chore: revert, add some dependencies back
  package-lock.json
  packages/binding-http/package.json
  packages/binding-websockets/package.json
  packages/core/package.json
Owners: @danielpeintner, @relu91, @JKRhb

add back binding reference
  package-lock.json
  packages/binding-websockets/package.json
Owners: @danielpeintner, @relu91

docs: align with the current form/code-style and counter example
  API.md
Owners: @danielpeintner, @relu91

docs: add prerequisites
  API.md
Owners: @danielpeintner, @relu91

feat: enhance browser examples with improved interaction handling and styling
  examples/browser/index.html
  examples/browser/index.js
  examples/browser/smart-coffee-machine.html
  examples/browser/styles.css
Owners: @danielpeintner, @relu91

restoring mistake deletion
  examples/browser/index.html
Owners: @danielpeintner, @relu91

fix formattng
  examples/browser/index.html
Owners: @danielpeintner, @relu91

docs: align with the current form/code-style and counter example (#1386)
  API.md
Owners: @danielpeintner, @relu91

chore: add @jspm/core@2.1.0 back
  package-lock.json
  packages/browser-bundle/package.json
Owners: @danielpeintner, @relu91, @mkovatsc

refactor: moved custom tabs to end. added desciption and td error is showed on the page instead of window
  examples/browser/index.html
  examples/browser/index.js
Owners: @danielpeintner, @relu91

feat: add Enter key functionality to fetch TD URL and refactor clearAllInteractions function
  examples/browser/index.html
  examples/browser/index.js
Owners: @danielpeintner, @relu91

refactor: streamline error handling, hide td desc when error, simlified code
  examples/browser/index.js
Owners: @danielpeintner, @relu91

feat: enhance browser examples, added tab menu and auto consume and improvise ui (#1387)
  examples/browser/index.html
  examples/browser/index.js
  examples/browser/smart-coffee-machine.html
  examples/browser/styles.css
Owners: @danielpeintner, @relu91

docs: update links to online things
  README.md
Owners: @danielpeintner, @relu91

chore: remove duplicated AJV dependency from binding-opcua and cli
  package-lock.json
  packages/binding-opcua/package.json
  packages/cli/package.json
Owners: @danielpeintner, @relu91

chore: update wot-typescript-definitions to v 0.8.0-SNAPSHOT.31
  package-lock.json
  package.json
  packages/binding-coap/package.json
  packages/binding-modbus/package.json
  packages/examples/src/security/oauth/package.json
Owners: @danielpeintner, @relu91, @JKRhb

refactor: add "empty" ActionInteractionOutput
  packages/core/src/consumed-thing.ts
  packages/core/src/interaction-output.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor: do validation for synchronous action
  packages/core/src/consumed-thing.ts
  packages/core/src/interaction-output.ts
Owners: @danielpeintner, @relu91, @JKRhb

fix: validation test
  packages/core/test/InteractionOutputTest.ts
Owners: @danielpeintner, @relu91, @JKRhb

Dockerized counter
  counter-test/.gitignore
  counter-test/docker-compose.yml
  counter-test/test-script.sh
  examples/scripts/counter-thing/.dockerignore
  examples/scripts/counter-thing/Dockerfile
  examples/scripts/counter-thing/README.md
  examples/scripts/counter-thing/counter-thing.td.json
  examples/scripts/counter-thing/package-lock.json
  examples/scripts/counter-thing/package.json
  examples/scripts/counter-thing/src/main.ts
  examples/scripts/counter-thing/tsconfig.json
Owners: @danielpeintner, @relu91

docs: update links to online things (#1393)
  README.md
Owners: @danielpeintner, @relu91

refactor: avoid external contentType processing for OPC UA
  packages/binding-opcua/src/codec.ts
  packages/binding-opcua/src/opcua-protocol-client.ts
Owners: @danielpeintner, @relu91

refactor: move removing contentType just before returning
  packages/binding-opcua/src/opcua-protocol-client.ts
Owners: @danielpeintner, @relu91

refactor: remove contentType only if not handled by internal OPC UA Codecs
  packages/binding-opcua/src/opcua-protocol-client.ts
Owners: @danielpeintner, @relu91
