Repository eclipse-thingweb/node-wot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan, @mkovatsc

ci: add a total timeout of 30 minutes
  .github/workflows/ci.yaml
Owners: @danielpeintner, @relu91

fixup! feat!: improve file client implementation
  packages/binding-file/test/file-client-test.ts
Owners: @danielpeintner, @relu91

fix: use `getOwnPropertyNames` instead of `sort`
  packages/core/src/codecs/octetstream-codec.ts
Owners: @danielpeintner, @relu91, @JKRhb

feat!: improve file client implementation (#1175)
  packages/binding-file/README.md
  packages/binding-file/package.json
  packages/binding-file/src/file-client.ts
  packages/binding-file/test/.gitignore
  packages/binding-file/test/file-client-test.ts
Owners: @danielpeintner, @relu91

fix: simplify `writeBits`
  packages/core/src/codecs/octetstream-codec.ts
Owners: @danielpeintner, @relu91, @JKRhb

chore: upgrade ts-node to 10.9.1
  package-lock.json
  packages/cli/package.json
  packages/examples/src/security/oauth/package.json
Owners: @danielpeintner, @relu91

test: skip MQTT broker test on macOS
  packages/binding-mqtt/test/mqtt-client-subscribe-test.integration.ts
Owners: @sebastiankb, @egekorkan

test(mqtt): make use of broker server more type-safe
  packages/binding-mqtt/test/mqtt-client-subscribe-test.integration.ts
Owners: @sebastiankb, @egekorkan

fixup! test: skip MQTT broker test on macOS
  packages/binding-mqtt/test/mqtt-client-subscribe-test.integration.ts
Owners: @sebastiankb, @egekorkan

refactor: favor WoT.requestThingDescription instead of general fetch
  examples/scripts/counter-client.js
  examples/scripts/smart-coffee-machine-client.js
  examples/security/oauth/consumer.js
  examples/testthing/testclient.js
  packages/examples/src/bindings/coap/example-client.ts
  packages/examples/src/bindings/http/example-client.ts
  packages/examples/src/scripts/counter-client.ts
  packages/examples/src/scripts/smart-coffee-machine-client.ts
  packages/examples/src/security/oauth/consumer.ts
  packages/examples/src/testthing/testclient.ts
Owners: @danielpeintner, @relu91

docs: use requestThingDescription() instead of fetch in examples
  API.md
  README.md
  packages/binding-coap/README.md
  packages/binding-http/README.md
Owners: @danielpeintner, @relu91, @JKRhb

test(binding-file): use asynchronous unlink for file deletion
  packages/binding-file/test/file-client-test.ts
Owners: @danielpeintner, @relu91

docs: fix that WoT needs to be generated/started first
  README.md
Owners: @danielpeintner, @relu91

docs: fix examples for CoAP and HTTP w.r.t servient.start()
  packages/examples/src/bindings/coap/example-client.ts
  packages/examples/src/bindings/http/example-client.ts
Owners: @danielpeintner, @relu91

docs: fix missing start()
  packages/binding-coap/README.md
  packages/binding-http/README.md
Owners: @JKRhb, @danielpeintner, @relu91

test(binding-file): use asynchronous unlink for file deletion (#1185)
  packages/binding-file/test/file-client-test.ts
Owners: @danielpeintner, @relu91

docs: remove error prefix as suggest by @JKRhb
  README.md
Owners: @danielpeintner, @relu91

refactor(binding-mqtt): upgrade to mqtt 5.0.0 - prefer async API methods
  package-lock.json
  packages/binding-mqtt/package.json
  packages/binding-mqtt/src/mqtt-client.ts
  packages/binding-mqtt/test/mqtt-client-subscribe-test.integration.ts
  packages/binding-mqtt/test/mqtt-client-subscribe-test.unit.ts
Owners: @danielpeintner, @relu91, @sebastiankb, @egekorkan

feat(binding-mqtt): use a message pool for each broker
  packages/binding-mqtt/src/mqtt-client.ts
  packages/binding-mqtt/src/mqtt-message-pool.ts
  packages/binding-mqtt/test/mqtt-client-subscribe-test.unit.ts
Owners: @sebastiankb, @egekorkan

refactor(binding-mqtt): use the new vocabulary
  packages/binding-mqtt/src/mqtt-client.ts
  packages/binding-mqtt/src/mqtt.ts
  packages/binding-mqtt/test/mqtt-client-subscribe-test.unit.ts
Owners: @sebastiankb, @egekorkan

fix(binding-mqtt): generate qos for events
  packages/binding-file/test/test2.txt
  packages/binding-mqtt/src/mqtt-broker-server.ts
  packages/binding-mqtt/src/mqtt-client.ts
  packages/binding-mqtt/src/util.ts
Owners: @danielpeintner, @relu91, @sebastiankb, @egekorkan

fixup! fix(binding-mqtt): generate qos for events
  packages/binding-file/test/test2.txt
Owners: @danielpeintner, @relu91

test(binding-mqtt): increse retries and correctly call done if error
  packages/binding-mqtt/test/mqtt-client-subscribe-test.integration.ts
Owners: @sebastiankb, @egekorkan

fix(coap-server): ignore incoming messages with an invalid source port
  packages/binding-coap/src/coap-server.ts
Owners: @JKRhb

ci: re-run failed test steps with debug logging enabled
  .github/workflows/ci.yaml
Owners: @danielpeintner, @relu91

fixup! ci: re-run failed test steps with debug logging enabled
  .github/workflows/ci.yaml
Owners: @danielpeintner, @relu91

fixup! ci: re-run failed test steps with debug logging enabled
  .github/workflows/ci.yaml
Owners: @danielpeintner, @relu91

fixup! ci: re-run failed test steps with debug logging enabled
  .github/workflows/ci.yaml
Owners: @danielpeintner, @relu91

fixup! ci: re-run failed test steps with debug logging enabled
  .github/workflows/ci.yaml
Owners: @danielpeintner, @relu91

fixup! fix(coap-server): ignore incoming messages with an invalid source port
  packages/binding-coap/src/coap-server.ts
Owners: @JKRhb

fixup! fix(coap-server): ignore incoming messages with an invalid source port
  packages/binding-coap/src/coap-server.ts
Owners: @JKRhb

fix(coap-server): ignore incoming requests with an invalid source port (#1188)
  packages/binding-coap/src/coap-server.ts
Owners: @JKRhb

fixup! ci: re-run failed test steps with debug logging enabled
  .github/workflows/ci.yaml
Owners: @danielpeintner, @relu91

fix: return correct Buffer in `valueToString`, fix: re-add contentType parameter `length`
  packages/core/src/codecs/octetstream-codec.ts
  packages/core/test/ContentSerdesTest.ts
Owners: @danielpeintner, @relu91, @JKRhb

docs: align import/require style in READMEs
  README.md
  packages/binding-file/README.md
  packages/binding-http/README.md
  packages/binding-mqtt/README.md
  packages/td-tools/README.md
Owners: @danielpeintner, @relu91, @sebastiankb, @egekorkan

docs: align quotes to "
  README.md
Owners: @danielpeintner, @relu91

ci: re-run failed test steps with debug logging enabled (#1189)
  .github/workflows/ci.yaml
Owners: @danielpeintner, @relu91

feat(content-serdes): add application/ld+json to supported Content-Types
  packages/core/src/content-serdes.ts
Owners: @danielpeintner, @relu91, @JKRhb

feat(core): implement `exploreDirectory` method
  packages/core/src/wot-impl.ts
Owners: @danielpeintner, @relu91, @JKRhb

fixup! feat(core): implement `exploreDirectory` method
  packages/core/src/wot-impl.ts
Owners: @danielpeintner, @relu91, @JKRhb

.github/CODEOWNERS:

# Default owners (used as a fallback, last matching pattern takes the most precedence)
* @danielpeintner @relu91

# CoAP-Binding
/packages/binding-coap/ @JKRhb

# HTTP-Binding
/packages/binding-http/ @danielpeintner @relu91

# Mbus-Binding
# /packages/binding-modbus/

# Modbus-Binding
/packages/binding-modbus/ @relu91

# MQTT-Binding
/packages/binding-mqtt/ @sebastiankb @egekorkan

# NETCONF Binding
# /packages/binding-netconf/

# OPCUA Binding
# /packages/binding-opcua/

# WebSockets Binding
# /packages/binding-websockets/

# Browser Bundle
/packages/browser-bundle/ @danielpeintner @relu91

# CLI
/packages/browser-bundle/ @danielpeintner @relu91 @mkovatsc

# Core
/packages/core/ @danielpeintner @relu91 @JKRhb

# TD Tools
/packages/td-tools/ @danielpeintner @relu91
