Repository eclipse-thingweb/node-wot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan, @mkovatsc

refactor: extend TD validation error
  packages/core/src/wot-impl.ts
Owners: @danielpeintner, @relu91, @JKRhb

Update exposer.js
  examples/security/oauth/exposer.js
Owners: @danielpeintner, @relu91

refactor: report HTTP fetch errors as such
  packages/binding-http/src/http-client-impl.ts
Owners: @danielpeintner, @relu91

refactor: make test happy which checks for specific error message
  packages/binding-http/src/http-client-impl.ts
Owners: @danielpeintner, @relu91

refactor: add checkFetchResponse after each doFetch
  packages/binding-http/src/http-client-impl.ts
Owners: @danielpeintner, @relu91

chore: update node-mbus to v2.2.6 (supports Node.js 24)
  package-lock.json
  packages/binding-mbus/package.json
Owners: @danielpeintner, @relu91

Update README.md
  packages/binding-modbus/README.md
Owners: @relu91

refactor: add possibility to register ContentCodec with scheme
  packages/core/src/content-serdes.ts
  packages/core/test/ContentSerdesTest.ts
Owners: @danielpeintner, @relu91, @JKRhb

feat(binding-http): add HTTP content-encoding
  packages/binding-http/src/http-client-impl.ts
Owners: @danielpeintner, @relu91

feat(core): add support for combo security ComboSecurityScheme #1416
  packages/core/src/consumed-thing.ts
  packages/core/test/ClientTest.ts
Owners: @danielpeintner, @relu91, @JKRhb

fix esm parsing issue in test with node 22.00 by upgrading mocha
  package-lock.json
  package.json
Owners: @danielpeintner, @relu91

feat(core): ensure combo resolution doesn't go into infinite loop #1416
  packages/core/src/consumed-thing.ts
  packages/core/test/ClientTest.ts
Owners: @danielpeintner, @relu91, @JKRhb

feat(binding-opcua): Add channel security support #1401
  package-lock.json
  packages/binding-opcua/package.json
  packages/binding-opcua/src/factory.ts
  packages/binding-opcua/src/opcua-protocol-client.ts
  packages/binding-opcua/test/fixture/basic-opcua-server.ts
  packages/binding-opcua/test/opcua-security-test.ts
  packages/core/src/thing-description.ts
Owners: @danielpeintner, @relu91, @JKRhb

fix esm parsing issue in test with node 22.00 by upgrading mocha
  package-lock.json
  package.json
Owners: @danielpeintner, @relu91

chore: fix version consistency issues
  package-lock.json
  packages/binding-coap/package.json
  packages/binding-file/package.json
  packages/binding-mbus/package.json
  packages/binding-modbus/package.json
  packages/binding-mqtt/package.json
  packages/binding-netconf/package.json
  packages/binding-opcua/package.json
Owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan

fix esm parsing issue in test with node 22.00 by upgrading mocha, and fix "rxjs" package version consistency issue (#1418)
  package-lock.json
  package.json
  packages/binding-coap/package.json
  packages/binding-file/package.json
  packages/binding-mbus/package.json
  packages/binding-modbus/package.json
  packages/binding-mqtt/package.json
  packages/binding-netconf/package.json
  packages/binding-opcua/package.json
Owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan

feat(core): ensure combo resolution doesn't go into infinite loop #1416
  packages/core/src/consumed-thing.ts
  packages/core/test/ClientTest.ts
Owners: @danielpeintner, @relu91, @JKRhb

feat(core): add support for combo security ComboSecurityScheme #1416
  packages/core/src/consumed-thing.ts
  packages/core/test/ClientTest.ts
Owners: @danielpeintner, @relu91, @JKRhb

feat(core): refine combo security scheme implementation #1416
  packages/core/src/consumed-thing.ts
  packages/core/src/thing-description.ts
  packages/core/test/ClientTest.ts
Owners: @danielpeintner, @relu91, @JKRhb

feat(core): add validation for combo security schemes #1416
  packages/core/src/consumed-thing.ts
  packages/core/test/ClientTest.ts
Owners: @danielpeintner, @relu91, @JKRhb

feat(core): add support for combo security #1416 (#1417)
  packages/core/src/consumed-thing.ts
  packages/core/src/thing-description.ts
  packages/core/test/ClientTest.ts
Owners: @danielpeintner, @relu91, @JKRhb

feat(binding-opcua): Add channel security support #1401
  package-lock.json
  packages/binding-opcua/package.json
  packages/binding-opcua/src/factory.ts
  packages/binding-opcua/src/opcua-protocol-client.ts
  packages/binding-opcua/test/fixture/basic-opcua-server.ts
  packages/binding-opcua/test/opcua-security-test.ts
  packages/core/src/thing-description.ts
Owners: @danielpeintner, @relu91, @JKRhb

feat(binding-opcua): add method to reflect on current connected user authenticated and security in demo server
  packages/binding-opcua/test/fixture/basic-opcua-server.ts
  packages/binding-opcua/test/who_am_i-test.ts
Owners: @danielpeintner, @relu91

feat(binding-opcua): improve channel security test
  packages/binding-opcua/src/opcua-protocol-client.ts
  packages/binding-opcua/test/opcua-security-test.ts
Owners: @danielpeintner, @relu91

chore(binding-opcua): relax settings in .mocharc.yml
  packages/binding-opcua/.mocharc.yml
Owners: @danielpeintner, @relu91

chore(binding-opcua) #1401 use uav: prefix for new opcua security schemes
  packages/binding-opcua/src/opcua-protocol-client.ts
  packages/binding-opcua/test/opcua-security-test.ts
Owners: @danielpeintner, @relu91

chore(core): #1401 use uav: prefix for new opcua security schemes used in tests
  packages/core/src/thing-description.ts
  packages/core/test/ClientTest.ts
Owners: @danielpeintner, @relu91, @JKRhb

feat(binding-opcua): move OPCUA security schema to binding-opcua #1401
  packages/binding-opcua/src/index.ts
  packages/binding-opcua/src/opcua-protocol-client.ts
  packages/binding-opcua/src/security_scheme.ts
  packages/binding-opcua/test/opcua-security-test.ts
  packages/core/src/thing-description.ts
Owners: @danielpeintner, @relu91, @JKRhb

chore(core): make the tests about the combo scheme generic.
  packages/core/test/ClientTest.ts
Owners: @danielpeintner, @relu91, @JKRhb

chore(thing-description): remove unused SecurityType #1419
  packages/core/src/thing-description.ts
Owners: @danielpeintner, @relu91, @JKRhb

chore(thing-description): deprecate SecurityType #1419
  packages/core/src/thing-description.ts
Owners: @danielpeintner, @relu91, @JKRhb

chore(thing-description): deprecate SecurityType #1419 (#1420)
  packages/core/src/thing-description.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor(binding-opcua): move cert mgt and security resolution
  packages/binding-opcua/src/certificate-manager-singleton.ts
  packages/binding-opcua/src/factory.ts
  packages/binding-opcua/src/opcua-protocol-client.ts
  packages/binding-opcua/src/opcua-security-resolver.ts
  packages/binding-opcua/test/opcua-security-test.ts
Owners: @danielpeintner, @relu91

feat(core): add support for AutoSecurityScheme #1421
  packages/core/src/thing-description.ts
  packages/core/test/ClientTest.ts
Owners: @danielpeintner, @relu91, @JKRhb

feat(binding-opcua): implement Auto Security Scheme for OPC UA #1401
  packages/binding-opcua/src/find-most-secure-channel.ts
  packages/binding-opcua/src/opcua-protocol-client.ts
  packages/binding-opcua/test/opcua-security-test.ts
Owners: @danielpeintner, @relu91

chore(opcua-binding): fix file naming inconsistency #1423
  packages/binding-opcua/src/find-most-secure-channel.ts
  packages/binding-opcua/src/index.ts
  packages/binding-opcua/src/opcua-protocol-client.ts
  packages/binding-opcua/src/opcua-security-resolver.ts
  packages/binding-opcua/src/security-scheme.ts
  packages/binding-opcua/test/who-am-i-test.ts
Owners: @danielpeintner, @relu91

Feature: add auto secure scheme support in binding-opcua (#1425)
  packages/binding-opcua/src/find-most-secure-channel.ts
  packages/binding-opcua/src/index.ts
  packages/binding-opcua/src/opcua-protocol-client.ts
  packages/binding-opcua/src/opcua-security-resolver.ts
  packages/binding-opcua/src/security-scheme.ts
  packages/binding-opcua/test/opcua-security-test.ts
  packages/binding-opcua/test/who-am-i-test.ts
Owners: @danielpeintner, @relu91

chore: upgrade to eslint 9 #1426
  .eslintignore
  .eslintrc.js
  eslint.config.mjs
  package-lock.json
  package.json
  packages/binding-coap/.eslintrc.json
  packages/binding-coap/src/coap-client.ts
  packages/binding-file/.eslintrc.json
  packages/binding-http/.eslintrc.json
  packages/binding-mbus/.eslintrc.json
  packages/binding-modbus/.eslintrc.json
  packages/binding-mqtt/.eslintrc.json
  packages/binding-netconf/.eslintrc.json
  packages/binding-opcua/.eslintrc.json
  packages/binding-websockets/.eslintrc.json
  packages/cli/.eslintrc.json
  packages/core/.eslintrc.json
  packages/core/src/protocol-helpers.ts
  packages/examples/.eslintrc.json
Owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan

chore(eslint): enfore no-console rule
  eslint.config.mjs
Owners: @danielpeintner, @relu91

chore(eslint): activate @typescript-eslint/no-floating-promises rule as warning
  eslint.config.mjs
Owners: @danielpeintner, @relu91

.github/CODEOWNERS:

# Default owners (used as a fallback, last matching pattern takes the most precedence)
* @danielpeintner @relu91

# CoAP-Binding
/packages/binding-coap/ @JKRhb

# HTTP-Binding
/packages/binding-http/ @danielpeintner @relu91

# Mbus-Binding
# /packages/binding-modbus/

# Modbus-Binding
/packages/binding-modbus/ @relu91

# MQTT-Binding
/packages/binding-mqtt/ @sebastiankb @egekorkan

# NETCONF Binding
# /packages/binding-netconf/

# OPCUA Binding
# /packages/binding-opcua/

# WebSockets Binding
# /packages/binding-websockets/

# Browser Bundle
/packages/browser-bundle/ @danielpeintner @relu91

# CLI
/packages/browser-bundle/ @danielpeintner @relu91 @mkovatsc

# Core
/packages/core/ @danielpeintner @relu91 @JKRhb

# TD Tools
/packages/td-tools/ @danielpeintner @relu91
