Repository eclipse-thingweb/node-wot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan, @mkovatsc

.github/CODEOWNERS:

# Default owners (used as a fallback, last matching pattern takes the most precedence)
* @danielpeintner @relu91

# CoAP-Binding
/packages/binding-coap/ @JKRhb

# HTTP-Binding
/packages/binding-http/ @danielpeintner @relu91

# Mbus-Binding
# /packages/binding-modbus/

# Modbus-Binding
/packages/binding-modbus/ @relu91

# MQTT-Binding
/packages/binding-mqtt/ @sebastiankb @egekorkan

# NETCONF Binding
# /packages/binding-netconf/

# OPCUA Binding
# /packages/binding-opcua/

# WebSockets Binding
# /packages/binding-websockets/

# Browser Bundle
/packages/browser-bundle/ @danielpeintner @relu91

# CLI
/packages/browser-bundle/ @danielpeintner @relu91 @mkovatsc

# Core
/packages/core/ @danielpeintner @relu91 @JKRhb

# TD Tools
/packages/td-tools/ @danielpeintner @relu91

fix: opcua typos
  packages/binding-opcua/test/full-opcua-thing-test.ts
Owners: @danielpeintner, @relu91

fix: ws typo
  packages/binding-websockets/src/ws-server.ts
Owners: @danielpeintner, @relu91

fix: cli typos
  packages/cli/src/cli-default-servient.ts
  packages/cli/src/cli.ts
Owners: @danielpeintner, @relu91

fix: typos in core
  packages/core/src/consumed-thing.ts
  packages/core/src/protocol-helpers.ts
  packages/core/src/wot-impl.ts
  packages/core/test/DiscoveryTest.ts
  packages/core/test/ProtocolListnerRegistryTest.ts
Owners: @danielpeintner, @relu91, @JKRhb

add missing file (should have been renamed)
  packages/core/test/ProtocolListenerRegistryTest.ts
Owners: @danielpeintner, @relu91, @JKRhb

fix(coap): wrong error variable name (#1285)
  packages/binding-coap/src/coap-server.ts
Owners: @JKRhb

refactor: fix warning in VS code
  packages/binding-modbus/test/modbus-client-test.ts
Owners: @relu91

chore: update to node-mbus@2.2.4
  package-lock.json
  packages/binding-mbus/package.json
Owners: @danielpeintner, @relu91

chore: increase version numbers to 0.8.15 for next release
  package-lock.json
  packages/binding-coap/package.json
  packages/binding-file/package.json
  packages/binding-http/package.json
  packages/binding-mbus/package.json
  packages/binding-modbus/package.json
  packages/binding-mqtt/package.json
  packages/binding-netconf/package.json
  packages/binding-opcua/package.json
  packages/binding-websockets/package.json
  packages/browser-bundle/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/examples/package.json
  packages/td-tools/package.json
Owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan, @mkovatsc

chore: increase version numbers to 0.8.15 for next release (#1291)
  package-lock.json
  packages/binding-coap/package.json
  packages/binding-file/package.json
  packages/binding-http/package.json
  packages/binding-mbus/package.json
  packages/binding-modbus/package.json
  packages/binding-mqtt/package.json
  packages/binding-netconf/package.json
  packages/binding-opcua/package.json
  packages/binding-websockets/package.json
  packages/browser-bundle/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/examples/package.json
  packages/td-tools/package.json
Owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan, @mkovatsc

refactor: upgrade node-coap
  packages/binding-coap/package.json
Owners: @JKRhb

refactor: recreate package-lock.json
  package-lock.json
Owners: @danielpeintner, @relu91

refactor: update @types/readable-stream in node-wot
  package.json
Owners: @danielpeintner, @relu91

refactor: recreated package-lock.json
  package-lock.json
Owners: @danielpeintner, @relu91

fix: SSE event data reporting
  packages/binding-http/src/subscription-protocols.ts
  packages/binding-http/test/http-client-test.ts
Owners: @danielpeintner, @relu91

refactor: stabilize test
  packages/binding-http/test/http-client-test.ts
Owners: @danielpeintner, @relu91

fix: SSE data reporting (#1298)
  packages/binding-http/src/subscription-protocols.ts
  packages/binding-http/test/http-client-test.ts
Owners: @danielpeintner, @relu91

refactor: update mocha tests with --unhandled-rejections=strict
  packages/binding-coap/package.json
  packages/binding-file/package.json
  packages/binding-http/package.json
  packages/binding-http/test/http-client-test.ts
  packages/binding-http/test/http-server-test.ts
  packages/binding-mbus/package.json
  packages/binding-modbus/package.json
  packages/binding-mqtt/package.json
  packages/binding-mqtt/test/mqtt-client-subscribe-test.integration.ts
  packages/binding-netconf/package.json
  packages/binding-opcua/package.json
  packages/binding-websockets/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/core/test/ServerTest.ts
  packages/td-tools/package.json
Owners: @JKRhb, @danielpeintner, @relu91, @sebastiankb, @egekorkan

test: skip mqtt client test
  packages/binding-mqtt/test/mqtt-client-subscribe-test.unit.ts
Owners: @sebastiankb, @egekorkan

refactor: use a default contentType of application/json in Forms
  packages/td-tools/src/thing-description.ts
Owners: @danielpeintner, @relu91

refactor: remove now obsolete nullish coalescing
  packages/binding-coap/src/coap-client.ts
  packages/binding-coap/src/coap-server.ts
  packages/binding-coap/src/coaps-client.ts
  packages/binding-http/src/subscription-protocols.ts
  packages/binding-modbus/src/modbus-connection.ts
  packages/binding-mqtt/src/mqtt-broker-server.ts
  packages/binding-mqtt/src/mqtt-client.ts
  packages/binding-opcua/src/opcua-protocol-client.ts
  packages/core/src/exposed-thing.ts
Owners: @JKRhb, @danielpeintner, @relu91, @sebastiankb, @egekorkan

fixup! refactor: remove now obsolete nullish coalescing
  packages/binding-opcua/src/opcua-protocol-client.ts
  packages/core/src/exposed-thing.ts
Owners: @danielpeintner, @relu91, @JKRhb

Update package.json
  package.json
Owners: @danielpeintner, @relu91

Update package-lock.json
  package-lock.json
Owners: @danielpeintner, @relu91

Update package-lock.json
  package-lock.json
Owners: @danielpeintner, @relu91

refactor: rerun process for re-creating package-lock.json
  package-lock.json
Owners: @danielpeintner, @relu91

chore(deps): upgrade node-coap to version 1.4.0
  packages/binding-coap/package.json
Owners: @JKRhb

chore(deps): update @types/readable-stream in node-wot
  package.json
Owners: @danielpeintner, @relu91

chore(binding-modbus): upgrade modbus-serial to version 8.0.17
  packages/binding-modbus/package.json
Owners: @relu91

chore(binding-mbus): upgrade node-mbus to version 2.2.4
  packages/binding-mbus/package.json
Owners: @danielpeintner, @relu91

test(binding-modbus): use correct socketError event name
  packages/binding-modbus/test/test-modbus-server.ts
Owners: @relu91

refactor: recreate package-lock.json
  package-lock.json
Owners: @danielpeintner, @relu91

ci: add Node 22 to the CI matrix
  .github/workflows/ci.yaml
Owners: @danielpeintner, @relu91

test: skip mbus tests under windows
  packages/binding-mbus/test/mbus-client-test.ts
  packages/binding-mbus/test/mbus-connection-test.ts
Owners: @danielpeintner, @relu91

Upgrade dependencies, skip mbus tests under Windows, use Node 22 in CI (#1302)
  .github/workflows/ci.yaml
  package-lock.json
  package.json
  packages/binding-coap/package.json
  packages/binding-mbus/package.json
  packages/binding-mbus/test/mbus-client-test.ts
  packages/binding-mbus/test/mbus-connection-test.ts
  packages/binding-modbus/package.json
  packages/binding-modbus/test/test-modbus-server.ts
Owners: @danielpeintner, @relu91, @JKRhb

chore: add `guard-for-in` eslint rule
  .eslintrc.js
  packages/binding-coap/src/mdns-introducer.ts
  packages/binding-http/src/http-browser.ts
  packages/binding-http/src/routes/thing-description.ts
  packages/binding-mqtt/src/mqtt-broker-server.ts
  packages/binding-netconf/src/codecs/netconf-codec.ts
  packages/binding-websockets/src/ws-server.ts
  packages/core/src/codecs/netconf-codec.ts
  packages/core/src/codecs/octetstream-codec.ts
  packages/core/src/consumed-thing.ts
  packages/core/src/exposed-thing.ts
  packages/core/src/helpers.ts
  packages/core/src/servient.ts
  packages/td-tools/src/td-parser.ts
  packages/td-tools/src/thing-description.ts
  packages/td-tools/src/thing-model-helpers.ts
  packages/td-tools/test/TDParseTest.ts
Owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan

refactor: remove obsolete netconf codec from core package
  packages/core/src/codecs/netconf-codec.ts
  packages/core/src/core.ts
Owners: @danielpeintner, @relu91, @JKRhb

chore(td-tools): deprecate thing-model-helpers' exports
  packages/td-tools/src/thing-model-helpers.ts
Owners: @danielpeintner, @relu91

refactor: remove obsolete netconf codec from core package (#1305)
  packages/core/src/codecs/netconf-codec.ts
  packages/core/src/core.ts
Owners: @danielpeintner, @relu91, @JKRhb

chore(td-tools): fix grammar
  packages/td-tools/src/thing-model-helpers.ts
Owners: @danielpeintner, @relu91
