Repository eclipse-thingweb/node-wot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan, @mkovatsc

.github/CODEOWNERS:

# Default owners (used as a fallback, last matching pattern takes the most precedence)
* @danielpeintner @relu91

# CoAP-Binding
/packages/binding-coap/ @JKRhb

# HTTP-Binding
/packages/binding-http/ @danielpeintner @relu91

# Mbus-Binding
# /packages/binding-modbus/

# Modbus-Binding
/packages/binding-modbus/ @relu91

# MQTT-Binding
/packages/binding-mqtt/ @sebastiankb @egekorkan

# NETCONF Binding
# /packages/binding-netconf/

# OPCUA Binding
# /packages/binding-opcua/

# WebSockets Binding
# /packages/binding-websockets/

# Browser Bundle
/packages/browser-bundle/ @danielpeintner @relu91

# CLI
/packages/browser-bundle/ @danielpeintner @relu91 @mkovatsc

# Core
/packages/core/ @danielpeintner @relu91 @JKRhb

# TD Tools
/packages/td-tools/ @danielpeintner @relu91

chore: use correct quotation
  packages/binding-modbus/src/modbus-client.ts
Owners: @relu91

docs: add full client example to readme
  packages/binding-modbus/README.md
Owners: @relu91

chore: add semicolon for empty example
  packages/binding-modbus/README.md
Owners: @relu91

docs: adapt comment on generating forms
  packages/binding-modbus/src/modbus-client.ts
Owners: @relu91

fix: align data types with xml schema
  packages/binding-modbus/src/modbus.ts
Owners: @relu91

refactor: create new form instead of overwriting
  packages/binding-modbus/src/modbus-client.ts
Owners: @relu91

style: fix colon spacing
  packages/binding-modbus/src/modbus-client.ts
Owners: @relu91

chore: increase version numbers to 0.8.14 for next release
  package-lock.json
  packages/binding-coap/package.json
  packages/binding-file/package.json
  packages/binding-http/package.json
  packages/binding-mbus/package.json
  packages/binding-modbus/package.json
  packages/binding-mqtt/package.json
  packages/binding-netconf/package.json
  packages/binding-opcua/package.json
  packages/binding-websockets/package.json
  packages/browser-bundle/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/examples/package.json
  packages/td-tools/package.json
Owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan, @mkovatsc

chore(ci): disable husky git hooks install
  .github/workflows/ci.yaml
Owners: @danielpeintner, @relu91

chore: refactor package-lock.json
  package-lock.json
Owners: @danielpeintner, @relu91

chore: try "npm i --package-lock-only" based on old file
  package-lock.json
Owners: @danielpeintner, @relu91

refactor: avoid adding schemas to AJV
  packages/core/src/interaction-output.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor: use the same agent etc for requestThingDescription as with any other interaction
  packages/binding-http/src/http-client-impl.ts
Owners: @danielpeintner, @relu91

fix: move serverKey and serverCert under http
  packages/cli/src/wot-servient-schema.conf.json
Owners: @danielpeintner, @relu91

refactor(binding-mqtt/mqtt-broker-server): move listening to start method
  packages/binding-mqtt/src/mqtt-broker-server.ts
Owners: @sebastiankb, @egekorkan

chore: add Node.js 22 to matrix
  .github/workflows/ci.yaml
Owners: @danielpeintner, @relu91

fix(binding-mqtt/mqtt-client): add missing await
  packages/binding-mqtt/src/mqtt-client.ts
Owners: @sebastiankb, @egekorkan

chore: update mbus dependency
  package-lock.json
  packages/binding-mbus/package.json
Owners: @danielpeintner, @relu91

fix(binding-mqtt/mqtt-client): add missing await (#1275)
  packages/binding-mqtt/src/mqtt-client.ts
Owners: @sebastiankb, @egekorkan

chore: upgrade modbus dependency modbus-serial to v8.0.16
  package-lock.json
  packages/binding-modbus/package.json
Owners: @danielpeintner, @relu91

fix: test issue w.r.t. error name
  packages/binding-modbus/test/test-modbus-server.ts
Owners: @relu91

fix(typo): in credential-test.ts
  packages/binding-http/test/credential-test.ts
Owners: @danielpeintner, @relu91

fix(typo): in credential-test.ts (#1277)
  packages/binding-http/test/credential-test.ts
Owners: @danielpeintner, @relu91

test: add testcase for async action
  packages/core/src/interaction-output.ts
  packages/core/test/ClientTest.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor: allow to specify whether we want to have DataSchema validation
  packages/core/src/consumed-thing.ts
  packages/core/src/interaction-output.ts
  packages/core/test/ClientTest.ts
  packages/core/test/InteractionOutputTest.ts
Owners: @danielpeintner, @relu91, @JKRhb

docs: remove now useless comment
  packages/core/src/interaction-output.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor: align flag using ignoreValidation everywhere
  packages/core/src/interaction-output.ts
Owners: @danielpeintner, @relu91, @JKRhb

test(binding-http/http-client-test): use correct name for invoking and writing tests
  packages/binding-http/test/http-client-test.ts
Owners: @danielpeintner, @relu91

fix(binding-http): present the accept header according to TD specification
  packages/binding-http/src/http-client-impl.ts
  packages/binding-http/test/http-client-test.ts
Owners: @danielpeintner, @relu91

refactor: introduce anonymous InteractionOutput options parameter
  packages/core/src/consumed-thing.ts
  packages/core/src/interaction-output.ts
  packages/core/test/InteractionOutputTest.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor: make ignoreValidation required
  packages/core/src/consumed-thing.ts
Owners: @danielpeintner, @relu91, @JKRhb

docs(binding-http/http-client-impl): correct code comment
  packages/binding-http/src/http-client-impl.ts
Owners: @danielpeintner, @relu91

feat(binding-http/http-client-impl): console warning when no subprotcol
  packages/binding-http/src/http-client-impl.ts
Owners: @danielpeintner, @relu91

Update coap-server.ts
  packages/binding-coap/src/coap-server.ts
Owners: @JKRhb

fix: name/function clash
  packages/binding-coap/src/coap-server.ts
Owners: @JKRhb

fix: succesfully -> successfully
  packages/binding-coap/src/coap-server.ts
  packages/binding-mqtt/src/mqtt-broker-server.ts
  packages/binding-websockets/src/ws-server.ts
Owners: @JKRhb, @sebastiankb, @egekorkan, @danielpeintner, @relu91

fix: Errror -> Error
  packages/core/src/interaction-output.ts
Owners: @danielpeintner, @relu91, @JKRhb

fix: typos in coap
  packages/binding-coap/test/coap-client-test.ts
  packages/binding-coap/test/coap-server-test.ts
Owners: @JKRhb

fix: mbus
  packages/binding-mbus/src/mbus.ts
Owners: @danielpeintner, @relu91

fix: modbus typos
  packages/binding-modbus/test/modbus-client-test.ts
Owners: @relu91
