Repository eclipse-thingweb/node-wot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan, @mkovatsc

.github/CODEOWNERS:

# Default owners (used as a fallback, last matching pattern takes the most precedence)
* @danielpeintner @relu91

# CoAP-Binding
/packages/binding-coap/ @JKRhb

# HTTP-Binding
/packages/binding-http/ @danielpeintner @relu91

# Mbus-Binding
# /packages/binding-modbus/

# Modbus-Binding
/packages/binding-modbus/ @relu91

# MQTT-Binding
/packages/binding-mqtt/ @sebastiankb @egekorkan

# NETCONF Binding
# /packages/binding-netconf/

# OPCUA Binding
# /packages/binding-opcua/

# WebSockets Binding
# /packages/binding-websockets/

# Browser Bundle
/packages/browser-bundle/ @danielpeintner @relu91

# CLI
/packages/browser-bundle/ @danielpeintner @relu91 @mkovatsc

# Core
/packages/core/ @danielpeintner @relu91 @JKRhb

# TD Tools
/packages/td-tools/ @danielpeintner @relu91

fixup! feat!: add proposal for new discovery API
  packages/core/src/wot-impl.ts
Owners: @danielpeintner, @relu91, @JKRhb

fixup! feat!: add proposal for new discovery API
  packages/core/src/wot-impl.ts
Owners: @danielpeintner, @relu91, @JKRhb

fixup! feat!: add proposal for new discovery API
  packages/binding-coap/src/coap-client.ts
  packages/binding-http/src/http-client-impl.ts
Owners: @JKRhb, @danielpeintner, @relu91

fixup! feat!: add proposal for new discovery API
  packages/core/src/wot-impl.ts
Owners: @danielpeintner, @relu91, @JKRhb

fixup! feat!: add proposal for new discovery API
  packages/core/src/protocol-interfaces.ts
Owners: @danielpeintner, @relu91, @JKRhb

fixup! feat!: add proposal for new discovery API
  packages/core/src/wot-impl.ts
Owners: @danielpeintner, @relu91, @JKRhb

fixup! feat!: add proposal for new discovery API
  packages/core/src/wot-impl.ts
Owners: @danielpeintner, @relu91, @JKRhb

fixup! feat!: add proposal for new discovery API
  packages/core/src/wot-impl.ts
Owners: @danielpeintner, @relu91, @JKRhb

fixup! feat!: add proposal for new discovery API
  packages/core/src/wot-impl.ts
Owners: @danielpeintner, @relu91, @JKRhb

feat: add initial requestThingDescription implementation
  packages/binding-coap/src/coap-client.ts
  packages/binding-coap/src/coaps-client.ts
  packages/binding-file/src/file-client.ts
  packages/binding-http/src/http-client-impl.ts
  packages/binding-mbus/src/mbus-client.ts
  packages/binding-modbus/src/modbus-client.ts
  packages/binding-mqtt/src/mqtt-client.ts
  packages/binding-netconf/src/netconf-client.ts
  packages/binding-opcua/src/opcua-protocol-client.ts
  packages/binding-websockets/src/ws-client.ts
  packages/core/src/protocol-interfaces.ts
  packages/core/src/wot-impl.ts
  packages/core/test/ClientTest.ts
Owners: @JKRhb, @danielpeintner, @relu91, @sebastiankb, @egekorkan

feat: implement requestThingDescription for FileClient
  packages/binding-file/src/file-client.ts
Owners: @danielpeintner, @relu91

fixup! feat: add initial requestThingDescription implementation
  packages/core/src/wot-impl.ts
Owners: @danielpeintner, @relu91, @JKRhb

docs(README): use correct variable name in client example
  README.md
Owners: @danielpeintner, @relu91

docs(README): use correct variable name in client example (#1167)
  README.md
Owners: @danielpeintner, @relu91

feat(core): add helper function to fetch a TD
  packages/core/src/helpers.ts
  packages/examples/src/bindings/coap/example-client.ts
  packages/examples/src/bindings/http/example-client.ts
  packages/examples/src/scripts/counter-client.ts
  packages/examples/src/scripts/smart-coffee-machine-client.ts
  packages/examples/src/security/oauth/consumer.ts
  packages/examples/src/testthing/testclient.ts
Owners: @danielpeintner, @relu91, @JKRhb

fixup! feat: implement requestThingDescription for FileClient
  packages/binding-file/src/file-client.ts
Owners: @danielpeintner, @relu91

fixup! feat: add initial requestThingDescription implementation
  packages/core/src/wot-impl.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor: add fetchTD tests for HTTP
  packages/binding-http/test/http-client-test.ts
Owners: @danielpeintner, @relu91

docs: typo
  packages/core/src/helpers.ts
Owners: @danielpeintner, @relu91, @JKRhb

fixup! feat: implement requestThingDescription for FileClient
  packages/binding-file/src/file-client.ts
Owners: @danielpeintner, @relu91

fixup! feat: add initial requestThingDescription implementation
  packages/core/src/wot-impl.ts
Owners: @danielpeintner, @relu91, @JKRhb

fix(binding-modbus/modbus-connection): clean up operations when timeout
  packages/binding-modbus/src/modbus-connection.ts
  packages/binding-modbus/test/modbus-connection-test.ts
Owners: @relu91

feat: add semantic composed thing
  packages/core/src/semantic-consumed-thing.ts
Owners: @danielpeintner, @relu91, @JKRhb

fix re-vert moving contentType parameters to schema, sort properties before iterating over them
  packages/core/src/codecs/octetstream-codec.ts
  packages/core/test/ContentSerdesTest.ts
Owners: @danielpeintner, @relu91, @JKRhb

fix: statisfy linter
  packages/core/src/codecs/octetstream-codec.ts
  packages/core/test/ContentSerdesTest.ts
Owners: @danielpeintner, @relu91, @JKRhb

fix: remove console.debug
  packages/core/src/codecs/octetstream-codec.ts
Owners: @danielpeintner, @relu91, @JKRhb

feat: add initial requestThingDescription implementation (#1166)
  packages/binding-coap/src/coap-client.ts
  packages/binding-coap/src/coaps-client.ts
  packages/binding-file/src/file-client.ts
  packages/binding-http/src/http-client-impl.ts
  packages/binding-mbus/src/mbus-client.ts
  packages/binding-modbus/src/modbus-client.ts
  packages/binding-mqtt/src/mqtt-client.ts
  packages/binding-netconf/src/netconf-client.ts
  packages/binding-opcua/src/opcua-protocol-client.ts
  packages/binding-websockets/src/ws-client.ts
  packages/core/src/protocol-interfaces.ts
  packages/core/src/wot-impl.ts
  packages/core/test/ClientTest.ts
Owners: @JKRhb, @danielpeintner, @relu91, @sebastiankb, @egekorkan

fixup! fix(binding-modbus/modbus-connection): clean up operations when timeout
  packages/binding-modbus/src/modbus-connection.ts
Owners: @relu91

fixup! feat!: improve file client implementation
  packages/binding-file/src/file-client.ts
Owners: @danielpeintner, @relu91

fixup! feat!: improve file client implementation
  packages/binding-file/src/file-client.ts
Owners: @danielpeintner, @relu91

feat!: improve file client implementation
  packages/binding-file/README.md
  packages/binding-file/package.json
  packages/binding-file/src/file-client.ts
  packages/binding-file/test/.gitignore
  packages/binding-file/test/file-client-test.ts
Owners: @danielpeintner, @relu91

fixup! feat!: improve file client implementation
  packages/binding-file/README.md
Owners: @danielpeintner, @relu91

fixup! feat!: improve file client implementation
  packages/binding-file/README.md
Owners: @danielpeintner, @relu91

fixup! feat!: improve file client implementation
  packages/binding-file/README.md
  packages/binding-file/src/file-client.ts
Owners: @danielpeintner, @relu91

refactor: use a default contentType of application/json in Forms
  packages/td-tools/src/thing-description.ts
Owners: @danielpeintner, @relu91

refactor: remove now obsolete nullish coalescing
  packages/binding-coap/src/coap-client.ts
  packages/binding-coap/src/coap-server.ts
  packages/binding-coap/src/coaps-client.ts
  packages/binding-http/src/subscription-protocols.ts
  packages/binding-modbus/src/modbus-connection.ts
  packages/binding-mqtt/src/mqtt-broker-server.ts
  packages/binding-mqtt/src/mqtt-client.ts
  packages/binding-opcua/src/opcua-protocol-client.ts
  packages/core/src/consumed-thing.ts
  packages/core/src/exposed-thing.ts
Owners: @JKRhb, @danielpeintner, @relu91, @sebastiankb, @egekorkan

fixup! refactor: remove now obsolete nullish coalescing
  packages/binding-opcua/src/opcua-protocol-client.ts
  packages/core/src/exposed-thing.ts
Owners: @danielpeintner, @relu91, @JKRhb

fix(binding-modbus): clean up operations when timeout (#1173)
  packages/binding-modbus/src/modbus-connection.ts
  packages/binding-modbus/test/modbus-connection-test.ts
Owners: @relu91

fixup! feat!: improve file client implementation
  packages/binding-file/src/file-client.ts
Owners: @danielpeintner, @relu91

fixup! feat!: improve file client implementation
  packages/binding-file/test/.gitignore
Owners: @danielpeintner, @relu91
