Repository eclipse-thingweb/node-wot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan, @mkovatsc

refactor(AID): reflect latest security representation
  packages/td-tools/src/util/asset-interface-description.ts
  packages/td-tools/test/AssetInterfaceDescriptionTest.ts
  packages/td-tools/test/util/counterHTTP.json
  packages/td-tools/test/util/inverterModbus.json
Owners: @danielpeintner, @relu91

refactor: revert back to *old* way of cloning
  packages/core/src/exposed-thing.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor: properly start server
  .vscode/launch.json
  packages/cli/src/cli-default-servient.ts
Owners: @danielpeintner, @relu91

refactor(AID): report proper valueType for value (#1149)
  packages/td-tools/src/util/asset-interface-description.ts
  packages/td-tools/test/AssetInterfaceDescriptionTest.ts
Owners: @danielpeintner, @relu91

fix: resolve GitHub runner issues on MacOs
  .github/workflows/ci.yaml
Owners: @danielpeintner, @relu91

fix: resolve GitHub runner issues on MacOs (#1155)
  .github/workflows/ci.yaml
Owners: @danielpeintner, @relu91

refactor(AID): reflect latest security representation (#1150)
  packages/td-tools/src/util/asset-interface-description.ts
  packages/td-tools/test/AssetInterfaceDescriptionTest.ts
  packages/td-tools/test/util/counterHTTP.json
  packages/td-tools/test/util/inverterModbus.json
Owners: @danielpeintner, @relu91

feat: add AID JSON Schema
  packages/td-tools/test/AssetInterfaceDescriptionTest.ts
  packages/td-tools/test/tsconfig.json
  packages/td-tools/test/util/AIDSchema.json
  packages/td-tools/test/util/counterHTTP.aasx
  packages/td-tools/test/util/counterHTTP.json
Owners: @danielpeintner, @relu91

fix: use updated JSON schema
  packages/td-tools/test/util/AIDSchema.json
Owners: @danielpeintner, @relu91

fix: JSON schema restricting to valueType to xs:string only
  packages/td-tools/test/util/AIDSchema.json
Owners: @danielpeintner, @relu91

fix: JSON schema w.r.t. schema definitions restriction
  packages/td-tools/test/util/AIDSchema.json
Owners: @danielpeintner, @relu91

refactor: add AID JSON schema validation to tests
  packages/td-tools/src/util/asset-interface-description.ts
  packages/td-tools/test/AssetInterfaceDescriptionTest.ts
  packages/td-tools/test/util/inverterModbus.json
Owners: @danielpeintner, @relu91

refactor: update logging (for skipped test)
  packages/td-tools/test/AssetInterfaceDescriptionTest.ts
Owners: @danielpeintner, @relu91

refactor: look for "base" in property forms if not available
  packages/td-tools/src/util/asset-interface-description.ts
  packages/td-tools/test/AssetInterfaceDescriptionTest.ts
Owners: @danielpeintner, @relu91

refactor(td-tools/AID): add AID JSON schema (#1157)
  packages/td-tools/src/util/asset-interface-description.ts
  packages/td-tools/test/AssetInterfaceDescriptionTest.ts
  packages/td-tools/test/tsconfig.json
  packages/td-tools/test/util/AIDSchema.json
  packages/td-tools/test/util/counterHTTP.aasx
  packages/td-tools/test/util/counterHTTP.json
  packages/td-tools/test/util/inverterModbus.json
Owners: @danielpeintner, @relu91

chore: add more tests
  packages/core/src/codecs/octetstream-codec.ts
  packages/core/test/ContentSerdesTest.ts
Owners: @danielpeintner, @relu91, @JKRhb

chore: increase version numbers to 0.8.11 for next release
  package-lock.json
  packages/binding-coap/package.json
  packages/binding-file/package.json
  packages/binding-http/package.json
  packages/binding-mbus/package.json
  packages/binding-modbus/package.json
  packages/binding-mqtt/package.json
  packages/binding-netconf/package.json
  packages/binding-opcua/package.json
  packages/binding-websockets/package.json
  packages/browser-bundle/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/examples/package.json
  packages/td-tools/package.json
Owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan, @mkovatsc

chore: increase version numbers to 0.8.11 for next release (#1160)
  package-lock.json
  packages/binding-coap/package.json
  packages/binding-file/package.json
  packages/binding-http/package.json
  packages/binding-mbus/package.json
  packages/binding-modbus/package.json
  packages/binding-mqtt/package.json
  packages/binding-netconf/package.json
  packages/binding-opcua/package.json
  packages/binding-websockets/package.json
  packages/browser-bundle/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/examples/package.json
  packages/td-tools/package.json
Owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan, @mkovatsc

refactor: add semantiId to AID forms
  packages/td-tools/src/util/asset-interface-description.ts
  packages/td-tools/test/AssetInterfaceDescriptionTest.ts
Owners: @danielpeintner, @relu91

refactor: add required AID terms (if missing) based on op
  packages/td-tools/src/util/asset-interface-description.ts
  packages/td-tools/test/AssetInterfaceDescriptionTest.ts
Owners: @danielpeintner, @relu91

chore: update TS versions
  package-lock.json
  packages/binding-coap/package.json
  packages/binding-mbus/package.json
  packages/binding-modbus/package.json
  packages/examples/src/security/oauth/package.json
  packages/td-tools/package.json
Owners: @danielpeintner, @relu91, @JKRhb

chore: adapt WoTImpl
  package-lock.json
  package.json
  packages/core/src/wot-impl.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor: add required AID terms (if missing) based on op (#1164)
  packages/td-tools/src/util/asset-interface-description.ts
  packages/td-tools/test/AssetInterfaceDescriptionTest.ts
Owners: @danielpeintner, @relu91

refactor: add semantiId to AID forms (#1162)
  packages/td-tools/src/util/asset-interface-description.ts
  packages/td-tools/test/AssetInterfaceDescriptionTest.ts
Owners: @danielpeintner, @relu91

chore!: bump tsc target to es2018
  tsconfig.json
Owners: @danielpeintner, @relu91

fixup! feat!: add proposal for new discovery API
  packages/core/src/wot-impl.ts
Owners: @danielpeintner, @relu91, @JKRhb

feat!: add proposal for new discovery API
  packages/core/src/wot-impl.ts
Owners: @danielpeintner, @relu91, @JKRhb

fixup! feat!: add proposal for new discovery API
  packages/binding-coap/src/coap-client.ts
  packages/binding-coap/src/coaps-client.ts
  packages/binding-file/src/file-client.ts
  packages/binding-mbus/src/mbus-client.ts
  packages/binding-modbus/src/modbus-client.ts
  packages/binding-mqtt/src/mqtt-client.ts
  packages/binding-netconf/src/netconf-client.ts
  packages/binding-opcua/src/opcua-protocol-client.ts
  packages/binding-websockets/src/ws-client.ts
Owners: @JKRhb, @danielpeintner, @relu91, @sebastiankb, @egekorkan

fixup! feat!: add proposal for new discovery API
  packages/binding-coap/src/coap-client.ts
  packages/binding-coap/src/coaps-client.ts
  packages/binding-file/src/file-client.ts
  packages/binding-http/src/http-client-impl.ts
  packages/binding-mbus/src/mbus-client.ts
  packages/binding-modbus/src/modbus-client.ts
  packages/binding-mqtt/src/mqtt-client.ts
  packages/binding-netconf/src/netconf-client.ts
  packages/binding-opcua/src/opcua-protocol-client.ts
  packages/binding-websockets/src/ws-client.ts
  packages/core/src/protocol-interfaces.ts
  packages/core/src/wot-impl.ts
Owners: @JKRhb, @danielpeintner, @relu91, @sebastiankb, @egekorkan

fixup! feat!: add proposal for new discovery API
  packages/core/test/ClientTest.ts
Owners: @danielpeintner, @relu91, @JKRhb

fixup! feat!: add proposal for new discovery API
  packages/core/src/wot-impl.ts
Owners: @danielpeintner, @relu91, @JKRhb

fixup! feat!: add proposal for new discovery API
  packages/core/test/ClientTest.ts
Owners: @danielpeintner, @relu91, @JKRhb

fixup! feat!: add proposal for new discovery API
  packages/core/example/example.js
  packages/core/src/wot-impl.ts
Owners: @danielpeintner, @relu91, @JKRhb

fixup! feat!: add proposal for new discovery API
  packages/core/example/example.js
  packages/core/src/wot-impl.ts
Owners: @danielpeintner, @relu91, @JKRhb

fixup! feat!: add proposal for new discovery API
  packages/core/example/example.js
Owners: @danielpeintner, @relu91, @JKRhb

fixup! feat!: add proposal for new discovery API
  packages/binding-coap/src/coap-client.ts
  packages/binding-coap/src/coaps-client.ts
  packages/binding-file/src/file-client.ts
  packages/binding-http/src/http-client-impl.ts
  packages/binding-mbus/src/mbus-client.ts
  packages/binding-modbus/src/modbus-client.ts
  packages/binding-mqtt/src/mqtt-client.ts
  packages/binding-netconf/src/netconf-client.ts
  packages/binding-opcua/src/opcua-protocol-client.ts
  packages/binding-websockets/src/ws-client.ts
  packages/core/example/example.js
  packages/core/src/protocol-interfaces.ts
  packages/core/src/wot-impl.ts
Owners: @JKRhb, @danielpeintner, @relu91, @sebastiankb, @egekorkan

fixup! feat!: add proposal for new discovery API
  packages/core/test/ClientTest.ts
Owners: @danielpeintner, @relu91, @JKRhb

fixup! feat!: add proposal for new discovery API
  packages/core/example/example.js
  packages/core/src/wot-impl.ts
Owners: @danielpeintner, @relu91, @JKRhb

fixup! feat!: add proposal for new discovery API
  packages/core/src/wot-impl.ts
Owners: @danielpeintner, @relu91, @JKRhb

fixup! feat!: add proposal for new discovery API
  packages/binding-coap/src/coaps-client.ts
  packages/binding-file/src/file-client.ts
  packages/binding-mbus/src/mbus-client.ts
  packages/binding-modbus/src/modbus-client.ts
  packages/binding-mqtt/src/mqtt-client.ts
  packages/binding-netconf/src/netconf-client.ts
  packages/binding-opcua/src/opcua-protocol-client.ts
  packages/binding-websockets/src/ws-client.ts
Owners: @JKRhb, @danielpeintner, @relu91, @sebastiankb, @egekorkan

.github/CODEOWNERS:

# Default owners (used as a fallback, last matching pattern takes the most precedence)
* @danielpeintner @relu91

# CoAP-Binding
/packages/binding-coap/ @JKRhb

# HTTP-Binding
/packages/binding-http/ @danielpeintner @relu91

# Mbus-Binding
# /packages/binding-modbus/

# Modbus-Binding
/packages/binding-modbus/ @relu91

# MQTT-Binding
/packages/binding-mqtt/ @sebastiankb @egekorkan

# NETCONF Binding
# /packages/binding-netconf/

# OPCUA Binding
# /packages/binding-opcua/

# WebSockets Binding
# /packages/binding-websockets/

# Browser Bundle
/packages/browser-bundle/ @danielpeintner @relu91

# CLI
/packages/browser-bundle/ @danielpeintner @relu91 @mkovatsc

# Core
/packages/core/ @danielpeintner @relu91 @JKRhb

# TD Tools
/packages/td-tools/ @danielpeintner @relu91
