Repository eclipse-thingweb/node-wot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan, @mkovatsc

fixup! fix(binding-mqtt): generate qos for events
  packages/binding-file/test/test2.txt
Owners: @danielpeintner, @relu91

fix(binding-mqtt): generate qos for events
  packages/binding-file/test/test2.txt
  packages/binding-mqtt/src/mqtt-broker-server.ts
  packages/binding-mqtt/src/mqtt-client.ts
  packages/binding-mqtt/src/util.ts
Owners: @danielpeintner, @relu91, @sebastiankb, @egekorkan

refactor(binding-mqtt): upgrade to mqtt 5.0.0 - prefer async API methods
  package-lock.json
  packages/binding-mqtt/package.json
  packages/binding-mqtt/src/mqtt-client.ts
  packages/binding-mqtt/test/mqtt-client-subscribe-test.integration.ts
  packages/binding-mqtt/test/mqtt-client-subscribe-test.unit.ts
Owners: @danielpeintner, @relu91, @sebastiankb, @egekorkan

refactor(binding-mqtt): use the new vocabulary
  packages/binding-mqtt/src/mqtt-client.ts
  packages/binding-mqtt/src/mqtt.ts
  packages/binding-mqtt/test/mqtt-client-subscribe-test.unit.ts
Owners: @sebastiankb, @egekorkan

test(binding-mqtt): increse retries and correctly call done if error
  packages/binding-mqtt/test/mqtt-client-subscribe-test.integration.ts
Owners: @sebastiankb, @egekorkan

feat(binding-mqtt): use a message pool for each broker
  packages/binding-mqtt/src/mqtt-client.ts
  packages/binding-mqtt/src/mqtt-message-pool.ts
  packages/binding-mqtt/test/mqtt-client-subscribe-test.unit.ts
Owners: @sebastiankb, @egekorkan

fixup! feat(core): implement `exploreDirectory` method
  packages/core/src/validation.ts
  packages/core/src/wot-impl.ts
Owners: @danielpeintner, @relu91, @JKRhb

Support Objects in octet-stream codec #1099 (#1125)
  packages/core/src/codecs/octetstream-codec.ts
  packages/core/test/ContentSerdesTest.ts
Owners: @danielpeintner, @relu91, @JKRhb

fixup! feat(core): implement `exploreDirectory` method
  packages/core/src/helpers.ts
  packages/core/src/validation.ts
Owners: @danielpeintner, @relu91, @JKRhb

test: add test for `exploreDirectory` method
  packages/core/test/DiscoveryTest.ts
Owners: @danielpeintner, @relu91, @JKRhb

fixup! test: add test for `exploreDirectory` method
  packages/core/test/DiscoveryTest.ts
Owners: @danielpeintner, @relu91, @JKRhb

fixup! feat(core): implement `exploreDirectory` method
  packages/core/src/helpers.ts
Owners: @danielpeintner, @relu91, @JKRhb

fixup! feat(core): implement `exploreDirectory` method
  packages/core/src/validation.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor: avoid starting servient multiple times
  packages/core/src/servient.ts
Owners: @danielpeintner, @relu91, @JKRhb

docs: small typo in HTTP readme
  packages/binding-http/README.md
Owners: @danielpeintner, @relu91

docs: minor typos in mbus README
  packages/binding-mbus/README.md
Owners: @danielpeintner, @relu91

docs: minor typos in modbus readme
  packages/binding-modbus/README.md
Owners: @relu91

docs: minor typo in MQTT readme
  packages/binding-mqtt/README.md
Owners: @sebastiankb, @egekorkan

docs: minor typo in netconf readme
  packages/binding-netconf/README.md
Owners: @danielpeintner, @relu91

docs: typos in OPCUA readme
  packages/binding-opcua/README.md
Owners: @danielpeintner, @relu91

docs: minor typo fixes for cli readme
  packages/cli/README.md
Owners: @danielpeintner, @relu91

docs: typo in AID readme
  packages/td-tools/src/util/README.md
Owners: @danielpeintner, @relu91

style: avoid nesting suggested by @JKRhb
  packages/core/src/servient.ts
Owners: @danielpeintner, @relu91, @JKRhb

docs: minor typos in mbus README (#1197)
  packages/binding-mbus/README.md
Owners: @danielpeintner, @relu91

docs: small typo in HTTP readme (#1196)
  packages/binding-http/README.md
Owners: @danielpeintner, @relu91

docs: minor typos in modbus readme (#1198)
  packages/binding-modbus/README.md
Owners: @relu91

docs: minor typo in MQTT readme (#1199)
  packages/binding-mqtt/README.md
Owners: @sebastiankb, @egekorkan

docs: minor typo in netconf readme (#1200)
  packages/binding-netconf/README.md
Owners: @danielpeintner, @relu91

Update packages/binding-opcua/README.md
  packages/binding-opcua/README.md
Owners: @danielpeintner, @relu91

refactor: use shutdown everywhere with #
  packages/core/src/servient.ts
Owners: @danielpeintner, @relu91, @JKRhb

docs(bindings-opcua): typos in OPCUA readme (#1201)
  packages/binding-opcua/README.md
Owners: @danielpeintner, @relu91

fixup! feat(core): implement `exploreDirectory` method
  packages/core/src/wot-impl.ts
Owners: @danielpeintner, @relu91, @JKRhb

fixup! feat(core): implement `exploreDirectory` method
  packages/core/src/wot-impl.ts
Owners: @danielpeintner, @relu91, @JKRhb

fixup! test: add test for `exploreDirectory` method
  packages/core/test/DiscoveryTest.ts
Owners: @danielpeintner, @relu91, @JKRhb

fixup! test: add test for `exploreDirectory` method
  packages/core/test/DiscoveryTest.ts
Owners: @danielpeintner, @relu91, @JKRhb

fixup! feat(core): implement `exploreDirectory` method
  packages/core/src/helpers.ts
  packages/core/src/validation.ts
Owners: @danielpeintner, @relu91, @JKRhb

fixup! feat(core): implement `exploreDirectory` method
  packages/core/src/validation.ts
  packages/core/src/wot-impl.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor(core): use validation functions for requestThingDescription
  packages/core/src/wot-impl.ts
Owners: @danielpeintner, @relu91, @JKRhb

fixup! test: add test for `exploreDirectory` method
  packages/core/test/DiscoveryTest.ts
Owners: @danielpeintner, @relu91, @JKRhb

fixup! test: add test for `exploreDirectory` method
  packages/core/test/DiscoveryTest.ts
Owners: @danielpeintner, @relu91, @JKRhb

.github/CODEOWNERS:

# Default owners (used as a fallback, last matching pattern takes the most precedence)
* @danielpeintner @relu91

# CoAP-Binding
/packages/binding-coap/ @JKRhb

# HTTP-Binding
/packages/binding-http/ @danielpeintner @relu91

# Mbus-Binding
# /packages/binding-modbus/

# Modbus-Binding
/packages/binding-modbus/ @relu91

# MQTT-Binding
/packages/binding-mqtt/ @sebastiankb @egekorkan

# NETCONF Binding
# /packages/binding-netconf/

# OPCUA Binding
# /packages/binding-opcua/

# WebSockets Binding
# /packages/binding-websockets/

# Browser Bundle
/packages/browser-bundle/ @danielpeintner @relu91

# CLI
/packages/browser-bundle/ @danielpeintner @relu91 @mkovatsc

# Core
/packages/core/ @danielpeintner @relu91 @JKRhb

# TD Tools
/packages/td-tools/ @danielpeintner @relu91
