Repository eclipse-thingweb/node-wot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan, @mkovatsc

chore(examples): use fixed version for mqtt binding
  packages/examples/package.json
Owners: @danielpeintner, @relu91

fix(binding-http/routes/property-observe): send headers at connection
  packages/binding-http/src/routes/property-observe.ts
Owners: @danielpeintner, @relu91

chore(examples): remove commented http server
  packages/examples/src/quickstart/smart-clock.ts
Owners: @danielpeintner, @relu91

chore(examples): change water tank min to 0
  packages/examples/src/quickstart/simple-coffee-machine.ts
Owners: @danielpeintner, @relu91

Revert "examples: remove unnecessary instructions"
  packages/examples/README.md
Owners: @danielpeintner, @relu91

examples: copy js files to root examples folder
  examples/quickstart/presence-sensor.js
  examples/quickstart/simple-coffee-machine.js
  examples/quickstart/smart-clock.js
Owners: @danielpeintner, @relu91

chore(examples): lint root level examples js files
  examples/quickstart/presence-sensor.js
  examples/quickstart/simple-coffee-machine.js
  examples/quickstart/smart-clock.js
Owners: @danielpeintner, @relu91

refactor: install/import fetch for Node prior to 18
  packages/td-tools/package.json
  packages/td-tools/test/AssetInterfaceDescriptionTest.ts
Owners: @danielpeintner, @relu91

chore: update lock file
  package-lock.json
Owners: @danielpeintner, @relu91

refactor: avoid adding node-fetch as dependency
  package-lock.json
  packages/td-tools/package.json
  packages/td-tools/test/AssetInterfaceDescriptionTest.ts
Owners: @danielpeintner, @relu91

refactor(examples): remove the Object.defineProperty preamble
  examples/quickstart/presence-sensor.js
  examples/quickstart/simple-coffee-machine.js
  examples/quickstart/smart-clock.js
Owners: @danielpeintner, @relu91

feat(examples): add a new set of Things to try out node-wot
  examples/quickstart/presence-sensor.js
  examples/quickstart/simple-coffee-machine.js
  examples/quickstart/smart-clock.js
  package-lock.json
  packages/examples/package.json
  packages/examples/src/quickstart/README.md
  packages/examples/src/quickstart/presence-sensor.ts
  packages/examples/src/quickstart/simple-coffee-machine.ts
  packages/examples/src/quickstart/smart-clock.ts
Owners: @danielpeintner, @relu91

refactor: keep jsonify as is
  packages/binding-opcua/src/codec.ts
Owners: @danielpeintner, @relu91

chore(binding-opcua): enable strict type checking (#1057)
  packages/binding-opcua/src/codec.ts
  packages/binding-opcua/src/opcua-protocol-client.ts
  packages/binding-opcua/test/client-test.ts
  packages/binding-opcua/test/full-opcua-thing-test.ts
  packages/binding-opcua/test/opcua-codec-test.ts
  packages/binding-opcua/tsconfig.json
Owners: @danielpeintner, @relu91

feat(http-binding): add supports for multiple security schemes
  examples/security/oauth/consumer.js
  examples/security/oauth/wot-server-servient-conf.json
  packages/binding-http/README.md
  packages/binding-http/src/http-server.ts
  packages/binding-http/src/http.ts
  packages/binding-http/src/routes/action.ts
  packages/binding-http/src/routes/common.ts
  packages/binding-http/src/routes/event.ts
  packages/binding-http/src/routes/properties.ts
  packages/binding-http/src/routes/property-observe.ts
  packages/binding-http/src/routes/property.ts
  packages/binding-http/test/http-server-oauth-tests.ts
  packages/binding-http/test/http-server-test.ts
  packages/examples/src/bindings/http/example-server-secure.ts
  packages/examples/src/security/oauth/consumer.ts
  packages/examples/src/security/oauth/wot-server-servient-conf.json
Owners: @danielpeintner, @relu91

refactor: wrap submodelElements in *one* AID submodel
  packages/td-tools/src/util/asset-interface-description.ts
  packages/td-tools/test/AssetInterfaceDescriptionTest.ts
Owners: @danielpeintner, @relu91

refactor: fix lint warnings
  packages/td-tools/src/util/asset-interface-description.ts
Owners: @danielpeintner, @relu91

refactor: skip online counter test
  packages/td-tools/test/AssetInterfaceDescriptionTest.ts
Owners: @danielpeintner, @relu91

refactor: remove out-dated samples and tests
  packages/td-tools/test/AssetInterfaceDescriptionTest.ts
  packages/td-tools/test/util/AID_v03.aasx
  packages/td-tools/test/util/AID_v03.json
  packages/td-tools/test/util/AID_v03_counter.aasx
  packages/td-tools/test/util/AID_v03_counter.json
Owners: @danielpeintner, @relu91

chore(binding-netconf): use ts strict checking
  packages/binding-netconf/src/async-node-netconf.ts
  packages/binding-netconf/src/codecs/netconf-codec.ts
  packages/binding-netconf/src/netconf-client.ts
  packages/binding-netconf/src/netconf.ts
  packages/binding-netconf/src/xpath2json.ts
  packages/binding-netconf/tsconfig.json
Owners: @danielpeintner, @relu91

refactor: update code for strict checking
  packages/binding-mbus/src/mbus-client.ts
  packages/binding-mbus/src/mbus-connection.ts
  packages/binding-mbus/test/mbus-client-test.ts
Owners: @danielpeintner, @relu91

chore(binding-netconf): use ts strict checking
  packages/binding-netconf/src/async-node-netconf.ts
  packages/binding-netconf/src/codecs/netconf-codec.ts
  packages/binding-netconf/src/netconf-client.ts
  packages/binding-netconf/src/netconf.ts
  packages/binding-netconf/src/xpath2json.ts
  packages/binding-netconf/tsconfig.json
Owners: @danielpeintner, @relu91

refactor: align with modbus
  packages/binding-mbus/src/mbus-connection.ts
Owners: @danielpeintner, @relu91

refactor: avoid nesting
  packages/binding-mbus/src/mbus-connection.ts
Owners: @danielpeintner, @relu91

chore(binding-mbus): enable strict type checking
  packages/binding-mbus/src/mbus-client.ts
  packages/binding-mbus/src/mbus-connection.ts
  packages/binding-mbus/test/mbus-client-test.ts
  packages/binding-mbus/tsconfig.json
Owners: @danielpeintner, @relu91

chore: use only base tsconfig strict
  packages/binding-coap/tsconfig.json
  packages/binding-file/tsconfig.json
  packages/binding-http/src/routes/action.ts
  packages/binding-http/src/routes/event.ts
  packages/binding-http/src/routes/properties.ts
  packages/binding-http/src/routes/property-observe.ts
  packages/binding-http/src/routes/property.ts
  packages/binding-http/src/routes/thing-description.ts
  packages/binding-http/test/http-server-test.ts
  packages/binding-http/tsconfig.json
  packages/binding-mbus/tsconfig.json
  packages/binding-modbus/test/test-modbus-server.ts
  packages/binding-modbus/tsconfig.json
  packages/binding-mqtt/tsconfig.json
  packages/binding-netconf/tsconfig.json
  packages/binding-opcua/tsconfig.json
  packages/binding-websockets/tsconfig.json
  packages/cli/tsconfig.json
  packages/core/tsconfig.json
  packages/examples/src/bindings/coap/example-client.ts
  packages/examples/src/bindings/http/example-client.ts
  packages/examples/tsconfig.json
  packages/td-tools/tsconfig.json
  tsconfig.json
Owners: @JKRhb, @danielpeintner, @relu91, @sebastiankb, @egekorkan

refactor(binding-http/http-server): rename supportedSecuritySchemes
  packages/binding-http/src/http-server.ts
Owners: @danielpeintner, @relu91

refactor(binding-http/routes/common): rename utility functions
  packages/binding-http/src/routes/action.ts
  packages/binding-http/src/routes/common.ts
  packages/binding-http/src/routes/event.ts
  packages/binding-http/src/routes/properties.ts
  packages/binding-http/src/routes/property-observe.ts
  packages/binding-http/src/routes/property.ts
  packages/binding-http/test/http-server-oauth-tests.ts
  packages/binding-http/test/http-server-test.ts
Owners: @danielpeintner, @relu91

fix(binding-http/routers): handle cors for no-thing paths
  examples/browser/counter.html
  packages/binding-http/src/routes/thing-description.ts
  packages/binding-http/src/routes/things.ts
Owners: @danielpeintner, @relu91

refactor: add support for thing metadata
  packages/td-tools/src/util/asset-interface-description.ts
  packages/td-tools/test/AssetInterfaceDescriptionTest.ts
Owners: @danielpeintner, @relu91

refactor: transform AAS description -> TD descriptions
  packages/td-tools/src/util/asset-interface-description.ts
  packages/td-tools/test/AssetInterfaceDescriptionTest.ts
Owners: @danielpeintner, @relu91

refactor: support title and descriptions
  packages/td-tools/src/util/asset-interface-description.ts
  packages/td-tools/test/AssetInterfaceDescriptionTest.ts
Owners: @danielpeintner, @relu91

chore(binding-coap): remove leftover typings
  packages/binding-coap/tsconfig.json
Owners: @JKRhb

fixup! fix(binding-http/routers): handle cors for no-thing paths
  examples/browser/counter.html
Owners: @danielpeintner, @relu91

chore: use only base tsconfig strict (#1073)
  packages/binding-coap/tsconfig.json
  packages/binding-file/tsconfig.json
  packages/binding-http/src/routes/action.ts
  packages/binding-http/src/routes/event.ts
  packages/binding-http/src/routes/properties.ts
  packages/binding-http/src/routes/property-observe.ts
  packages/binding-http/src/routes/property.ts
  packages/binding-http/src/routes/thing-description.ts
  packages/binding-http/test/http-server-test.ts
  packages/binding-http/tsconfig.json
  packages/binding-mbus/tsconfig.json
  packages/binding-modbus/test/test-modbus-server.ts
  packages/binding-modbus/tsconfig.json
  packages/binding-mqtt/tsconfig.json
  packages/binding-netconf/tsconfig.json
  packages/binding-opcua/tsconfig.json
  packages/binding-websockets/tsconfig.json
  packages/cli/tsconfig.json
  packages/core/tsconfig.json
  packages/examples/src/bindings/coap/example-client.ts
  packages/examples/src/bindings/http/example-client.ts
  packages/examples/tsconfig.json
  packages/td-tools/tsconfig.json
  tsconfig.json
Owners: @JKRhb, @danielpeintner, @relu91, @sebastiankb, @egekorkan

refactor: remove commented code
  packages/td-tools/src/util/asset-interface-description.ts
Owners: @danielpeintner, @relu91

refactor: move public (important methods) upfront
  packages/td-tools/src/util/asset-interface-description.ts
Owners: @danielpeintner, @relu91

refactor: allow TD to AID transformation without specifying protocol prefixes
  packages/td-tools/src/util/asset-interface-description.ts
  packages/td-tools/test/AssetInterfaceDescriptionTest.ts
Owners: @danielpeintner, @relu91

refactor: remove console.log with logInfo
  packages/td-tools/src/util/asset-interface-description.ts
Owners: @danielpeintner, @relu91

examples: add static address
  packages/examples/src/quickstart/simple-coffee-machine.ts
  packages/examples/src/quickstart/smart-clock.ts
Owners: @danielpeintner, @relu91

.github/CODEOWNERS:

# Default owners (used as a fallback, last matching pattern takes the most precedence)
* @danielpeintner @relu91

# CoAP-Binding
/packages/binding-coap/ @JKRhb

# HTTP-Binding
/packages/binding-http/ @danielpeintner @relu91

# Mbus-Binding
# /packages/binding-modbus/

# Modbus-Binding
/packages/binding-modbus/ @relu91

# MQTT-Binding
/packages/binding-mqtt/ @sebastiankb @egekorkan

# NETCONF Binding
# /packages/binding-netconf/

# OPCUA Binding
# /packages/binding-opcua/

# WebSockets Binding
# /packages/binding-websockets/

# Browser Bundle
/packages/browser-bundle/ @danielpeintner @relu91

# CLI
/packages/browser-bundle/ @danielpeintner @relu91 @mkovatsc

# Core
/packages/core/ @danielpeintner @relu91 @JKRhb

# TD Tools
/packages/td-tools/ @danielpeintner @relu91
