Repository eclipse-thingweb/node-wot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan, @mkovatsc

.github/CODEOWNERS:

# Default owners (used as a fallback, last matching pattern takes the most precedence)
* @danielpeintner @relu91

# CoAP-Binding
/packages/binding-coap/ @JKRhb

# HTTP-Binding
/packages/binding-http/ @danielpeintner @relu91

# Mbus-Binding
# /packages/binding-modbus/

# Modbus-Binding
/packages/binding-modbus/ @relu91

# MQTT-Binding
/packages/binding-mqtt/ @sebastiankb @egekorkan

# NETCONF Binding
# /packages/binding-netconf/

# OPCUA Binding
# /packages/binding-opcua/

# WebSockets Binding
# /packages/binding-websockets/

# Browser Bundle
/packages/browser-bundle/ @danielpeintner @relu91

# CLI
/packages/browser-bundle/ @danielpeintner @relu91 @mkovatsc

# Core
/packages/core/ @danielpeintner @relu91 @JKRhb

# TD Tools
/packages/td-tools/ @danielpeintner @relu91

chore: increase version numbers to 0.9.1 for next release
  package-lock.json
  packages/binding-coap/package.json
  packages/binding-file/package.json
  packages/binding-http/package.json
  packages/binding-mbus/package.json
  packages/binding-modbus/package.json
  packages/binding-mqtt/package.json
  packages/binding-netconf/package.json
  packages/binding-opcua/package.json
  packages/binding-websockets/package.json
  packages/browser-bundle/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/examples/package.json
  packages/td-tools/package.json
Owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan, @mkovatsc

refactor: run "npm pkg fix" (#1357)
  package.json
Owners: @danielpeintner, @relu91

chore: set modbus-serial version to "8.0.17"
  package-lock.json
  packages/binding-modbus/package.json
Owners: @danielpeintner, @relu91

Update browser-test.yml
  .github/workflows/browser-test.yml
Owners: @danielpeintner, @relu91

refactor: align browser examples with "WoT" global object
  examples/browser/counter.js
  examples/browser/index.js
  examples/browser/smart-coffee-machine.js
Owners: @danielpeintner, @relu91

docs: forgot readme
  packages/browser-bundle/README.md
Owners: @danielpeintner, @relu91, @mkovatsc

fix coding style issue once again
  packages/browser-bundle/README.md
Owners: @danielpeintner, @relu91, @mkovatsc

refactor: align browser examples with "WoT" global object (#1361)
  examples/browser/counter.js
  examples/browser/index.js
  examples/browser/smart-coffee-machine.js
  packages/browser-bundle/README.md
Owners: @danielpeintner, @relu91, @mkovatsc

style: npm run format
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  NOTICE.md
  README.md
  examples/quickstart/README.md
  examples/templates/exposed-thing/README.md
  packages/binding-coap/README.md
  packages/binding-file/README.md
  packages/binding-http/README.md
  packages/binding-mbus/README.md
  packages/binding-modbus/README.md
  packages/binding-modbus/src/modbus-client.ts
  packages/binding-mqtt/README.md
  packages/binding-netconf/README.md
  packages/binding-opcua/README.md
  packages/binding-opcua/src/opcua-protocol-client.ts
  packages/browser-bundle/README.md
  packages/cli/README.md
  packages/core/README.md
  packages/core/src/codecs/octetstream-codec.ts
  packages/examples/README.md
  packages/examples/src/quickstart/README.md
  packages/td-tools/README.md
  packages/td-tools/src/td-tools.ts
Owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan, @mkovatsc

chore: use more current prettier action
  .github/workflows/ci.yaml
Owners: @danielpeintner, @relu91

chore: add more prettier logging
  .github/workflows/ci.yaml
Owners: @danielpeintner, @relu91

chore: change prettier args
  .github/workflows/ci.yaml
Owners: @danielpeintner, @relu91

chore: add second prettier job
  .github/workflows/ci.yaml
Owners: @danielpeintner, @relu91

chore: add autofix for testing purposes
  .github/workflows/ci.yaml
  .github/workflows/prettier.yaml
Owners: @danielpeintner, @relu91

chore: yet another job
  .github/workflows/ci.yaml
  .github/workflows/prettier.yaml
Owners: @danielpeintner, @relu91

chore: version
  .github/workflows/ci.yaml
Owners: @danielpeintner, @relu91

chore: use prettier@3.3.3 exact version
  .github/workflows/ci.yaml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  NOTICE.md
  README.md
  examples/quickstart/README.md
  examples/templates/exposed-thing/README.md
  package-lock.json
  package.json
  packages/binding-coap/README.md
  packages/binding-file/README.md
  packages/binding-http/README.md
  packages/binding-mbus/README.md
  packages/binding-modbus/README.md
  packages/binding-mqtt/README.md
  packages/binding-netconf/README.md
  packages/binding-opcua/README.md
  packages/browser-bundle/README.md
  packages/cli/README.md
  packages/core/README.md
  packages/examples/README.md
  packages/examples/src/quickstart/README.md
  packages/td-tools/README.md
Owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan, @mkovatsc

style: npm run format
  CODE_OF_CONDUCT.md
  NOTICE.md
  examples/quickstart/README.md
  examples/templates/exposed-thing/README.md
  packages/binding-coap/README.md
  packages/binding-file/README.md
  packages/binding-http/README.md
  packages/binding-mbus/README.md
  packages/binding-modbus/README.md
  packages/binding-mqtt/README.md
  packages/binding-netconf/README.md
  packages/binding-opcua/README.md
  packages/browser-bundle/README.md
  packages/cli/README.md
  packages/core/README.md
  packages/examples/README.md
  packages/examples/src/quickstart/README.md
Owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan, @mkovatsc

style: npm run fomrat again
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  NOTICE.md
  README.md
  examples/quickstart/README.md
  examples/templates/exposed-thing/README.md
  packages/binding-coap/README.md
  packages/binding-file/README.md
  packages/binding-http/README.md
  packages/binding-mbus/README.md
  packages/binding-modbus/README.md
  packages/binding-mqtt/README.md
  packages/binding-netconf/README.md
  packages/binding-opcua/README.md
  packages/browser-bundle/README.md
  packages/cli/README.md
  packages/core/README.md
  packages/examples/README.md
  packages/examples/src/quickstart/README.md
Owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan, @mkovatsc

refactor: start trying to parse nodeId from href
  packages/binding-opcua/src/opcua-protocol-client.ts
Owners: @danielpeintner, @relu91

fix: lint issues
  packages/binding-opcua/src/opcua-protocol-client.ts
Owners: @danielpeintner, @relu91

chore: install url package
  package-lock.json
  packages/binding-opcua/package.json
Owners: @danielpeintner, @relu91

chore: add import for Node 18
  packages/binding-opcua/src/opcua-protocol-client.ts
Owners: @danielpeintner, @relu91

fix: url.parse' was deprecated. Use 'url.URL' constructor instead
  packages/binding-opcua/src/opcua-protocol-client.ts
Owners: @danielpeintner, @relu91

chore: add simple href parser tests
  packages/binding-opcua/src/opcua-protocol-client.ts
  packages/binding-opcua/test/opcua-href-test.ts
Owners: @danielpeintner, @relu91

chore(binding-http): update node-fetch to lastest cjs version
  package-lock.json
  packages/binding-http/package.json
Owners: @danielpeintner, @relu91

fix(binding-http): handle long streams as inputs for affordances
  packages/binding-http/src/http-client-impl.ts
Owners: @danielpeintner, @relu91

refactor: clean-up/remove interfaces that are not needed/used
  packages/binding-opcua/src/opcua-protocol-client.ts
  packages/binding-opcua/test/client-test.ts
Owners: @danielpeintner, @relu91

fix(binding-http): fix browser client to handle stream based requests
  packages/binding-http/src/http-client-browser.ts
  packages/binding-http/src/http-client-impl.ts
Owners: @danielpeintner, @relu91

refactor(binding-http): rename HttpClientImpl.fetch to doFetch
  packages/binding-http/src/http-client-impl.ts
  packages/binding-http/src/subscription-protocols.ts
Owners: @danielpeintner, @relu91

test: add href id tests
  packages/binding-opcua/test/client-test.ts
Owners: @danielpeintner, @relu91

refactor: server part expects special syntax in some cases
  packages/binding-opcua/test/client-test.ts
Owners: @danielpeintner, @relu91

docs: mark "opcua:nodeId" as deprecated
  packages/binding-opcua/src/opcua-protocol-client.ts
Owners: @danielpeintner, @relu91

refactor: update readme and examples
  packages/binding-opcua/README.md
  packages/examples/src/bindings/opcua/demo-opcua-thing-description.ts
Owners: @danielpeintner, @relu91

Update OPCUA README with proper example folder
  packages/binding-opcua/README.md
Owners: @danielpeintner, @relu91

chore: Node.js end of life
  .github/workflows/ci.yaml
  README.md
Owners: @danielpeintner, @relu91

docs: remove outdated information
  README.md
Owners: @danielpeintner, @relu91

20 -> 18
  README.md
Owners: @danielpeintner, @relu91

Update OPCUA README with proper example folder (#1371)
  packages/binding-opcua/README.md
Owners: @danielpeintner, @relu91

docs: remove outdated information (#1374)
  README.md
Owners: @danielpeintner, @relu91
