Repository eclipse-thingweb/node-wot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan, @mkovatsc

docs(README): add a warning about node version (#1025)
  README.md
Owners: @danielpeintner, @relu91

fix(binding-http/credential): use `?` instead of `| undefined`
  packages/binding-http/src/credential.ts
Owners: @danielpeintner, @relu91

Update packages/examples/src/scripts/countdown.ts
  packages/examples/src/scripts/countdown.ts
Owners: @danielpeintner, @relu91

Update packages/examples/src/scripts/countdown.ts
  packages/examples/src/scripts/countdown.ts
Owners: @danielpeintner, @relu91

refactor: simplify error printing
  packages/examples/src/testthing/testclient.ts
Owners: @danielpeintner, @relu91

refactor: simplify WoTHelpers usage
  examples/scripts/counter-client.js
  examples/scripts/smart-coffee-machine-client.js
  examples/security/oauth/consumer.js
  packages/examples/src/scripts/counter-client.ts
  packages/examples/src/scripts/smart-coffee-machine-client.ts
  packages/examples/src/security/oauth/consumer.ts
Owners: @danielpeintner, @relu91

refactor: simplify WoTHelpers usage (add missing updates for testthing)
  examples/testthing/testclient.js
  packages/examples/src/testthing/testclient.ts
Owners: @danielpeintner, @relu91

chore(binding-modbus): use ts strict checking
  packages/binding-modbus/src/modbus-client-factory.ts
  packages/binding-modbus/src/modbus-client.ts
  packages/binding-modbus/src/modbus-connection.ts
  packages/binding-modbus/test/modbus-connection-test.ts
  packages/binding-modbus/test/test-modbus-server.ts
  packages/binding-modbus/tsconfig.json
Owners: @relu91

chore(binding-websockets):use ts strict checking
  packages/binding-websockets/src/ws-client.ts
  packages/binding-websockets/src/ws-server.ts
  packages/binding-websockets/src/wss-client-factory.ts
  packages/binding-websockets/test/ws-tests.ts
  packages/binding-websockets/tsconfig.json
Owners: @danielpeintner, @relu91

fix: issue with using wrong arguments
  packages/td-tools/src/util/asset-interface-description.ts
Owners: @danielpeintner, @relu91

docs: update readme with the preferred way of using the interface
  packages/td-tools/src/util/README.md
Owners: @danielpeintner, @relu91

refactor: initial test (setup)
  packages/td-tools/src/util/asset-interface-description.ts
  packages/td-tools/test/AssetInterfaceDescriptionTest.ts
Owners: @danielpeintner, @relu91

mqtt: add strict type check to config
  packages/binding-mqtt/tsconfig.json
Owners: @sebastiankb, @egekorkan

mqtt: fix typo
  packages/binding-mqtt/src/mqtt.ts
Owners: @sebastiankb, @egekorkan

mqtt: start handling undefined types
  packages/binding-mqtt/src/mqtt-client.ts
Owners: @sebastiankb, @egekorkan

chore: run format
  packages/binding-mqtt/src/mqtt-client.ts
Owners: @sebastiankb, @egekorkan

style(binding-mqtt/mqtt-client): use ? instead of | undefined
  packages/binding-mqtt/src/mqtt-client.ts
Owners: @sebastiankb, @egekorkan

chore(binding-modbus/modbus-client-factory): remove leftovers when testing guards
  packages/binding-modbus/src/modbus-client-factory.ts
Owners: @relu91

chore(binding-coap): use ts strict checking
  packages/binding-coap/src/coap-client.ts
  packages/binding-coap/src/coap-server.ts
  packages/binding-coap/src/coaps-client.ts
  packages/binding-coap/test/coap-client-test.ts
  packages/binding-coap/test/coap-server-test.ts
  packages/binding-coap/tsconfig.json
Owners: @JKRhb

chore(binding-coap): use ts strict checking (#1054)
  packages/binding-coap/src/coap-client.ts
  packages/binding-coap/src/coap-server.ts
  packages/binding-coap/src/coaps-client.ts
  packages/binding-coap/test/coap-client-test.ts
  packages/binding-coap/test/coap-server-test.ts
  packages/binding-coap/tsconfig.json
Owners: @JKRhb

chore: remove unnecessary compiler option "strictFunctionTypes"
  packages/examples/tsconfig.json
Owners: @danielpeintner, @relu91

refactor: revert change that fetch returns ThingDescription
  packages/core/src/helpers.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor: forgot to remove ThingDescription import
  packages/core/src/helpers.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor(binding-modbus/modbus-connection): improve error messages in ModbusProperty
  packages/binding-modbus/src/modbus-connection.ts
Owners: @relu91

chore(binding-mbus): upgrade node-mbus
  package-lock.json
  packages/binding-mbus/package.json
Owners: @danielpeintner, @relu91

chore(ci): use at least Node 16 for all checks
  .github/workflows/ci-full.yaml
  .github/workflows/ci.yaml
Owners: @danielpeintner, @relu91

chore(ci): re-enable Node 20
  .github/workflows/ci-full.yaml
  .github/workflows/ci.yaml
Owners: @danielpeintner, @relu91

chore(binding-mqtt): use ts strict checking.
  packages/binding-mqtt/src/mqtt-broker-server.ts
  packages/binding-mqtt/src/mqtt-client.ts
  packages/binding-mqtt/test/mqtt-client-subscribe-test.integration.ts
  packages/binding-mqtt/test/mqtt-client-subscribe-test.unit.ts
Owners: @sebastiankb, @egekorkan

docs(README): remove reference to issue #1004
  README.md
Owners: @danielpeintner, @relu91

refactor: enable strict type checking
  packages/binding-opcua/src/codec.ts
  packages/binding-opcua/src/opcua-protocol-client.ts
  packages/binding-opcua/test/opcua-codec-test.ts
  packages/binding-opcua/tsconfig.json
Owners: @danielpeintner, @relu91

check for null in test
  packages/binding-opcua/test/client-test.ts
Owners: @danielpeintner, @relu91

use proper fail statement
  packages/binding-opcua/test/client-test.ts
Owners: @danielpeintner, @relu91

more tests
  packages/binding-opcua/test/full-opcua-thing-test.ts
  packages/binding-opcua/test/opcua-codec-test.ts
Owners: @danielpeintner, @relu91

fix tests with Object is of type 'unknown'.
  packages/binding-opcua/test/full-opcua-thing-test.ts
Owners: @danielpeintner, @relu91

chore(ci): re-enable Node 20 (#1056)
  .github/workflows/ci-full.yaml
  .github/workflows/ci.yaml
  README.md
  package-lock.json
  packages/binding-mbus/package.json
Owners: @danielpeintner, @relu91

initial check-in
  packages/binding-mbus/tsconfig.json
Owners: @danielpeintner, @relu91

chore: avoid blocking codecov status checks
  codecov.yml
Owners: @danielpeintner, @relu91

feat: update transformation to latest AID version
  packages/td-tools/src/util/asset-interface-description.ts
  packages/td-tools/test/AssetInterfaceDescriptionTest.ts
  packages/td-tools/test/util/counterHTTP_minimal.aasx
  packages/td-tools/test/util/counterHTTP_minimal.json
Owners: @danielpeintner, @relu91

refactor: initial setup for transforming TD to AAS/AID
  packages/td-tools/src/util/asset-interface-description.ts
Owners: @danielpeintner, @relu91

refactor: renaming
  packages/td-tools/src/util/README.md
  packages/td-tools/src/util/asset-interface-description.ts
  packages/td-tools/test/AssetInterfaceDescriptionTest.ts
  packages/td-tools/test/util/counterHTTP.aasx
  packages/td-tools/test/util/counterHTTP.json
  packages/td-tools/test/util/counterHTTP_minimal.aasx
Owners: @danielpeintner, @relu91

.github/CODEOWNERS:

# Default owners (used as a fallback, last matching pattern takes the most precedence)
* @danielpeintner @relu91

# CoAP-Binding
/packages/binding-coap/ @JKRhb

# HTTP-Binding
/packages/binding-http/ @danielpeintner @relu91

# Mbus-Binding
# /packages/binding-modbus/

# Modbus-Binding
/packages/binding-modbus/ @relu91

# MQTT-Binding
/packages/binding-mqtt/ @sebastiankb @egekorkan

# NETCONF Binding
# /packages/binding-netconf/

# OPCUA Binding
# /packages/binding-opcua/

# WebSockets Binding
# /packages/binding-websockets/

# Browser Bundle
/packages/browser-bundle/ @danielpeintner @relu91

# CLI
/packages/browser-bundle/ @danielpeintner @relu91 @mkovatsc

# Core
/packages/core/ @danielpeintner @relu91 @JKRhb

# TD Tools
/packages/td-tools/ @danielpeintner @relu91
