Repository eclipse-thingweb/node-wot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan, @mkovatsc

.github/CODEOWNERS:

# Default owners (used as a fallback, last matching pattern takes the most precedence)
* @danielpeintner @relu91

# CoAP-Binding
/packages/binding-coap/ @JKRhb

# HTTP-Binding
/packages/binding-http/ @danielpeintner @relu91

# Mbus-Binding
# /packages/binding-modbus/

# Modbus-Binding
/packages/binding-modbus/ @relu91

# MQTT-Binding
/packages/binding-mqtt/ @sebastiankb @egekorkan

# NETCONF Binding
# /packages/binding-netconf/

# OPCUA Binding
# /packages/binding-opcua/

# WebSockets Binding
# /packages/binding-websockets/

# Browser Bundle
/packages/browser-bundle/ @danielpeintner @relu91

# CLI
/packages/browser-bundle/ @danielpeintner @relu91 @mkovatsc

# Core
/packages/core/ @danielpeintner @relu91 @JKRhb

# TD Tools
/packages/td-tools/ @danielpeintner @relu91

chore(eslint): add licence.template.txt for copyright notice verification
  licence.template.txt
Owners: @danielpeintner, @relu91

chore(core): fix filename to follow convention #1423
  packages/core/test/client-test.ts
  packages/core/test/content-serdes-test.ts
  packages/core/test/discovery-test.ts
  packages/core/test/helpers-test.ts
  packages/core/test/interaction-output-test.ts
  packages/core/test/protocol-helpers-stream-test.ts
  packages/core/test/protocol-helpers-test.ts
  packages/core/test/protocol-listener-registry-test.ts
  packages/core/test/ser-des-test.ts
  packages/core/test/server-test.ts
Owners: @danielpeintner, @relu91, @JKRhb

chore(eslint): switch to check-file instead of react-nameing-convention
  eslint.config.mjs
  package-lock.json
  package.json
Owners: @danielpeintner, @relu91

chore(binding-http): remove console.log from tests (eslint)
  packages/binding-http/test/oauth-token-validation-tests.ts
Owners: @danielpeintner, @relu91

chore(cli): fix eslint console.log issue
  packages/cli/src/cli-default-servient.ts
  packages/cli/test/runtime-test.ts
Owners: @danielpeintner, @relu91

chore(core): remove console.log from tests (eslint)
  packages/core/test/client-test.ts
Owners: @danielpeintner, @relu91, @JKRhb

chore(examples): fix eslint console.log issue
  packages/examples/src/bindings/coap/example-client.ts
  packages/examples/src/bindings/coap/example-server.ts
  packages/examples/src/bindings/http/example-client.ts
  packages/examples/src/bindings/http/example-server-secure.ts
  packages/examples/src/bindings/http/example-server.ts
  packages/examples/src/bindings/opcua/demo-opcua1.ts
  packages/examples/src/bindings/opcua/demo-opcua2.ts
  packages/examples/src/bindings/opcua/opcua-coffee-machine-demo.ts
  packages/examples/src/quickstart/presence-sensor.ts
  packages/examples/src/quickstart/simple-coffee-machine.ts
  packages/examples/src/quickstart/smart-clock.ts
  packages/examples/src/scripts/countdown.ts
  packages/examples/src/scripts/counter-client.ts
  packages/examples/src/scripts/counter.ts
  packages/examples/src/scripts/smart-coffee-machine-client.ts
  packages/examples/src/scripts/smart-coffee-machine.ts
  packages/examples/src/security/oauth/consumer.ts
  packages/examples/src/security/oauth/exposer.ts
  packages/examples/src/testthing/testclient.ts
  packages/examples/src/testthing/testthing.ts
Owners: @danielpeintner, @relu91

chore(binding-opcua): fix floating promise issues
  packages/binding-opcua/package.json
  packages/binding-opcua/src/certificate-manager-singleton.ts
  packages/binding-opcua/src/factory.ts
  packages/binding-opcua/src/opcua-protocol-client.ts
  packages/binding-opcua/test/client-test.ts
  packages/binding-opcua/test/fixture/basic-opcua-server.ts
  packages/binding-opcua/test/full-opcua-thing-test.ts
  packages/binding-opcua/test/opcua-security-test.ts
  packages/binding-opcua/test/who-am-i-test.ts
Owners: @danielpeintner, @relu91

chore(binding-mbus): remove console.log from tests (eslint)
  packages/binding-mbus/test/mbus-client-test.ts
Owners: @danielpeintner, @relu91

chore(binding-modbus): remove console.log from tests (eslint)
  packages/binding-modbus/test/modbus-client-test.ts
Owners: @relu91

chore(binding-http): remove console.log from tests (eslint)
  packages/binding-http/test/http-server-oauth-tests.ts
Owners: @danielpeintner, @relu91

chore(cli): fix filename to follow convention #1423
  packages/cli/test/runtime-test.ts
Owners: @danielpeintner, @relu91

chore(eslint): enforce filenaming convention check #1423
  eslint.config.mjs
Owners: @danielpeintner, @relu91

refactor: turn off some eslint warnings
  eslint.config.mjs
Owners: @danielpeintner, @relu91

refactor(core): fix warning Unused eslint-disable directive
  packages/core/src/consumed-thing.ts
  packages/core/src/content-serdes.ts
  packages/core/src/protocol-helpers.ts
  packages/core/test/client-test.ts
  packages/core/test/helpers-test.ts
  packages/core/test/interaction-output-test.ts
  packages/core/test/protocol-helpers-stream-test.ts
  packages/core/test/protocol-helpers-test.ts
  packages/core/test/server-test.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor(binding-coap): fix warning Unused eslint-disable directive
  packages/binding-coap/test/coap-server-test.ts
Owners: @JKRhb

refactor(binding-http): fix warning Unused eslint-disable directive
  packages/binding-http/src/credential.ts
  packages/binding-http/src/oauth-token-validation.ts
  packages/binding-http/src/routes/properties.ts
  packages/binding-http/src/subscription-protocols.ts
  packages/binding-http/test/http-client-test.ts
  packages/binding-http/test/http-server-oauth-tests.ts
  packages/binding-http/test/http-server-test.ts
Owners: @danielpeintner, @relu91

refactor(binding-mbus): fix warning Unused eslint-disable directive
  packages/binding-mbus/src/mbus-connection.ts
  packages/binding-mbus/test/mbus-client-test.ts
Owners: @danielpeintner, @relu91

refactor(binding-modbus): fix warning Unused eslint-disable directive
  packages/binding-modbus/src/modbus-client-factory.ts
  packages/binding-modbus/src/modbus-connection.ts
  packages/binding-modbus/test/modbus-client-test.ts
  packages/binding-modbus/test/modbus-connection-test.ts
Owners: @relu91

refactor(binding-mqtt): fix warning Unused eslint-disable directive
  packages/binding-mqtt/src/mqtt-broker-server.ts
  packages/binding-mqtt/src/mqtts-client-factory.ts
Owners: @sebastiankb, @egekorkan

refactor(binding-netconf): fix warning Unused eslint-disable directive
  packages/binding-netconf/src/xpath2json.ts
Owners: @danielpeintner, @relu91

refactor(binding-websockets): fix warning Unused eslint-disable directive
  packages/binding-websockets/src/ws-client.ts
  packages/binding-websockets/src/wss-client-factory.ts
Owners: @danielpeintner, @relu91

refactor(cli): fix warning Unused eslint-disable directive
  packages/cli/src/cli-default-servient.ts
  packages/cli/src/cli.ts
Owners: @danielpeintner, @relu91

refactor(examples): fix warning Unused eslint-disable directive
  packages/examples/src/testthing/testthing.ts
Owners: @danielpeintner, @relu91

Avoid eslint warnings (#1431)
  eslint.config.mjs
  packages/binding-coap/test/coap-server-test.ts
  packages/binding-http/src/credential.ts
  packages/binding-http/src/oauth-token-validation.ts
  packages/binding-http/src/routes/properties.ts
  packages/binding-http/src/subscription-protocols.ts
  packages/binding-http/test/http-client-test.ts
  packages/binding-http/test/http-server-oauth-tests.ts
  packages/binding-http/test/http-server-test.ts
  packages/binding-mbus/src/mbus-connection.ts
  packages/binding-mbus/test/mbus-client-test.ts
  packages/binding-modbus/src/modbus-client-factory.ts
  packages/binding-modbus/src/modbus-connection.ts
  packages/binding-modbus/test/modbus-client-test.ts
  packages/binding-modbus/test/modbus-connection-test.ts
  packages/binding-mqtt/src/mqtt-broker-server.ts
  packages/binding-mqtt/src/mqtts-client-factory.ts
  packages/binding-netconf/src/xpath2json.ts
  packages/binding-websockets/src/ws-client.ts
  packages/binding-websockets/src/wss-client-factory.ts
  packages/cli/src/cli-default-servient.ts
  packages/cli/src/cli.ts
  packages/core/src/consumed-thing.ts
  packages/core/src/content-serdes.ts
  packages/core/src/protocol-helpers.ts
  packages/core/test/client-test.ts
  packages/core/test/helpers-test.ts
  packages/core/test/interaction-output-test.ts
  packages/core/test/protocol-helpers-stream-test.ts
  packages/core/test/protocol-helpers-test.ts
  packages/core/test/server-test.ts
  packages/examples/src/testthing/testthing.ts
Owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan

chore: activate "prefer-const" eslint error
  eslint.config.mjs
  packages/core/src/consumed-thing.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor: turn off warning/error in CLI
  eslint.config.mjs
  packages/cli/src/cli-default-servient.ts
  packages/cli/src/cli.ts
Owners: @danielpeintner, @relu91

refactor: activate rule no-unused-private-class-members
  eslint.config.mjs
  packages/core/src/consumed-thing.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor: removing unused variables
  eslint.config.mjs
  packages/binding-http/src/routes/action.ts
  packages/binding-http/src/routes/property.ts
  packages/binding-http/test/http-client-test.ts
  packages/binding-http/test/oauth-token-validation-tests.ts
Owners: @danielpeintner, @relu91

refactor: avoid deprecated api
  eslint.config.mjs
  packages/binding-coap/src/coap-client.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor: activate eslint n/no-unpublished-import
  eslint.config.mjs
  package-lock.json
  packages/core/package.json
  packages/examples/src/security/oauth/package.json
Owners: @danielpeintner, @relu91, @JKRhb

refactor: fix missing unused variable
  packages/core/src/helpers.ts
Owners: @danielpeintner, @relu91, @JKRhb

chore: activate "prefer-const" eslint error (#1432)
  eslint.config.mjs
  packages/core/src/consumed-thing.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor: activate eslint typescript-eslint/prefer-nullish-coalescing
  eslint.config.mjs
  packages/binding-coap/src/coap-server.ts
  packages/binding-http/src/http-client-impl.ts
  packages/binding-http/src/http-server.ts
  packages/binding-modbus/src/modbus-client.ts
  packages/binding-opcua/src/opcua-protocol-client.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor: removing unused variables (#1435)
  eslint.config.mjs
  packages/binding-http/src/routes/action.ts
  packages/binding-http/src/routes/property.ts
  packages/binding-http/test/http-client-test.ts
  packages/binding-http/test/oauth-token-validation-tests.ts
  packages/core/src/helpers.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor: activate eslint @typescript-eslint/no-empty-object-type
  eslint.config.mjs
  packages/core/src/protocol-helpers.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor: activate eslint @typescript-eslint/no-require-imports
  eslint.config.mjs
  packages/binding-coap/src/mdns-introducer.ts
  packages/binding-mbus/src/mbus-connection.ts
  packages/cli/src/cli.ts
  packages/core/src/consumed-thing.ts
  packages/core/src/serdes.ts
  packages/core/test/helpers-test.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor: activate eslint typescript-eslint/no-floating-promises
  eslint.config.mjs
  packages/core/src/consumed-thing.ts
  packages/core/src/exposed-thing.ts
  packages/core/src/protocol-helpers.ts
Owners: @danielpeintner, @relu91, @JKRhb

revert mbus change since it fails otherwise and add disable
  packages/binding-mbus/src/mbus-connection.ts
Owners: @danielpeintner, @relu91

fix: issues in core
  packages/core/test/client-test.ts
  packages/core/test/server-test.ts
Owners: @danielpeintner, @relu91, @JKRhb
