Repository eclipse-thingweb/node-wot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan, @mkovatsc

.github/CODEOWNERS:

# Default owners (used as a fallback, last matching pattern takes the most precedence)
* @danielpeintner @relu91

# CoAP-Binding
/packages/binding-coap/ @JKRhb

# HTTP-Binding
/packages/binding-http/ @danielpeintner @relu91

# Mbus-Binding
# /packages/binding-modbus/

# Modbus-Binding
/packages/binding-modbus/ @relu91

# MQTT-Binding
/packages/binding-mqtt/ @sebastiankb @egekorkan

# NETCONF Binding
# /packages/binding-netconf/

# OPCUA Binding
# /packages/binding-opcua/

# WebSockets Binding
# /packages/binding-websockets/

# Browser Bundle
/packages/browser-bundle/ @danielpeintner @relu91

# CLI
/packages/browser-bundle/ @danielpeintner @relu91 @mkovatsc

# Core
/packages/core/ @danielpeintner @relu91 @JKRhb

# TD Tools
/packages/td-tools/ @danielpeintner @relu91

refactor(core): use # instead __ as internal handler prefix (#1104)
  packages/binding-opcua/test/full-opcua-thing-test.ts
  packages/core/src/exposed-thing.ts
  packages/core/test/ServerTest.ts
Owners: @danielpeintner, @relu91, @JKRhb

fixup! refactor: use `structuredClone` for deep copying
  packages/core/src/consumed-thing.ts
  packages/core/src/exposed-thing.ts
Owners: @danielpeintner, @relu91, @JKRhb

fix(td-tools): use lowercase interaction names
  packages/td-tools/src/util/asset-interface-description.ts
  packages/td-tools/test/AssetInterfaceDescriptionTest.ts
  packages/td-tools/test/util/counterHTTP.aasx
  packages/td-tools/test/util/counterHTTP.json
  packages/td-tools/test/util/inverterModbus.json
Owners: @danielpeintner, @relu91

refactor: use AID submodel in examples (instead of AAS)
  packages/td-tools/src/util/README.md
Owners: @danielpeintner, @relu91

refactor: move deprecated method to end of public methods
  packages/td-tools/src/util/asset-interface-description.ts
Owners: @danielpeintner, @relu91

fixup! refactor(core): use private variables instead of function wrappers
  packages/core/src/consumed-thing.ts
Owners: @danielpeintner, @relu91, @JKRhb

Update packages/td-tools/src/util/README.md
  packages/td-tools/src/util/README.md
Owners: @danielpeintner, @relu91

docs(binding-opcua): fix demo-opcua1.ts in README
  packages/binding-opcua/README.md
Owners: @danielpeintner, @relu91

refactor: remove unnecessary `new Promise` wrappers
  packages/binding-coap/test/coap-server-test.ts
  packages/binding-file/src/file-client.ts
  packages/binding-http/src/http-client-impl.ts
  packages/binding-http/src/http-server.ts
  packages/binding-http/test/http-client-test.ts
  packages/binding-http/test/http-server-test.ts
  packages/binding-mbus/src/mbus-client.ts
  packages/binding-mbus/test/test-servient.ts
  packages/binding-modbus/test/test-servient.ts
  packages/binding-mqtt/src/mqtt-client.ts
  packages/binding-netconf/src/async-node-netconf.ts
  packages/binding-netconf/src/netconf-client.ts
  packages/cli/src/cli-default-servient.ts
  packages/core/test/ClientTest.ts
  packages/core/test/ServerTest.ts
  packages/examples/src/scripts/smart-coffee-machine.ts
Owners: @JKRhb, @danielpeintner, @relu91, @sebastiankb, @egekorkan

docs: improved wording based on feedback from @wiresio
  packages/td-tools/src/util/README.md
Owners: @danielpeintner, @relu91

refactor(binding-http): re-introduce proper error message check
  packages/binding-http/test/http-client-basic-test.ts
Owners: @danielpeintner, @relu91

refactor(td-tools): Aid updates (#1107)
  packages/td-tools/src/util/README.md
  packages/td-tools/src/util/asset-interface-description.ts
  packages/td-tools/test/AssetInterfaceDescriptionTest.ts
  packages/td-tools/test/util/counterHTTP.aasx
  packages/td-tools/test/util/counterHTTP.json
  packages/td-tools/test/util/inverterModbus.json
Owners: @danielpeintner, @relu91

refactor(td-tools): AID idShort does not allow ":" and used "_" instead
  packages/td-tools/src/util/asset-interface-description.ts
  packages/td-tools/test/AssetInterfaceDescriptionTest.ts
  packages/td-tools/test/util/inverterModbus.json
Owners: @danielpeintner, @relu91

docs(README): move license as last section
  README.md
Owners: @danielpeintner, @relu91

docs(README): minor typos
  README.md
Owners: @danielpeintner, @relu91

docs(readme): improve overall description
  CONTRIBUTING.md
  README.md
Owners: @danielpeintner, @relu91

docs(REDME): use github alerts syntax
  README.md
Owners: @danielpeintner, @relu91

docs(README): improve examples introduction
  README.md
Owners: @danielpeintner, @relu91

docs(README): fix small typo
  README.md
Owners: @danielpeintner, @relu91

docs(README): add logo
  README.md
Owners: @danielpeintner, @relu91

fiuxp! chore(binding-http): enable eslint/strict-boolean-expressions
  packages/binding-http/src/http-server.ts
Owners: @danielpeintner, @relu91

fiuxp! chore(binding-http): enable eslint/strict-boolean-expressions
  packages/binding-http/src/http-server.ts
Owners: @danielpeintner, @relu91

fixup! chore(binding-http): enable eslint/strict-boolean-expressions
  packages/binding-http/src/http-server.ts
Owners: @danielpeintner, @relu91

chore(binding-http): enable eslint/strict-boolean-expressions
  packages/binding-http/.eslintrc.json
  packages/binding-http/src/codecs/tuya-codec.ts
  packages/binding-http/src/credential.ts
  packages/binding-http/src/http-client-impl.ts
  packages/binding-http/src/http-server.ts
  packages/binding-http/src/oauth-token-validation.ts
  packages/binding-http/src/routes/action.ts
  packages/binding-http/src/routes/common.ts
  packages/binding-http/src/routes/event.ts
  packages/binding-http/src/routes/properties.ts
  packages/binding-http/src/routes/property-observe.ts
  packages/binding-http/src/routes/property.ts
  packages/binding-http/src/routes/thing-description.ts
  packages/binding-http/test/http-client-basic-test.ts
  packages/binding-http/test/http-client-test.ts
  packages/binding-http/test/http-server-test.ts
  packages/binding-http/test/memory-model.ts
  packages/binding-http/test/oauth-token-validation-tests.ts
Owners: @danielpeintner, @relu91

fiuxp! chore(binding-http): enable eslint/strict-boolean-expressions
  packages/binding-http/src/http-server.ts
Owners: @danielpeintner, @relu91

fiuxp! chore(binding-http): enable eslint/strict-boolean-expressions
  packages/binding-http/src/http-server.ts
Owners: @danielpeintner, @relu91

fiuxp! chore(binding-http): enable eslint/strict-boolean-expressions
  packages/binding-http/src/http-server.ts
  packages/binding-http/src/routes/property.ts
Owners: @danielpeintner, @relu91

fiuxp! chore(binding-http): enable eslint/strict-boolean-expressions
  packages/binding-http/src/http-server.ts
Owners: @danielpeintner, @relu91

Update packages/binding-http/src/oauth-token-validation.ts
  packages/binding-http/src/oauth-token-validation.ts
Owners: @danielpeintner, @relu91

fiuxp! chore(binding-http): enable eslint/strict-boolean-expressions
  packages/binding-http/src/codecs/tuya-codec.ts
  packages/binding-http/src/credential.ts
Owners: @danielpeintner, @relu91

fixup! chore(binding-http): enable eslint/strict-boolean-expressions
  packages/binding-http/src/http-server.ts
Owners: @danielpeintner, @relu91

fixup! chore(binding-http): enable eslint/strict-boolean-expressions
  packages/binding-http/src/routes/property.ts
Owners: @danielpeintner, @relu91

fixup! chore(binding-http): enable eslint/strict-boolean-expressions
  packages/binding-http/src/http-server.ts
Owners: @danielpeintner, @relu91

fixup! chore(binding-http): enable eslint/strict-boolean-expressions
  packages/binding-http/src/http-server.ts
Owners: @danielpeintner, @relu91

fixup! chore(binding-http): enable eslint/strict-boolean-expressions
  packages/binding-http/src/http-server.ts
Owners: @danielpeintner, @relu91

fixup! chore(binding-http): enable eslint/strict-boolean-expressions
  packages/binding-http/src/http-server.ts
Owners: @danielpeintner, @relu91

fixup! chore(binding-http): enable eslint/strict-boolean-expressions
  packages/binding-http/src/http-server.ts
Owners: @danielpeintner, @relu91

fixup! chore(binding-http): enable eslint/strict-boolean-expressions
  packages/binding-http/src/http-server.ts
Owners: @danielpeintner, @relu91

fixup! chore(binding-http): enable eslint/strict-boolean-expressions
  packages/binding-http/src/http-server.ts
Owners: @danielpeintner, @relu91

refactor(td-tools): AID idShort does not allow ":" and used "_" instead (#1113)
  packages/td-tools/src/util/asset-interface-description.ts
  packages/td-tools/test/AssetInterfaceDescriptionTest.ts
  packages/td-tools/test/util/inverterModbus.json
Owners: @danielpeintner, @relu91
