Repository eclipse-thingweb/node-wot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan, @mkovatsc

.github/CODEOWNERS:

# Default owners (used as a fallback, last matching pattern takes the most precedence)
* @danielpeintner @relu91

# CoAP-Binding
/packages/binding-coap/ @JKRhb

# HTTP-Binding
/packages/binding-http/ @danielpeintner @relu91

# Mbus-Binding
# /packages/binding-modbus/

# Modbus-Binding
/packages/binding-modbus/ @relu91

# MQTT-Binding
/packages/binding-mqtt/ @sebastiankb @egekorkan

# NETCONF Binding
# /packages/binding-netconf/

# OPCUA Binding
# /packages/binding-opcua/

# WebSockets Binding
# /packages/binding-websockets/

# Browser Bundle
/packages/browser-bundle/ @danielpeintner @relu91

# CLI
/packages/browser-bundle/ @danielpeintner @relu91 @mkovatsc

# Core
/packages/core/ @danielpeintner @relu91 @JKRhb

# TD Tools
/packages/td-tools/ @danielpeintner @relu91

docs(REAMDE): fix typos
  README.md
Owners: @danielpeintner, @relu91

docs(REAMDE): use information model instead of metamodel
  README.md
Owners: @danielpeintner, @relu91

docs(README): fix eg.
  README.md
Owners: @danielpeintner, @relu91

docs(README): use uppercase title
  README.md
Owners: @danielpeintner, @relu91

docs(README): fix width attribute in the logo
  README.md
Owners: @danielpeintner, @relu91

Move "development internals" to bottom
  README.md
Owners: @danielpeintner, @relu91

Fix linting issue
  README.md
Owners: @danielpeintner, @relu91

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @danielpeintner, @relu91

Improve readme (#1114)
  CONTRIBUTING.md
  README.md
Owners: @danielpeintner, @relu91

ci: don't run CI on push to non-master branch
  .github/workflows/ci.yaml
Owners: @danielpeintner, @relu91

ci: delete obsolete ci-full workflow file
  .github/workflows/ci-full.yaml
Owners: @danielpeintner, @relu91

ci: run default CI pipeline on master using also macOS and Windows
  .github/workflows/ci.yaml
Owners: @danielpeintner, @relu91

ci: add manual dispatch to default CI workflow
  .github/workflows/ci.yaml
Owners: @danielpeintner, @relu91

ci: use all OSs on manual workflow dispatch
  .github/workflows/ci.yaml
Owners: @danielpeintner, @relu91

chore: increase version numbers to 0.8.10 for next release
  package-lock.json
  packages/binding-coap/package.json
  packages/binding-file/package.json
  packages/binding-http/package.json
  packages/binding-mbus/package.json
  packages/binding-modbus/package.json
  packages/binding-mqtt/package.json
  packages/binding-netconf/package.json
  packages/binding-opcua/package.json
  packages/binding-websockets/package.json
  packages/browser-bundle/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/examples/package.json
  packages/td-tools/package.json
Owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan, @mkovatsc

docs(README): use white logo on dark backgrounds
  README.md
Owners: @danielpeintner, @relu91

refactor(binding-opcua): remove unnecessary data transformation
  packages/binding-opcua/src/codec.ts
Owners: @danielpeintner, @relu91

chore(binding-opcua): improve/stabilize tests
  packages/binding-opcua/test/client-test.ts
  packages/binding-opcua/test/full-opcua-thing-test.ts
Owners: @danielpeintner, @relu91

ci: delete obsolete ci-full workflow file
  .github/workflows/ci-full.yaml
Owners: @danielpeintner, @relu91

ci: run default CI pipeline on master using also macOS and Windows
  .github/workflows/ci.yaml
Owners: @danielpeintner, @relu91

ci: add manual dispatch to default CI workflow
  .github/workflows/ci.yaml
Owners: @danielpeintner, @relu91

chore: increase version numbers to 0.8.10 for next release (#1117)
  package-lock.json
  packages/binding-coap/package.json
  packages/binding-file/package.json
  packages/binding-http/package.json
  packages/binding-mbus/package.json
  packages/binding-modbus/package.json
  packages/binding-mqtt/package.json
  packages/binding-netconf/package.json
  packages/binding-opcua/package.json
  packages/binding-websockets/package.json
  packages/browser-bundle/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/examples/package.json
  packages/td-tools/package.json
Owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan, @mkovatsc

chore(binding-opcua): update opcua modules
  package-lock.json
  packages/binding-opcua/package.json
  packages/binding-opcua/src/opcua-protocol-client.ts
Owners: @danielpeintner, @relu91

chore: add @types/lodash to cli since it is missing now...
  package-lock.json
  packages/cli/package.json
Owners: @danielpeintner, @relu91

refactor(binding-opcua): remove unnecessary data transformation (#1119)
  packages/binding-opcua/src/codec.ts
Owners: @danielpeintner, @relu91

fix typo
  packages/binding-opcua/test/full-opcua-thing-test.ts
Owners: @danielpeintner, @relu91

chore(binding-opcua): improve/stabilize tests (#1120)
  packages/binding-opcua/test/client-test.ts
  packages/binding-opcua/test/full-opcua-thing-test.ts
Owners: @danielpeintner, @relu91

fix: enable prefer-nullish-coalescing eslint rule
  .eslintrc.js
  packages/binding-http/src/codecs/tuya-codec.ts
  packages/binding-mbus/src/mbus-client.ts
  packages/binding-modbus/src/modbus-client.ts
  packages/binding-netconf/src/netconf-client.ts
  packages/binding-opcua/src/opcua-protocol-client.ts
  packages/core/src/codecs/text-codec.ts
  packages/td-tools/src/thing-model-helpers.ts
Owners: @danielpeintner, @relu91, @JKRhb

docs(README): add fallback value for logo and fix width attribute
  README.md
Owners: @danielpeintner, @relu91

update packages
  package-lock.json
  packages/binding-opcua/package.json
Owners: @danielpeintner, @relu91

docs(README): add fallback value for logo and fix width attribute
  README.md
Owners: @danielpeintner, @relu91

docs(README): use white logo on dark backgrounds
  README.md
Owners: @danielpeintner, @relu91

chore(binding-opcua) better error handling in test
  packages/binding-opcua/test/full-opcua-thing-test.ts
Owners: @danielpeintner, @relu91

chore(binding-opcua) clean-up test properly in case of error
  packages/binding-opcua/src/opcua-protocol-client.ts
Owners: @danielpeintner, @relu91

add script to ease node-opcua packages update
  package.json
Owners: @danielpeintner, @relu91

chore: add missing @types/ws module
  package-lock.json
  package.json
Owners: @danielpeintner, @relu91

update to node-opcua@2.115
  package-lock.json
  packages/binding-opcua/package.json
Owners: @danielpeintner, @relu91

chore(binding-opcua) adjust good-ish status code in write
  .husky/pre-commit
Owners: @danielpeintner, @relu91

Update README.md
  README.md
Owners: @danielpeintner, @relu91

docs: Add quick start online Things to README.md
  README.md
Owners: @danielpeintner, @relu91
