Repository eclipse-thingweb/node-wot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan, @mkovatsc

refactor(browser-bundle): move to esbuild
  .eslintignore
  package-lock.json
  package.json
  packages/browser-bundle/.gitignore
  packages/browser-bundle/build.js
  packages/browser-bundle/esbuild.js
  packages/browser-bundle/index.js
  packages/browser-bundle/index.ts
  packages/browser-bundle/package.json
  packages/browser-bundle/test/main.js
  packages/browser-bundle/test/resources/test-thing.tm.json
  packages/browser-bundle/tsconfig.json
  packages/browser-bundle/web-test-runner.config.mjs
  packages/core/package.json
  packages/core/src/content-serdes.ts
  packages/core/src/exposed-thing.ts
  packages/core/src/protocol-helpers.ts
  packages/core/test/ClientTest.ts
  packages/core/test/ProtocolHelpersStreamTest.ts
  tsconfig.json
Owners: @danielpeintner, @relu91, @mkovatsc, @JKRhb

chore: introduce test:browser and test:all scripts
  .husky/pre-push
  package.json
  packages/browser-bundle/package.json
Owners: @danielpeintner, @relu91, @mkovatsc

Update SSE details
  packages/binding-http/README.md
Owners: @danielpeintner, @relu91

format: run format
  packages/binding-http/README.md
Owners: @danielpeintner, @relu91

style: run prettier
  examples/browser/counter.html
  examples/browser/index.html
  examples/browser/smart-coffee-machine.html
  packages/binding-modbus/src/modbus-client.ts
  packages/binding-mqtt/src/mqtt-client.ts
  packages/binding-opcua/src/opcua-protocol-client.ts
  packages/browser-bundle/types/index.d.ts
  packages/core/src/codecs/octetstream-codec.ts
  packages/core/src/consumed-thing.ts
  packages/core/src/wot-impl.ts
  packages/td-tools/src/td-tools.ts
Owners: @danielpeintner, @relu91, @sebastiankb, @egekorkan, @mkovatsc, @JKRhb

refactor(browser-bundle): move to esbuild
  .eslintignore
  package-lock.json
  package.json
  packages/browser-bundle/.gitignore
  packages/browser-bundle/build.js
  packages/browser-bundle/esbuild.js
  packages/browser-bundle/index.js
  packages/browser-bundle/index.ts
  packages/browser-bundle/package.json
  packages/browser-bundle/test/main.js
  packages/browser-bundle/test/resources/test-thing.tm.json
  packages/browser-bundle/tsconfig.json
  packages/browser-bundle/web-test-runner.config.mjs
  packages/core/package.json
  packages/core/src/content-serdes.ts
  packages/core/src/exposed-thing.ts
  packages/core/src/protocol-helpers.ts
  packages/core/test/ClientTest.ts
  packages/core/test/ProtocolHelpersStreamTest.ts
  tsconfig.json
Owners: @danielpeintner, @relu91, @mkovatsc, @JKRhb

chore: introduce test:browser and test:all scripts
  .husky/pre-push
  package.json
  packages/browser-bundle/package.json
Owners: @danielpeintner, @relu91, @mkovatsc

ci: upgrade prettier version
  .github/workflows/ci.yaml
Owners: @danielpeintner, @relu91

chore(browser-bundle): add playwright and CI configuration
  .github/workflows/browser-test.yml
  .husky/pre-push
  package-lock.json
  packages/browser-bundle/package.json
  packages/browser-bundle/web-test-runner.config.mjs
Owners: @danielpeintner, @relu91, @mkovatsc

chore(browser-bundle): better format configuration
  packages/browser-bundle/package.json
Owners: @danielpeintner, @relu91, @mkovatsc

style: run prettier
  examples/browser/counter.html
  examples/browser/index.html
  examples/browser/smart-coffee-machine.html
  packages/binding-modbus/src/modbus-client.ts
  packages/binding-mqtt/src/mqtt-client.ts
  packages/binding-opcua/src/opcua-protocol-client.ts
  packages/core/src/codecs/octetstream-codec.ts
  packages/core/src/consumed-thing.ts
  packages/core/src/wot-impl.ts
  packages/td-tools/src/td-tools.ts
Owners: @danielpeintner, @relu91, @sebastiankb, @egekorkan, @JKRhb

chore: downgrade to prettier 3.0
  package-lock.json
  package.json
Owners: @danielpeintner, @relu91

style: run prettier
  packages/binding-modbus/src/modbus-client.ts
  packages/binding-opcua/src/opcua-protocol-client.ts
  packages/core/src/codecs/octetstream-codec.ts
  packages/td-tools/src/td-tools.ts
Owners: @relu91, @danielpeintner, @JKRhb

ci(browser-test): fix branch configuration and minor styling
  .github/workflows/browser-test.yml
Owners: @danielpeintner, @relu91

ci: fix playright configuration and use default container
  .github/workflows/browser-test.yml
Owners: @danielpeintner, @relu91

chore: regenarating package-lock
  package-lock.json
Owners: @danielpeintner, @relu91

fixup! chore: regenarating package-lock
  package-lock.json
Owners: @danielpeintner, @relu91

ci(browser-test): add linux optional library
  .github/workflows/browser-test.yml
Owners: @danielpeintner, @relu91

ci(browser-test): add build step
  .github/workflows/browser-test.yml
Owners: @danielpeintner, @relu91

chore(browser-bundle): move to esbuild instead of browserify
  .eslintignore
  .github/workflows/browser-test.yml
  .github/workflows/ci.yaml
  .husky/pre-push
  examples/browser/counter.html
  examples/browser/index.html
  examples/browser/smart-coffee-machine.html
  package-lock.json
  package.json
  packages/binding-mqtt/src/mqtt-client.ts
  packages/browser-bundle/.gitignore
  packages/browser-bundle/build.js
  packages/browser-bundle/esbuild.js
  packages/browser-bundle/index.js
  packages/browser-bundle/index.ts
  packages/browser-bundle/package.json
  packages/browser-bundle/test/main.js
  packages/browser-bundle/test/resources/test-thing.tm.json
  packages/browser-bundle/tsconfig.json
  packages/browser-bundle/web-test-runner.config.mjs
  packages/core/package.json
  packages/core/src/consumed-thing.ts
  packages/core/src/content-serdes.ts
  packages/core/src/exposed-thing.ts
  packages/core/src/protocol-helpers.ts
  packages/core/src/wot-impl.ts
  packages/core/test/ClientTest.ts
  packages/core/test/ProtocolHelpersStreamTest.ts
  tsconfig.json
Owners: @danielpeintner, @relu91, @sebastiankb, @egekorkan, @mkovatsc, @JKRhb

chore: move to es2021
  tsconfig.json
Owners: @danielpeintner, @relu91

docs: list different set of tests
  README.md
Owners: @danielpeintner, @relu91

fixup! chore: move to es2021
  examples/scripts/countdown.js
  examples/scripts/counter-client.js
  examples/scripts/smart-coffee-machine-client.js
  examples/scripts/smart-coffee-machine.js
  examples/security/oauth/consumer.js
  examples/templates/exposed-thing/tsconfig.json
  packages/examples/tsconfig.json
Owners: @danielpeintner, @relu91

Move to es2021 (#1340)
  examples/scripts/countdown.js
  examples/scripts/counter-client.js
  examples/scripts/smart-coffee-machine-client.js
  examples/scripts/smart-coffee-machine.js
  examples/security/oauth/consumer.js
  examples/templates/exposed-thing/tsconfig.json
  packages/examples/tsconfig.json
  tsconfig.json
Owners: @danielpeintner, @relu91

chore: upgrade to TypeScript 5.x
  package-lock.json
  package.json
  packages/binding-coap/tsconfig.json
  packages/binding-http/package.json
  packages/binding-http/src/subscription-protocols.ts
  packages/binding-http/test/http-server-test.ts
  packages/binding-mbus/src/mbus-connection.ts
  packages/binding-modbus/src/modbus-connection.ts
  packages/binding-opcua/package.json
  packages/cli/package.json
  packages/examples/tsconfig.json
  tsconfig.json
Owners: @danielpeintner, @relu91, @JKRhb

style(binding-http/test/http-server-test): fix eslint warnings
  packages/binding-http/test/http-server-test.ts
Owners: @danielpeintner, @relu91

chore(binding-coap): upgrade coap to 1.4.1
  package-lock.json
  packages/binding-coap/package.json
  packages/binding-coap/tsconfig.json
Owners: @danielpeintner, @relu91, @JKRhb

Upgrade to TypeScript 5.x (#1343)
  package-lock.json
  package.json
  packages/binding-coap/package.json
  packages/binding-http/package.json
  packages/binding-http/src/subscription-protocols.ts
  packages/binding-http/test/http-server-test.ts
  packages/binding-mbus/src/mbus-connection.ts
  packages/binding-modbus/src/modbus-connection.ts
  packages/binding-opcua/package.json
  packages/cli/package.json
  packages/examples/tsconfig.json
  tsconfig.json
Owners: @danielpeintner, @relu91, @JKRhb

fix API documentation for readProperty
  API.md
Owners: @danielpeintner, @relu91

chore: prepare for next release with new minor version 0.9.0
  package-lock.json
  packages/binding-coap/package.json
  packages/binding-file/package.json
  packages/binding-http/package.json
  packages/binding-mbus/package.json
  packages/binding-modbus/package.json
  packages/binding-mqtt/package.json
  packages/binding-netconf/package.json
  packages/binding-opcua/package.json
  packages/binding-websockets/package.json
  packages/browser-bundle/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/examples/package.json
  packages/td-tools/package.json
Owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan, @mkovatsc

chore: prepare for next release with new minor version 0.9.0 (#1346)
  package-lock.json
  packages/binding-coap/package.json
  packages/binding-file/package.json
  packages/binding-http/package.json
  packages/binding-mbus/package.json
  packages/binding-modbus/package.json
  packages/binding-mqtt/package.json
  packages/binding-netconf/package.json
  packages/binding-opcua/package.json
  packages/binding-websockets/package.json
  packages/browser-bundle/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/examples/package.json
  packages/td-tools/package.json
Owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan, @mkovatsc

opcua: handle nsu in nodeId (fixing #1334)
  package-lock.json
  package.json
  packages/binding-opcua/package.json
  packages/binding-opcua/src/opcua-protocol-client.ts
  packages/binding-opcua/test/fixture/basic-opcua-server.ts
  packages/binding-opcua/test/full-opcua-thing-test.ts
  packages/binding-opcua/tsconfig.json
  packages/examples/tsconfig.json
  tsconfig.json
Owners: @danielpeintner, @relu91

refactor: update documentation about generating JS examples
  examples/quickstart/presence-sensor.js
  examples/quickstart/simple-coffee-machine.js
  examples/quickstart/smart-clock.js
  examples/scripts/countdown.js
  examples/scripts/counter-client.js
  examples/scripts/counter.js
  examples/scripts/smart-coffee-machine-client.js
  examples/scripts/smart-coffee-machine.js
  examples/security/oauth/consumer.js
  examples/security/oauth/exposer.js
  examples/testthing/testclient.js
  examples/testthing/testthing.js
  packages/examples/README.md
Owners: @danielpeintner, @relu91

refactor: generate new unique name until unknown
  packages/binding-coap/src/coap-server.ts
  packages/binding-http/src/http-server.ts
  packages/binding-websockets/src/ws-server.ts
  packages/core/src/helpers.ts
  packages/core/test/HelpersTest.ts
Owners: @JKRhb, @danielpeintner, @relu91

refactor: make linter happy
  packages/core/test/HelpersTest.ts
Owners: @danielpeintner, @relu91, @JKRhb

opcua: handle nsu in nodeId (fixing #1334) (#1335)
  package-lock.json
  package.json
  packages/binding-opcua/package.json
  packages/binding-opcua/src/opcua-protocol-client.ts
  packages/binding-opcua/test/fixture/basic-opcua-server.ts
  packages/binding-opcua/test/full-opcua-thing-test.ts
  packages/binding-opcua/tsconfig.json
  packages/examples/tsconfig.json
  tsconfig.json
Owners: @danielpeintner, @relu91

chore: remove duplicate settings
  packages/binding-opcua/tsconfig.json
Owners: @danielpeintner, @relu91

chore: revert @types/node" back to v18
  package-lock.json
  package.json
Owners: @danielpeintner, @relu91

fix API documentation for readProperty (#1345)
  API.md
Owners: @danielpeintner, @relu91

refactor: run "npm pkg fix"
  package.json
Owners: @danielpeintner, @relu91

.github/CODEOWNERS:

# Default owners (used as a fallback, last matching pattern takes the most precedence)
* @danielpeintner @relu91

# CoAP-Binding
/packages/binding-coap/ @JKRhb

# HTTP-Binding
/packages/binding-http/ @danielpeintner @relu91

# Mbus-Binding
# /packages/binding-modbus/

# Modbus-Binding
/packages/binding-modbus/ @relu91

# MQTT-Binding
/packages/binding-mqtt/ @sebastiankb @egekorkan

# NETCONF Binding
# /packages/binding-netconf/

# OPCUA Binding
# /packages/binding-opcua/

# WebSockets Binding
# /packages/binding-websockets/

# Browser Bundle
/packages/browser-bundle/ @danielpeintner @relu91

# CLI
/packages/browser-bundle/ @danielpeintner @relu91 @mkovatsc

# Core
/packages/core/ @danielpeintner @relu91 @JKRhb

# TD Tools
/packages/td-tools/ @danielpeintner @relu91
