Repository eclipse-thingweb/node-wot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan, @mkovatsc

refactor: rename InterfaceMetadata to InteractionMetadata
  packages/td-tools/src/util/asset-interface-description.ts
  packages/td-tools/test/AssetInterfaceDescriptionTest.ts
  packages/td-tools/test/util/AIDSchema.json
  packages/td-tools/test/util/counterHTTP.json
  packages/td-tools/test/util/inverterModbus.json
Owners: @danielpeintner, @relu91

refactor: change modbus to modv
  packages/td-tools/src/util/asset-interface-description.ts
  packages/td-tools/test/AssetInterfaceDescriptionTest.ts
  packages/td-tools/test/util/AIDSchema.json
  packages/td-tools/test/util/inverterModbus.json
Owners: @danielpeintner, @relu91

refactor: add 2 new terms mostSignificantByte and mostSignificantWord for Modbus
  packages/td-tools/src/util/asset-interface-description.ts
Owners: @danielpeintner, @relu91

refactor: update JSON schema with modbusMostSignificantByteElement and modbusMostSignificantWordElement
  packages/td-tools/test/util/AIDSchema.json
Owners: @danielpeintner, @relu91

change error message for integer overflows
  packages/core/src/codecs/octetstream-codec.ts
  packages/core/test/ContentSerdesTest.ts
Owners: @danielpeintner, @relu91, @JKRhb

fix formatting
  packages/core/src/codecs/octetstream-codec.ts
Owners: @danielpeintner, @relu91, @JKRhb

Update Asset Interfaces Description (AID) submodel (#1222)
  packages/td-tools/src/util/asset-interface-description.ts
  packages/td-tools/test/AssetInterfaceDescriptionTest.ts
  packages/td-tools/test/util/AIDSchema.json
  packages/td-tools/test/util/counterHTTP.json
  packages/td-tools/test/util/inverterModbus.json
Owners: @danielpeintner, @relu91

refactor: add AID support for terms created/modified/support
  packages/td-tools/src/util/asset-interface-description.ts
  packages/td-tools/test/AssetInterfaceDescriptionTest.ts
  packages/td-tools/test/util/inverterModbus.json
Owners: @danielpeintner, @relu91

refactor: add AID support for terms created/modified/support (#1224)
  packages/td-tools/src/util/asset-interface-description.ts
  packages/td-tools/test/AssetInterfaceDescriptionTest.ts
  packages/td-tools/test/util/inverterModbus.json
Owners: @danielpeintner, @relu91

chore: increase version numbers to 0.8.13 for next release
  package-lock.json
  packages/binding-coap/package.json
  packages/binding-file/package.json
  packages/binding-http/package.json
  packages/binding-mbus/package.json
  packages/binding-modbus/package.json
  packages/binding-mqtt/package.json
  packages/binding-netconf/package.json
  packages/binding-opcua/package.json
  packages/binding-websockets/package.json
  packages/browser-bundle/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/examples/package.json
  packages/td-tools/package.json
Owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan, @mkovatsc

fixup! chore: add guard-for-in eslint rule
  packages/td-tools/src/td-parser.ts
Owners: @danielpeintner, @relu91

examples: beautify test thing and add events
  examples/testthing/testthing.js
  packages/examples/src/testthing/testthing.ts
Owners: @danielpeintner, @relu91

add event to simple coffee machine
  examples/quickstart/simple-coffee-machine.js
  packages/examples/src/quickstart/simple-coffee-machine.ts
Owners: @danielpeintner, @relu91

examples: apply lint and format
  packages/examples/src/quickstart/simple-coffee-machine.ts
Owners: @danielpeintner, @relu91

refactor: report undefined for no expected value()
  packages/core/src/interaction-output.ts
Owners: @danielpeintner, @relu91, @JKRhb

examples: adapt coffee machine
  examples/quickstart/simple-coffee-machine.js
  packages/examples/src/quickstart/simple-coffee-machine.ts
Owners: @danielpeintner, @relu91

examples: format and lint
  packages/examples/src/quickstart/simple-coffee-machine.ts
Owners: @danielpeintner, @relu91

examples: adapt feedback for return statement
  examples/quickstart/simple-coffee-machine.js
  packages/examples/src/quickstart/simple-coffee-machine.ts
Owners: @danielpeintner, @relu91

fix(examples): do not ignore error but use cast
  examples/quickstart/simple-coffee-machine.js
  packages/examples/src/quickstart/simple-coffee-machine.ts
Owners: @danielpeintner, @relu91

refactor: use URLToolkit whenever possible
  packages/td-tools/src/util/asset-interface-description.ts
  packages/td-tools/test/AssetInterfaceDescriptionTest.ts
Owners: @danielpeintner, @relu91

fix: AID JSON Schema contentType is not expressible with a finite list
  packages/td-tools/test/util/AIDSchema.json
Owners: @danielpeintner, @relu91

refactor: check for mostSignificantByte/mostSignificantWord (Modbus) globally also
  packages/td-tools/src/util/asset-interface-description.ts
  packages/td-tools/test/AssetInterfaceDescriptionTest.ts
  packages/td-tools/test/util/inverterModbus.json
Owners: @danielpeintner, @relu91

Update packages/core/src/interaction-output.ts
  packages/core/src/interaction-output.ts
Owners: @danielpeintner, @relu91, @JKRhb

fix: test by adding DataSchema
  packages/core/test/InteractionOutputTest.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor: make undefined return more explicitly
  packages/core/src/interaction-output.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor: remove unnecessary comment
  packages/core/src/interaction-output.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor: add test case for value() returning undefined if no DataSchema is provided
  packages/core/test/InteractionOutputTest.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor: add warn logging in case undefined is returned
  packages/core/src/interaction-output.ts
Owners: @danielpeintner, @relu91, @JKRhb

reword warning based on comment from @relu91
  packages/core/src/interaction-output.ts
Owners: @danielpeintner, @relu91, @JKRhb

fix(binding-http): fill security scheme when baseURI defined
  packages/binding-http/src/http-server.ts
  packages/binding-http/test/http-server-test.ts
Owners: @danielpeintner, @relu91

refactor: report undefined for no expected value() (#1230)
  packages/core/src/interaction-output.ts
  packages/core/test/InteractionOutputTest.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor(binding-http/http-server): move warning near fillSecurityScheme
  packages/binding-http/src/http-server.ts
Owners: @danielpeintner, @relu91

docs(binding-http/http-server): remove outdated code comment
  packages/binding-http/src/http-server.ts
Owners: @danielpeintner, @relu91

chore(utils): clean-up old Java helper code
  utils/fix-copyright/CopyrightFix.java
Owners: @danielpeintner, @relu91

fix(binding-http): fill security scheme when baseURI defined (#1244)
  packages/binding-http/src/http-server.ts
  packages/binding-http/test/http-server-test.ts
Owners: @danielpeintner, @relu91

chore(utils): clean-up old Java helper code (#1247)
  utils/fix-copyright/CopyrightFix.java
Owners: @danielpeintner, @relu91

Test bybass
  README.md
Owners: @danielpeintner, @relu91

refactor: use type-checked JS instead of TS for quickstart examples
  examples/quickstart/presence-sensor.js
  examples/quickstart/simple-coffee-machine.js
  examples/quickstart/smart-clock.js
  packages/examples/src/quickstart/README.md
  packages/examples/src/quickstart/presence-sensor.ts
  packages/examples/src/quickstart/simple-coffee-machine.ts
  packages/examples/src/quickstart/smart-clock.ts
Owners: @danielpeintner, @relu91

fixup! refactor: use type-checked JS instead of TS for quickstart examples
  examples/quickstart/simple-coffee-machine.js
Owners: @danielpeintner, @relu91

fixup! refactor: use type-checked JS instead of TS for quickstart exampl…
  examples/quickstart/simple-coffee-machine.js
Owners: @danielpeintner, @relu91

.github/CODEOWNERS:

# Default owners (used as a fallback, last matching pattern takes the most precedence)
* @danielpeintner @relu91

# CoAP-Binding
/packages/binding-coap/ @JKRhb

# HTTP-Binding
/packages/binding-http/ @danielpeintner @relu91

# Mbus-Binding
# /packages/binding-modbus/

# Modbus-Binding
/packages/binding-modbus/ @relu91

# MQTT-Binding
/packages/binding-mqtt/ @sebastiankb @egekorkan

# NETCONF Binding
# /packages/binding-netconf/

# OPCUA Binding
# /packages/binding-opcua/

# WebSockets Binding
# /packages/binding-websockets/

# Browser Bundle
/packages/browser-bundle/ @danielpeintner @relu91

# CLI
/packages/browser-bundle/ @danielpeintner @relu91 @mkovatsc

# Core
/packages/core/ @danielpeintner @relu91 @JKRhb

# TD Tools
/packages/td-tools/ @danielpeintner @relu91
