Repository eclipse-thingweb/node-wot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan, @mkovatsc

.github/CODEOWNERS:

# Default owners (used as a fallback, last matching pattern takes the most precedence)
* @danielpeintner @relu91

# CoAP-Binding
/packages/binding-coap/ @JKRhb

# HTTP-Binding
/packages/binding-http/ @danielpeintner @relu91

# Mbus-Binding
# /packages/binding-modbus/

# Modbus-Binding
/packages/binding-modbus/ @relu91

# MQTT-Binding
/packages/binding-mqtt/ @sebastiankb @egekorkan

# NETCONF Binding
# /packages/binding-netconf/

# OPCUA Binding
# /packages/binding-opcua/

# WebSockets Binding
# /packages/binding-websockets/

# Browser Bundle
/packages/browser-bundle/ @danielpeintner @relu91

# CLI
/packages/browser-bundle/ @danielpeintner @relu91 @mkovatsc

# Core
/packages/core/ @danielpeintner @relu91 @JKRhb

# TD Tools
/packages/td-tools/ @danielpeintner @relu91

fix: lint errors for AID
  packages/td-tools/src/util/asset-interface-description.ts
  packages/td-tools/test/AssetInterfaceDescriptionTest.ts
Owners: @danielpeintner, @relu91

examples: fix data schema
  examples/quickstart/simple-coffee-machine.js
  packages/examples/src/quickstart/simple-coffee-machine.ts
Owners: @danielpeintner, @relu91

examples: copy readme as well
  examples/quickstart/README.md
Owners: @danielpeintner, @relu91

refactor(coap-server): simplify form generation
  packages/binding-coap/src/coap-server.ts
Owners: @JKRhb

feat(coap-server): add support for property meta operations
  packages/binding-coap/src/coap-server.ts
  packages/binding-coap/test/coap-server-test.ts
Owners: @JKRhb

fixup! feat(coap-server): add support for property meta operations
  packages/binding-coap/src/coap-server.ts
Owners: @JKRhb

chore(binding-coap): enable strict-boolean-expressions and null checks
  packages/binding-coap/.eslintrc.json
  packages/binding-coap/src/coap-client.ts
  packages/binding-coap/src/coap-server.ts
  packages/binding-coap/tsconfig.json
Owners: @JKRhb

refactor: revert changes in package "examples"
  packages/examples/src/scripts/countdown.ts
  packages/examples/src/scripts/smart-coffee-machine-client.ts
  packages/examples/src/scripts/smart-coffee-machine.ts
Owners: @danielpeintner, @relu91

refactor: revert "!== undefined" to "!= null"
  packages/td-tools/src/td-parser.ts
  packages/td-tools/src/thing-description.ts
  packages/td-tools/src/thing-model-helpers.ts
  packages/td-tools/src/util/asset-interface-description.ts
  packages/td-tools/test/AssetInterfaceDescriptionTest.ts
Owners: @danielpeintner, @relu91

refactor: revert some changes proposed by @JKRhb
  packages/td-tools/src/thing-model-helpers.ts
Owners: @danielpeintner, @relu91

fix: wrong conversion
  packages/td-tools/src/td-parser.ts
Owners: @danielpeintner, @relu91

refactor: missing one undefined change
  packages/td-tools/src/util/asset-interface-description.ts
Owners: @danielpeintner, @relu91

fix: add proper boolean check
  packages/td-tools/src/thing-model-helpers.ts
Owners: @danielpeintner, @relu91

Update README.md with UrlRewrite
  packages/binding-http/README.md
Owners: @danielpeintner, @relu91

Update packages/td-tools/src/thing-model-helpers.ts
  packages/td-tools/src/thing-model-helpers.ts
Owners: @danielpeintner, @relu91

Update packages/td-tools/src/util/asset-interface-description.ts
  packages/td-tools/src/util/asset-interface-description.ts
Owners: @danielpeintner, @relu91

Update packages/td-tools/src/util/asset-interface-description.ts
  packages/td-tools/src/util/asset-interface-description.ts
Owners: @danielpeintner, @relu91

Update packages/td-tools/src/util/asset-interface-description.ts
  packages/td-tools/src/util/asset-interface-description.ts
Owners: @danielpeintner, @relu91

Update packages/td-tools/src/util/asset-interface-description.ts
  packages/td-tools/src/util/asset-interface-description.ts
Owners: @danielpeintner, @relu91

Update packages/td-tools/src/util/asset-interface-description.ts
  packages/td-tools/src/util/asset-interface-description.ts
Owners: @danielpeintner, @relu91

Update packages/td-tools/src/util/asset-interface-description.ts
  packages/td-tools/src/util/asset-interface-description.ts
Owners: @danielpeintner, @relu91

refactor: further simplifications
  packages/td-tools/src/util/asset-interface-description.ts
Owners: @danielpeintner, @relu91

docs(contributing): add a guide for checking of `undefined` or `null`
  CONTRIBUTING.md
Owners: @danielpeintner, @relu91

style(contributing): format edited text
  CONTRIBUTING.md
Owners: @danielpeintner, @relu91

fixup! feat(coap-server): add support for property meta operations
  packages/binding-coap/src/coap-server.ts
Owners: @JKRhb

test(binding-coap): `await` all calls of `coapServer.stop()`
  packages/binding-coap/test/coap-server-test.ts
Owners: @JKRhb

docs: Update HTTP readme with UrlRewrite option (#1091)
  packages/binding-http/README.md
Owners: @danielpeintner, @relu91

Update packages/td-tools/src/td-parser.ts
  packages/td-tools/src/td-parser.ts
Owners: @danielpeintner, @relu91

test(coap-server): add basic tests for property meta operations
  packages/binding-coap/test/coap-server-test.ts
Owners: @JKRhb

fixup! test(binding-coap): `await` all calls of `coapServer.stop()`
  packages/binding-coap/test/coap-server-test.ts
Owners: @JKRhb

fixup! test(binding-coap): `await` all calls of `coapServer.stop()`
  packages/binding-coap/test/coap-server-test.ts
Owners: @JKRhb

fixup! test(binding-coap): `await` all calls of `coapServer.stop()`
  packages/binding-coap/test/coap-server-test.ts
Owners: @JKRhb

refactor: simplify data.version.model check
  packages/td-tools/src/thing-model-helpers.ts
Owners: @danielpeintner, @relu91

docs(contributing): improve code format in checking for `undefined` or `null`
  CONTRIBUTING.md
Owners: @danielpeintner, @relu91

chore(td-tools): enable eslint/strict-boolean-expressions and strictNullChecks (#1077)
  packages/td-tools/.eslintrc.json
  packages/td-tools/src/td-parser.ts
  packages/td-tools/src/thing-description.ts
  packages/td-tools/src/thing-model-helpers.ts
  packages/td-tools/src/util/asset-interface-description.ts
  packages/td-tools/test/AssetInterfaceDescriptionTest.ts
  packages/td-tools/tsconfig.json
Owners: @danielpeintner, @relu91

docs(contributing): better explanation for checking for undefined and null
  CONTRIBUTING.md
Owners: @danielpeintner, @relu91

chore(examples): enable eslint/strict-boolean-expressions and strictNullChecks
  examples/scripts/countdown.js
  examples/scripts/smart-coffee-machine-client.js
  examples/scripts/smart-coffee-machine.js
  packages/examples/.eslintrc.json
  packages/examples/src/scripts/countdown.ts
  packages/examples/src/scripts/smart-coffee-machine-client.ts
  packages/examples/src/scripts/smart-coffee-machine.ts
  packages/examples/tsconfig.json
Owners: @danielpeintner, @relu91

feat(coap-server): add initial meta operation support (#1086)
  packages/binding-coap/src/coap-server.ts
  packages/binding-coap/test/coap-server-test.ts
Owners: @JKRhb

chore(core): enable eslint/strict-boolean-expressions & strictNullChecks
  packages/core/.eslintrc.json
  packages/core/src/codecs/json-codec.ts
  packages/core/src/codecs/netconf-codec.ts
  packages/core/src/codecs/octetstream-codec.ts
  packages/core/src/codecs/text-codec.ts
  packages/core/src/consumed-thing.ts
  packages/core/src/content-serdes.ts
  packages/core/src/exposed-thing.ts
  packages/core/src/helpers.ts
  packages/core/src/interaction-output.ts
  packages/core/src/protocol-helpers.ts
  packages/core/src/protocol-listener-registry.ts
  packages/core/src/wot-impl.ts
  packages/core/test/ContentSerdesTest.ts
  packages/core/tsconfig.json
Owners: @danielpeintner, @relu91, @JKRhb

fix problem
  packages/core/src/helpers.ts
Owners: @danielpeintner, @relu91, @JKRhb
