Repository eclipse-thingweb/node-wot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan, @mkovatsc

.github/CODEOWNERS:

# Default owners (used as a fallback, last matching pattern takes the most precedence)
* @danielpeintner @relu91

# CoAP-Binding
/packages/binding-coap/ @JKRhb

# HTTP-Binding
/packages/binding-http/ @danielpeintner @relu91

# Mbus-Binding
# /packages/binding-modbus/

# Modbus-Binding
/packages/binding-modbus/ @relu91

# MQTT-Binding
/packages/binding-mqtt/ @sebastiankb @egekorkan

# NETCONF Binding
# /packages/binding-netconf/

# OPCUA Binding
# /packages/binding-opcua/

# WebSockets Binding
# /packages/binding-websockets/

# Browser Bundle
/packages/browser-bundle/ @danielpeintner @relu91

# CLI
/packages/browser-bundle/ @danielpeintner @relu91 @mkovatsc

# Core
/packages/core/ @danielpeintner @relu91 @JKRhb

# TD Tools
/packages/td-tools/ @danielpeintner @relu91

test(core/server-test): avoid using any casting
  packages/core/test/server-test.ts
Owners: @danielpeintner, @relu91, @JKRhb

chore: sync package-lock with master
  package-lock.json
Owners: @danielpeintner, @relu91

fix(binding-http): include CORS headers for 404 responses
  packages/binding-http/src/http-server.ts
  packages/binding-http/test/http-server-cors-test.ts
Owners: @danielpeintner, @relu91

refactor: completely remove references to wot-servient and rename it to node-wot
  README.md
  packages/binding-mqtt/README.md
  packages/binding-netconf/README.md
  packages/browser-bundle/web-test-runner.config.mjs
  packages/cli/README.md
  packages/cli/import-json-to-ts.js
  packages/cli/src/cli.ts
  packages/cli/src/configuration.ts
  packages/cli/src/node-wot-schema.conf.json
  packages/cli/src/utils/load-env-variables.ts
  packages/cli/test/configuration.ts
  packages/cli/test/parsers/config-params-parser.ts
  packages/cli/test/utils/load-env-variables.ts
  packages/cli/wot-servient.conf.json.md
Owners: @danielpeintner, @relu91, @sebastiankb, @egekorkan, @mkovatsc

refactor(core/interaction-output): use consistency in arg ordering for ActionInteractionOutput
  packages/cli/src/generated/node-wot-schema.conf.ts
  packages/cli/src/generated/version.ts
  packages/cli/src/generated/wot-servient-schema.conf.ts
  packages/core/src/consumed-thing.ts
  packages/core/src/interaction-output.ts
  packages/core/test/interaction-output-test.ts
Owners: @danielpeintner, @relu91, @JKRhb

docs: minor fixes as requested from code review
  README.md
  packages/core/src/wot-impl.ts
Owners: @danielpeintner, @relu91, @JKRhb

chore: remove leftover files from other branches
  packages/cli/src/generated/node-wot-schema.conf.ts
  packages/cli/src/generated/version.ts
  packages/cli/src/generated/wot-servient-schema.conf.ts
Owners: @danielpeintner, @relu91

feat(core): implement Thing-level data schema mapping extraction (#1499)
  README.md
  packages/cli/src/cli-default-servient.ts
  packages/core/src/consumed-thing.ts
  packages/core/src/helpers.ts
  packages/core/src/interaction-output.ts
  packages/core/src/servient.ts
  packages/core/src/thing-description.ts
  packages/core/src/wot-impl.ts
  packages/core/test/client-test.ts
  packages/core/test/interaction-output-test.ts
  packages/core/test/server-test.ts
Owners: @danielpeintner, @relu91, @JKRhb

docs: update README links for online user interfaces
  README.md
Owners: @danielpeintner, @relu91

fix(cli): update servient json schema with dataMapping property
  packages/cli/src/node-wot-schema.conf.json
Owners: @danielpeintner, @relu91

refactor(cli): turn off warning/error for process exit
  eslint.config.mjs
  packages/cli/src/cli.ts
  packages/cli/src/executor.ts
Owners: @danielpeintner, @relu91

refactor(cli/executor): disable eslint @typescript-eslint/no-require-imports
  packages/cli/src/executor.ts
Owners: @danielpeintner, @relu91

refactor(core/protocol-helpers): use object instead of {}
  packages/core/src/protocol-helpers.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor(cli): turn off warning/error for process exit (#1505)
  eslint.config.mjs
  packages/cli/src/cli.ts
  packages/cli/src/executor.ts
Owners: @danielpeintner, @relu91

fix(binding-mqtt): replace ?? with || for mqv:filter and mqv:topic fallback
  packages/binding-mqtt/src/mqtt-client.ts
Owners: @sebastiankb, @egekorkan

chore: upgrade Node.js 20 to 22
  .github/workflows/browser-test.yml
  .github/workflows/ci.yaml
Owners: @danielpeintner, @relu91

refactor: update uuid library to resolve a moderate severity alert
  package-lock.json
  packages/core/package.json
  packages/core/src/servient.ts
Owners: @danielpeintner, @relu91, @JKRhb

Delete licence.template.txt
  licence.template.txt
Owners: @danielpeintner, @relu91

chore: add CI comment
  .github/workflows/ci.yaml
Owners: @danielpeintner, @relu91

chore: stay on VS 2022
  .github/workflows/ci.yaml
Owners: @danielpeintner, @relu91

Add Node.js version 26.x to CI workflow
  .github/workflows/ci.yaml
Owners: @danielpeintner, @relu91

chore(core): replace uuid dep with native randomUUID
  package-lock.json
  packages/core/package.json
  packages/core/src/servient.ts
Owners: @danielpeintner, @relu91, @JKRhb

chore(core): replace uuid dep with native randomUUID (#1543)
  package-lock.json
  packages/core/package.json
  packages/core/src/servient.ts
Owners: @danielpeintner, @relu91, @JKRhb

Revise SECURITY.md with updated vulnerability reporting
  SECURITY.md
Owners: @danielpeintner, @relu91

format: make coding style happy
  SECURITY.md
Owners: @danielpeintner, @relu91

fix: servient.shutdown does not close open http connections
  packages/binding-http/src/http-client-factory.ts
  packages/binding-http/src/http-client-impl.ts
  packages/binding-http/src/https-client-factory.ts
  packages/binding-http/test/http-client-factory-test.ts
Owners: @danielpeintner, @relu91

fix: Fall back to mqv:filter when pathname topic is empty
  packages/binding-mqtt/src/mqtt-client.ts
Owners: @sebastiankb, @egekorkan

fix(binding-opcua) opcua security #1401 (#1552)
  packages/binding-opcua/README.md
  packages/binding-opcua/src/opcua-protocol-client.ts
  packages/binding-opcua/src/opcua-security-resolver.ts
  packages/binding-opcua/src/security-scheme.ts
  packages/binding-opcua/test/opcua-security-e2e-test.ts
  packages/binding-opcua/test/opcua-security-test.ts
  packages/examples/src/bindings/opcua/demo-opcua-secure.ts
Owners: @danielpeintner, @relu91

chore(binding-opcua): upgrade node-opcua family to 2.179.0
  package-lock.json
  package.json
  packages/binding-opcua/package.json
  packages/binding-opcua/src/opcua-protocol-client.ts
  packages/examples/tsconfig.json
Owners: @danielpeintner, @relu91

chore(binding-opcua): upgrade node-opcua family to 2.179.0 (#1553)
  package-lock.json
  package.json
  packages/binding-opcua/package.json
  packages/binding-opcua/src/opcua-protocol-client.ts
  packages/examples/tsconfig.json
Owners: @danielpeintner, @relu91

chore(binding-opcua): upgrade node-opcua family to 2.184.0
  package-lock.json
  package.json
  packages/binding-opcua/package.json
  packages/binding-opcua/src/codecs/opcua-binary-codec.ts
  packages/binding-opcua/src/codecs/opcua-json-codec.ts
  packages/binding-opcua/src/opcua-protocol-client.ts
  packages/binding-opcua/test/opcua-codec-test.ts
  packages/binding-opcua/test/schema-validation-test.ts
  packages/binding-opcua/tsconfig.json
  packages/binding-opcua/tsconfig.test.json
Owners: @danielpeintner, @relu91

refactor: align HTTP client tracking with MQTT
  packages/binding-http/src/http-client-factory.ts
  packages/binding-http/src/https-client-factory.ts
Owners: @danielpeintner, @relu91

chore: align versions across different packages
  package-lock.json
  packages/binding-http/package.json
  packages/core/package.json
Owners: @danielpeintner, @relu91, @JKRhb

fix: servient.shutdown does not close open http connections (#1548)
  packages/binding-http/src/http-client-factory.ts
  packages/binding-http/src/http-client-impl.ts
  packages/binding-http/src/https-client-factory.ts
  packages/binding-http/test/http-client-factory-test.ts
Owners: @danielpeintner, @relu91

chore(binding-opcua): upgrade node-opcua family to 2.184.0 (#1565)
  package-lock.json
  package.json
  packages/binding-opcua/package.json
  packages/binding-opcua/src/codecs/opcua-binary-codec.ts
  packages/binding-opcua/src/codecs/opcua-json-codec.ts
  packages/binding-opcua/src/opcua-protocol-client.ts
  packages/binding-opcua/test/opcua-codec-test.ts
  packages/binding-opcua/test/schema-validation-test.ts
  packages/binding-opcua/tsconfig.json
  packages/binding-opcua/tsconfig.test.json
Owners: @danielpeintner, @relu91

docs: npm dedupe no longer necessary for binding-opcua
  README.md
Owners: @danielpeintner, @relu91

chore: remove devDependencies in bindings that are available in main package.json
  package-lock.json
  packages/binding-http/package.json
  packages/binding-opcua/package.json
Owners: @danielpeintner, @relu91

Add CSV data mapping
  .DS_Store
  examples/.DS_Store
  examples/datamapping/README.md
  examples/datamapping/storm-data.client.js
  examples/datamapping/storm-data.td.json
  examples/datamapping/storm_data.csv
  examples/datamapping/toa5-weather.client.js
  examples/datamapping/toa5-weather.csv
  examples/datamapping/toa5-weather.td.json
  package-lock.json
  packages/core/package.json
  packages/core/src/codecs/csv-codec.ts
  packages/core/src/content-serdes.ts
  packages/core/src/core.ts
  packages/core/src/csv-binding.ts
  packages/core/src/data-mapping.ts
  packages/core/src/interaction-output.ts
  packages/core/test/csv-codec-test.ts
Owners: @danielpeintner, @relu91, @JKRhb

Add CSV data mapping
  .DS_Store
  .gitignore
Owners: @danielpeintner, @relu91

Add CSV data mapping
  examples/.DS_Store
Owners: @danielpeintner, @relu91
