Repository eclipse-thingweb/node-wot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan, @mkovatsc

examples: copy to root
  examples/quickstart/simple-coffee-machine.js
  examples/quickstart/smart-clock.js
Owners: @danielpeintner, @relu91

Add supports for multiple security schemes in http server (#1070)
  examples/security/oauth/consumer.js
  examples/security/oauth/wot-server-servient-conf.json
  packages/binding-http/README.md
  packages/binding-http/src/http-server.ts
  packages/binding-http/src/http.ts
  packages/binding-http/src/routes/action.ts
  packages/binding-http/src/routes/common.ts
  packages/binding-http/src/routes/event.ts
  packages/binding-http/src/routes/properties.ts
  packages/binding-http/src/routes/property-observe.ts
  packages/binding-http/src/routes/property.ts
  packages/binding-http/src/routes/thing-description.ts
  packages/binding-http/src/routes/things.ts
  packages/binding-http/test/http-server-oauth-tests.ts
  packages/binding-http/test/http-server-test.ts
  packages/examples/src/bindings/http/example-server-secure.ts
  packages/examples/src/security/oauth/consumer.ts
  packages/examples/src/security/oauth/wot-server-servient-conf.json
Owners: @danielpeintner, @relu91

fix(examples/quickstart/smart-clock): change default port
  examples/quickstart/smart-clock.js
  packages/examples/src/quickstart/smart-clock.ts
Owners: @danielpeintner, @relu91

chore: disable Node.js 16
  .github/workflows/ci-full.yaml
  .github/workflows/ci.yaml
  README.md
Owners: @danielpeintner, @relu91

chore: update node versions of GitHub workflow also
  .github/workflows/ci-full.yaml
  .github/workflows/ci.yaml
Owners: @danielpeintner, @relu91

chore: enable eslint/strict-boolean-expressions and strictNullChecks
  .eslintrc.js
  tsconfig.json
Owners: @danielpeintner, @relu91

fix package examples
  packages/examples/src/scripts/countdown.ts
  packages/examples/src/scripts/smart-coffee-machine-client.ts
  packages/examples/src/scripts/smart-coffee-machine.ts
Owners: @danielpeintner, @relu91

update opcua modules - remove unnecessary data transformation
  package-lock.json
  packages/binding-opcua/package.json
  packages/binding-opcua/src/codec.ts
  packages/binding-opcua/src/opcua-protocol-client.ts
  packages/binding-opcua/test/client-test.ts
  packages/binding-opcua/test/full-opcua-thing-test.ts
Owners: @danielpeintner, @relu91

fix package td-tools
  packages/td-tools/src/td-parser.ts
  packages/td-tools/src/thing-description.ts
  packages/td-tools/src/thing-model-helpers.ts
Owners: @danielpeintner, @relu91

chore: increase to NPM 9
  README.md
Owners: @danielpeintner, @relu91

docs: update readme
  packages/td-tools/src/util/README.md
Owners: @danielpeintner, @relu91

refactor: move updateInteractionNameWithUriVariablePattern to core
  packages/binding-http/src/http-server.ts
  packages/core/src/helpers.ts
Owners: @danielpeintner, @relu91, @JKRhb

test(coap-server): add test for URI variables
  packages/binding-coap/test/coap-server-test.ts
Owners: @JKRhb

feat(coap-server): add support for URI variables
  packages/binding-coap/src/coap-server.ts
Owners: @JKRhb

fix(binding-netconf): use optional chaining for non-null-assertion
  packages/binding-netconf/src/async-node-netconf.ts
Owners: @danielpeintner, @relu91

fixup! test(coap-server): add test for URI variables
  packages/binding-coap/test/coap-server-test.ts
Owners: @JKRhb

refactor(core): simplify updateInteractionNameWithUriVariablePattern
  packages/core/src/helpers.ts
Owners: @danielpeintner, @relu91, @JKRhb

fixup! refactor(core): simplify updateInteractionNameWithUriVariablePattern
  packages/core/src/helpers.ts
Owners: @danielpeintner, @relu91, @JKRhb

fiuxp! refactor(core): simplify updateInteractionNameWithUriVariablePattern
  packages/core/src/helpers.ts
Owners: @danielpeintner, @relu91, @JKRhb

AAS next (#1052)
  packages/td-tools/src/util/README.md
  packages/td-tools/src/util/asset-interface-description.ts
  packages/td-tools/test/AssetInterfaceDescriptionTest.ts
  packages/td-tools/test/util/AID_v03.aasx
  packages/td-tools/test/util/AID_v03.json
  packages/td-tools/test/util/AID_v03_counter.aasx
  packages/td-tools/test/util/AID_v03_counter.json
  packages/td-tools/test/util/counterHTTP.aasx
  packages/td-tools/test/util/counterHTTP.json
Owners: @danielpeintner, @relu91

chore: increase version numbers to 0.8.9 for next release
  package-lock.json
  packages/binding-coap/package.json
  packages/binding-file/package.json
  packages/binding-http/package.json
  packages/binding-mbus/package.json
  packages/binding-modbus/package.json
  packages/binding-mqtt/package.json
  packages/binding-netconf/package.json
  packages/binding-opcua/package.json
  packages/binding-websockets/package.json
  packages/browser-bundle/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/examples/package.json
  packages/td-tools/package.json
Owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan, @mkovatsc

chore: align package-lock.json
  package-lock.json
Owners: @danielpeintner, @relu91

Update packages/td-tools/src/td-parser.ts
  packages/td-tools/src/td-parser.ts
Owners: @danielpeintner, @relu91

Update packages/td-tools/src/td-parser.ts
  packages/td-tools/src/td-parser.ts
Owners: @danielpeintner, @relu91

Update packages/td-tools/src/td-parser.ts
  packages/td-tools/src/td-parser.ts
Owners: @danielpeintner, @relu91

Update packages/td-tools/src/thing-model-helpers.ts
  packages/td-tools/src/thing-model-helpers.ts
Owners: @danielpeintner, @relu91

Update packages/td-tools/src/thing-model-helpers.ts
  packages/td-tools/src/thing-model-helpers.ts
Owners: @danielpeintner, @relu91

Update packages/td-tools/src/thing-model-helpers.ts
  packages/td-tools/src/thing-model-helpers.ts
Owners: @danielpeintner, @relu91

Update packages/td-tools/src/thing-model-helpers.ts
  packages/td-tools/src/thing-model-helpers.ts
Owners: @danielpeintner, @relu91

feat(examples/quickstart): add a refill action for coffe-machine
  examples/quickstart/simple-coffee-machine.js
  packages/examples/src/quickstart/simple-coffee-machine.ts
Owners: @danielpeintner, @relu91

feat(coap-server): add support for URI variables (#1078)
  packages/binding-coap/src/coap-server.ts
  packages/binding-coap/test/coap-server-test.ts
  packages/binding-http/src/http-server.ts
  packages/core/src/helpers.ts
Owners: @JKRhb, @danielpeintner, @relu91

fix(README): minimum node version
  README.md
Owners: @danielpeintner, @relu91

chore: disable Node.js 16 CI builds/tests (#1076)
  .github/workflows/ci-full.yaml
  .github/workflows/ci.yaml
  README.md
Owners: @danielpeintner, @relu91

chore: increase version numbers to 0.8.9 for next release (#1080)
  package-lock.json
  packages/binding-coap/package.json
  packages/binding-file/package.json
  packages/binding-http/package.json
  packages/binding-mbus/package.json
  packages/binding-modbus/package.json
  packages/binding-mqtt/package.json
  packages/binding-netconf/package.json
  packages/binding-opcua/package.json
  packages/binding-websockets/package.json
  packages/browser-bundle/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/examples/package.json
  packages/td-tools/package.json
Owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan, @mkovatsc

feat!(coap-server): adjust constructor to HTTP server
  packages/binding-coap/src/coap-server.ts
  packages/binding-coap/src/coap.ts
Owners: @JKRhb

fix: use new CoAP constructor API in tests and examples
  packages/binding-coap/test/coap-client-test.ts
  packages/binding-coap/test/coap-server-test.ts
  packages/examples/src/quickstart/smart-clock.ts
Owners: @JKRhb, @danielpeintner, @relu91

fix(cli): adjust config usage for default servient
  packages/cli/src/cli-default-servient.ts
Owners: @danielpeintner, @relu91

chore: align/fix package-lock.json
  package-lock.json
Owners: @danielpeintner, @relu91

fix: issue issue introduced by commenting
  packages/td-tools/src/thing-model-helpers.ts
Owners: @danielpeintner, @relu91

move eslint settings to td-tools package only
  .eslintrc.js
  packages/td-tools/.eslintrc.json
  packages/td-tools/tsconfig.json
  tsconfig.json
Owners: @danielpeintner, @relu91

.github/CODEOWNERS:

# Default owners (used as a fallback, last matching pattern takes the most precedence)
* @danielpeintner @relu91

# CoAP-Binding
/packages/binding-coap/ @JKRhb

# HTTP-Binding
/packages/binding-http/ @danielpeintner @relu91

# Mbus-Binding
# /packages/binding-modbus/

# Modbus-Binding
/packages/binding-modbus/ @relu91

# MQTT-Binding
/packages/binding-mqtt/ @sebastiankb @egekorkan

# NETCONF Binding
# /packages/binding-netconf/

# OPCUA Binding
# /packages/binding-opcua/

# WebSockets Binding
# /packages/binding-websockets/

# Browser Bundle
/packages/browser-bundle/ @danielpeintner @relu91

# CLI
/packages/browser-bundle/ @danielpeintner @relu91 @mkovatsc

# Core
/packages/core/ @danielpeintner @relu91 @JKRhb

# TD Tools
/packages/td-tools/ @danielpeintner @relu91
