Repository eclipse-thingweb/node-wot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan, @mkovatsc

chore(cli): update license date
  packages/cli/src/configuration.ts
  packages/cli/src/executor.ts
  packages/cli/src/parsers/config-file-parser.ts
  packages/cli/src/parsers/config-params-parser.ts
  packages/cli/src/parsers/index.ts
  packages/cli/src/script-runner.ts
  packages/cli/src/utils/index.ts
  packages/cli/src/utils/load-env-variables.ts
  packages/cli/src/utils/set-log-level.ts
  packages/cli/src/utils/string-to-js-value.ts
  packages/cli/test/configuration.ts
  packages/cli/test/executor.ts
  packages/cli/test/parsers/config-file-parser.ts
  packages/cli/test/parsers/config-params-parser.ts
  packages/cli/test/utils/load-env-variables.ts
  packages/cli/test/utils/set-log-level.ts
  packages/cli/test/utils/string-to-js-value.ts
Owners: @danielpeintner, @relu91

refactor(cli): move loglevel to log.level
  packages/cli/src/cli.ts
  packages/cli/src/configuration.ts
  packages/cli/src/wot-servient-schema.conf.json
  packages/cli/test/configuration.ts
Owners: @danielpeintner, @relu91

test(cli): remove temporaney resource folder
  packages/cli/test/configuration.ts
  packages/cli/test/executor.ts
  packages/cli/test/parsers/config-file-parser.ts
  packages/cli/test/resources/.gitkeep
Owners: @danielpeintner, @relu91

feat(cli): rename cli commad from wot-servient to node-wot
  Dockerfile
  README.md
  package-lock.json
  package.json
  packages/binding-mqtt/README.md
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/src/script-runner.ts
Owners: @danielpeintner, @relu91, @sebastiankb, @egekorkan

build: add missing test dependencies to package workspaces to fix lint warnings
  eslint.config.mjs
  package-lock.json
  packages/binding-coap/package.json
  packages/binding-file/package.json
  packages/binding-http/package.json
  packages/binding-mbus/package.json
  packages/binding-modbus/package.json
  packages/binding-mqtt/package.json
  packages/binding-netconf/package.json
  packages/binding-websockets/package.json
  packages/cli/package.json
  packages/core/package.json
Owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan

docs(binding-mqtt): fix typo
  packages/binding-mqtt/README.md
Owners: @sebastiankb, @egekorkan

Fix monorepo dependency hoisting and ESLint extraneous-dependencies rule
  eslint.config.mjs
  packages/binding-coap/package.json
  packages/binding-file/package.json
  packages/binding-http/package.json
  packages/binding-mbus/package.json
  packages/binding-modbus/package.json
  packages/binding-mqtt/package.json
  packages/binding-netconf/package.json
  packages/binding-opcua/package.json
  packages/binding-websockets/package.json
  packages/cli/package.json
  packages/core/package.json
Owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan

chore: revisit opcua binding examples
  packages/examples/package.json
  packages/examples/src/bindings/README.md
  packages/examples/src/bindings/opcua/README.md
  packages/examples/src/bindings/opcua/demo-opcua-thing-description.ts
  packages/examples/src/bindings/opcua/opcua-coffee-machine-demo.ts
  packages/examples/src/bindings/opcua/opcua-coffee-machine-thing-description.ts
Owners: @danielpeintner, @relu91

feat(binding-http/http-server): generate id based http paths
  packages/binding-http/src/http-server.ts
  packages/binding-http/src/http.ts
  packages/binding-http/test/http-server-test.ts
  packages/cli/src/generated/version.ts
  packages/cli/src/generated/wot-servient-schema.conf.ts
Owners: @danielpeintner, @relu91

chore: remove files from another branch
  packages/cli/src/generated/version.ts
  packages/cli/src/generated/wot-servient-schema.conf.ts
Owners: @danielpeintner, @relu91

docs(README): fix link to cli README
  README.md
Owners: @danielpeintner, @relu91

Support ID-based HTTP paths for exposed Things (#1464)
  packages/binding-http/src/http-server.ts
  packages/binding-http/src/http.ts
  packages/binding-http/test/http-server-test.ts
Owners: @danielpeintner, @relu91

test(core): revert promise catches
  packages/core/test/server-test.ts
Owners: @danielpeintner, @relu91, @JKRhb

Opcua binding refactor (#1451)
  packages/binding-opcua/src/codec.ts
  packages/binding-opcua/src/codecs/opcua-binary-codec.ts
  packages/binding-opcua/src/codecs/opcua-data-schemas.ts
  packages/binding-opcua/src/codecs/opcua-json-codec.ts
  packages/binding-opcua/src/opcua-protocol-client.ts
  packages/binding-opcua/test/opcua-protocol-client-test.ts
  packages/binding-opcua/test/schema-validation-test.ts
Owners: @danielpeintner, @relu91

chore: increase version numbers to 1.0.0 for next release
  package-lock.json
  packages/binding-coap/package.json
  packages/binding-file/package.json
  packages/binding-http/package.json
  packages/binding-mbus/package.json
  packages/binding-modbus/package.json
  packages/binding-mqtt/package.json
  packages/binding-netconf/package.json
  packages/binding-opcua/package.json
  packages/binding-websockets/package.json
  packages/browser-bundle/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/examples/package.json
Owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan, @mkovatsc

refactor: ArrayBuffer
  packages/core/src/interaction-output.ts
Owners: @danielpeintner, @relu91, @JKRhb

test: skip CoAP test
  packages/binding-coap/test/coap-server-test.ts
Owners: @JKRhb

refactor: fix spelling issues in test names
  packages/binding-http/test/oauth-token-validation-tests.ts
Owners: @danielpeintner, @relu91

fix(core/interaction-output): return an ArrayBuffer in the arrayBuffer method
  packages/core/src/content.ts
  packages/core/src/interaction-output.ts
  packages/core/src/protocol-helpers.ts
  packages/core/test/interaction-output-test.ts
Owners: @danielpeintner, @relu91, @JKRhb

feat(core): expose internal wot implementation
  packages/core/src/core.ts
  packages/core/src/wot-impl.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor: remove commented out code
  packages/core/src/interaction-output.ts
Owners: @danielpeintner, @relu91, @JKRhb

chore: switch back to coap v1.4.1
  package-lock.json
  packages/binding-coap/test/coap-server-test.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor: remove unused/deprecated SecurityType
  packages/core/src/thing-description.ts
Owners: @danielpeintner, @relu91, @JKRhb

feat(core/interaction-output): relax constraint for slicing the buffer
  packages/core/src/interaction-output.ts
Owners: @danielpeintner, @relu91, @JKRhb

Feat: Adding websocket implementation"
  packages/binding-websockets/src/ws-client.ts
  packages/binding-websockets/test/ws-tests.ts
Owners: @danielpeintner, @relu91

feat(binding-websockets): implement WebSocket client with W3C WoT protocol support
  packages/binding-websockets/src/ws-client.ts
Owners: @danielpeintner, @relu91

Chore: formatting
  packages/binding-websockets/src/ws-client.ts
  packages/binding-websockets/test/ws-tests.ts
Owners: @danielpeintner, @relu91

fix(core): implement two-level Map for O(1) protocol+subprotocol lookup
  packages/binding-coap/src/coap-client-factory.ts
  packages/binding-coap/src/coaps-client-factory.ts
  packages/binding-file/src/file-client-factory.ts
  packages/binding-http/src/http-client-factory.ts
  packages/binding-http/src/https-client-factory.ts
  packages/binding-mbus/src/mbus-client-factory.ts
  packages/binding-modbus/src/modbus-client-factory.ts
  packages/binding-mqtt/src/mqtt-client-factory.ts
  packages/binding-mqtt/src/mqtt-client.ts
  packages/binding-mqtt/src/mqtts-client-factory.ts
  packages/binding-mqtt/test/mqtt-client-subscribe-test.integration.ts
  packages/binding-mqtt/test/mqtt-websocket-test.integration.ts
  packages/binding-netconf/src/netconf-client-factory.ts
  packages/binding-opcua/src/factory.ts
  packages/binding-websockets/src/ws-client-factory.ts
  packages/binding-websockets/src/wss-client-factory.ts
  packages/core/src/consumed-thing.ts
  packages/core/src/helpers.ts
  packages/core/src/protocol-interfaces.ts
  packages/core/src/servient.ts
  packages/core/test/helpers-test.ts
  packages/core/test/servient-subprotocol-test.ts
Owners: @JKRhb, @danielpeintner, @relu91, @sebastiankb, @egekorkan

chore: move @types/node-fetch and @types/debug from devDependencies to dependencies.
  packages/binding-http/package.json
  packages/core/package.json
Owners: @danielpeintner, @relu91, @JKRhb

docs(binding-coap): document PSK usage with CoAPs
  packages/binding-coap/README.md
Owners: @JKRhb

fix(core): make handleUnsubscribeEvent and handleUnobserveProperty async
  packages/core/src/exposed-thing.ts
Owners: @danielpeintner, @relu91, @JKRhb

fix(bindings): handle async unsubscribe/unobserve without floating promises
  packages/binding-coap/src/coap-server.ts
  packages/binding-http/src/routes/event.ts
  packages/binding-http/src/routes/property-observe.ts
  packages/binding-mqtt/src/mqtt-broker-server.ts
  packages/binding-websockets/src/ws-server.ts
Owners: @JKRhb, @danielpeintner, @relu91, @sebastiankb, @egekorkan

Add AI agent instructions for repository contributors
  .github/copilot-instructions.md
Owners: @danielpeintner, @relu91

chore: run format
  .github/copilot-instructions.md
Owners: @danielpeintner, @relu91

chore: run format again
  .github/copilot-instructions.md
Owners: @danielpeintner, @relu91

docs(binding-coap): document PSK usage with CoAPs
  packages/binding-coap/README.md
Owners: @JKRhb

refactor(core): removed redundant existence checks
  packages/core/eslint.config.mjs
  packages/core/package.json
  packages/core/src/codecs/octetstream-codec.ts
  packages/core/src/consumed-thing.ts
  packages/core/src/content-serdes.ts
  packages/core/src/exposed-thing.ts
  packages/core/src/helpers.ts
  packages/core/src/protocol-helpers.ts
  packages/core/src/protocol-listener-registry.ts
  packages/core/src/serdes.ts
  packages/core/src/servient.ts
  packages/core/test/content-serdes-test.ts
  packages/core/test/server-test.ts
Owners: @danielpeintner, @relu91, @JKRhb

fix(core) : fixed the formating issue
  packages/core/src/codecs/octetstream-codec.ts
  packages/core/src/consumed-thing.ts
  packages/core/src/content-serdes.ts
  packages/core/src/protocol-listener-registry.ts
Owners: @danielpeintner, @relu91, @JKRhb

fix(core): add mjs files to format script and apply consistent quoting in eslint config.
  packages/core/eslint.config.mjs
  packages/core/package.json
Owners: @danielpeintner, @relu91, @JKRhb

chore: Promote `@typescript-eslint/no-unnecessary-condition` ESLint rule from warn to error.
  packages/core/eslint.config.mjs
Owners: @danielpeintner, @relu91, @JKRhb

.github/CODEOWNERS:

# Default owners (used as a fallback, last matching pattern takes the most precedence)
* @danielpeintner @relu91

# CoAP-Binding
/packages/binding-coap/ @JKRhb

# HTTP-Binding
/packages/binding-http/ @danielpeintner @relu91

# Mbus-Binding
# /packages/binding-modbus/

# Modbus-Binding
/packages/binding-modbus/ @relu91

# MQTT-Binding
/packages/binding-mqtt/ @sebastiankb @egekorkan

# NETCONF Binding
# /packages/binding-netconf/

# OPCUA Binding
# /packages/binding-opcua/

# WebSockets Binding
# /packages/binding-websockets/

# Browser Bundle
/packages/browser-bundle/ @danielpeintner @relu91

# CLI
/packages/browser-bundle/ @danielpeintner @relu91 @mkovatsc

# Core
/packages/core/ @danielpeintner @relu91 @JKRhb

# TD Tools
/packages/td-tools/ @danielpeintner @relu91
