Repository eclipse-thingweb/node-wot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @danielpeintner, @relu91, @JKRhb, @sebastiankb, @egekorkan, @mkovatsc

refactor: revert changing function signature
  packages/core/src/exposed-thing.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor: fix prettier version to exact 3.0.0
  package-lock.json
  package.json
  packages/binding-modbus/src/modbus-client.ts
  packages/binding-opcua/src/opcua-protocol-client.ts
  packages/core/src/codecs/octetstream-codec.ts
Owners: @danielpeintner, @relu91, @JKRhb

refactor: use same ipv6 localhost
  packages/binding-coap/test/coap-server-test.ts
Owners: @JKRhb

refactor: use :: for localhost
  packages/binding-coap/test/coap-server-test.ts
Owners: @JKRhb

chore: similar to issue 1138 ?
  .github/workflows/ci.yaml
Owners: @danielpeintner, @relu91

chore(binding-opcua) fix application/octet-stream encoding/decoding #1400
  packages/binding-opcua/src/opcua-data-schemas.ts
  packages/binding-opcua/src/opcua-protocol-client.ts
  packages/binding-opcua/test/full-opcua-thing-test.ts
  packages/core/src/codecs/octetstream-codec.ts
Owners: @danielpeintner, @relu91, @JKRhb

chore(binding-opcua): remove redundant findBasicDataType
  packages/binding-opcua/src/opcua-protocol-client.ts
Owners: @danielpeintner, @relu91

feat(binding-opcua): fix connection mutualisation bug
  packages/binding-opcua/src/opcua-protocol-client.ts
  packages/binding-opcua/test/opcua-protocol-client-test.ts
Owners: @danielpeintner, @relu91

chore(binding-opcua): refactor codec into multiple files
  packages/binding-opcua/src/codec.ts
  packages/binding-opcua/src/codecs/opcua-binary-codec.ts
  packages/binding-opcua/src/codecs/opcua-data-schemas.ts
  packages/binding-opcua/src/codecs/opcua-json-codec.ts
  packages/binding-opcua/src/opcua-protocol-client.ts
  packages/binding-opcua/test/schema-validation-test.ts
Owners: @danielpeintner, @relu91

chore: revisit opcua binding examples
  packages/examples/package.json
  packages/examples/src/bindings/README.md
  packages/examples/src/bindings/opcua/demo-opcua-thing-description.ts
  packages/examples/src/bindings/opcua/opcua-coffee-machine-demo.ts
  packages/examples/src/bindings/opcua/opcua-coffee-machine-thing-description.ts
Owners: @danielpeintner, @relu91

fix(binding-coap): include IPv6 when no address specified
  packages/binding-coap/src/coap-server.ts
Owners: @JKRhb

docs: revise README
  README.md
Owners: @danielpeintner, @relu91

chore: revisit opcua binding examples
  packages/examples/package.json
  packages/examples/src/bindings/README.md
  packages/examples/src/bindings/opcua/README.md
  packages/examples/src/bindings/opcua/demo-opcua-thing-description.ts
  packages/examples/src/bindings/opcua/opcua-coffee-machine-demo.ts
  packages/examples/src/bindings/opcua/opcua-coffee-machine-thing-description.ts
Owners: @danielpeintner, @relu91

Update packages/binding-opcua/src/codecs/opcua-binary-codec.ts
  packages/binding-opcua/src/codecs/opcua-binary-codec.ts
Owners: @danielpeintner, @relu91

Update packages/binding-opcua/src/codecs/opcua-data-schemas.ts
  packages/binding-opcua/src/codecs/opcua-data-schemas.ts
Owners: @danielpeintner, @relu91

Update packages/binding-opcua/src/codecs/opcua-json-codec.ts
  packages/binding-opcua/src/codecs/opcua-json-codec.ts
Owners: @danielpeintner, @relu91

refactor(cli): drop vm2 and use NodeJS vm module
  package-lock.json
  packages/cli/package.json
  packages/cli/src/cli-default-servient.ts
  packages/cli/src/cli.ts
  packages/cli/src/compiler-function.ts
  packages/cli/test/runtime-test.ts
Owners: @danielpeintner, @relu91

refactor(cli/default-serivent): use async await in run method
  packages/cli/src/cli-default-servient.ts
Owners: @danielpeintner, @relu91

refactor(cli): better code organization and minor improvements logging
  package-lock.json
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/src/config-builder.ts
  packages/cli/src/parsers/config-file-parser.ts
  packages/cli/src/parsers/config-params-parser.ts
  packages/cli/src/parsers/index.ts
  packages/cli/src/parsers/ip-parser.ts
  packages/cli/src/script-runner.ts
  packages/cli/src/utils/index.ts
  packages/cli/src/utils/load-compiler.ts
  packages/cli/src/utils/load-env-variables.ts
Owners: @danielpeintner, @relu91

refactor(cli): organize logging configuration
  packages/cli/src/cli-default-servient.ts
  packages/cli/src/cli.ts
  packages/cli/src/utils/set-log-level.ts
Owners: @danielpeintner, @relu91

refactor(cli/parsers/config-file-parser): better error messages
  packages/cli/src/parsers/config-file-parser.ts
Owners: @danielpeintner, @relu91

refactor(cli): improve configuration building and keep it sync with json schema
  package-lock.json
  package.json
  packages/cli/.gitignore
  packages/cli/eslint.config.mjs
  packages/cli/import-json.js
  packages/cli/package.json
  packages/cli/src/cli-default-servient.ts
  packages/cli/src/cli.ts
  packages/cli/src/config-builder.ts
  packages/cli/src/configuration.ts
  packages/cli/src/parsers/config-file-parser.ts
  packages/cli/src/wot-servient-schema.conf.json
  packages/cli/test/.eslintrc.json
  packages/cli/tsconfig.json
Owners: @danielpeintner, @relu91

fix(mqtt): allow optional uri in MQTT Server configuration
  packages/binding-mqtt/src/mqtt-broker-server.ts
  packages/binding-mqtt/src/mqtt.ts
Owners: @sebastiankb, @egekorkan

feat(cli): simplify CLI script execution
  packages/binding-mqtt/src/mqtt-broker-server.ts
  packages/cli/import-json.js
  packages/cli/src/cli-default-servient.ts
  packages/cli/src/cli.ts
  packages/cli/src/executor.ts
  packages/cli/src/script-runner.ts
  packages/cli/src/utils/index.ts
  packages/examples/src/scripts/counter.ts
  packages/examples/tsconfig.json
  test/relative.ts
  test/test.ts
Owners: @sebastiankb, @egekorkan, @danielpeintner, @relu91

feat(cli): unify configuration parameters
  .env
  ggg.mjs
  packages/cli/src/cli.ts
  packages/cli/src/configuration.ts
  packages/cli/src/parsers/config-params-parser.ts
  packages/cli/src/utils/load-env-variables.ts
  packages/cli/src/utils/string-to-js-value.ts
  packages/cli/src/wot-servient-schema.conf.json
  test.mjs
Owners: @danielpeintner, @relu91

chore: remove testing files
  ggg.mjs
  test.mjs
  test/relative.ts
  test/test.ts
Owners: @danielpeintner, @relu91

test(cli): cover new functionalities with basic tests
  packages/cli/.gitignore
  packages/cli/package.json
  packages/cli/src/utils/string-to-js-value.ts
  packages/cli/test/configuration.ts
  packages/cli/test/executor.ts
  packages/cli/test/parsers/config-file-parser.ts
  packages/cli/test/parsers/config-params-parser.ts
  packages/cli/test/parsers/ip-parser.ts
  packages/cli/test/resources/.gitkeep
  packages/cli/test/runtime-test.ts
  packages/cli/test/utils/load-env-variables.ts
  packages/cli/test/utils/set-log-level.ts
  packages/cli/test/utils/string-to-js-value.ts
Owners: @danielpeintner, @relu91

chore: fix critical audit warnings
  package-lock.json
Owners: @danielpeintner, @relu91

chore: fix eslint warnings
  packages/cli/src/cli.ts
  packages/cli/src/executor.ts
  packages/cli/src/script-runner.ts
  packages/cli/test/parsers/config-params-parser.ts
Owners: @danielpeintner, @relu91

style: run format
  packages/cli/eslint.config.mjs
  packages/cli/src/configuration.ts
Owners: @danielpeintner, @relu91

refactor: remove unused private members
  packages/core/src/consumed-thing.ts
Owners: @danielpeintner, @relu91, @JKRhb

test(cli): use tmp library for script files
  package-lock.json
  packages/cli/package.json
  packages/cli/test/executor.ts
Owners: @danielpeintner, @relu91

fix: increase aedes version.
  package-lock.json
  packages/binding-mqtt/package.json
  packages/binding-mqtt/src/mqtt-broker-server.ts
  packages/binding-mqtt/test/mqtt-client-subscribe-test.unit.ts
Owners: @danielpeintner, @relu91, @sebastiankb, @egekorkan

refactor(cli): basic error messages improvments
  packages/binding-mqtt/src/mqtt-broker-server.ts
  packages/cli/src/parsers/config-file-parser.ts
Owners: @sebastiankb, @egekorkan, @danielpeintner, @relu91

chore(cli): rename import-json.js to import-json-to-ts.js
  package.json
  packages/cli/import-json-to-ts.js
  packages/cli/package.json
Owners: @danielpeintner, @relu91

feat(cli): remove compiler option
  packages/cli/src/cli.ts
Owners: @danielpeintner, @relu91

docs(cli/README): allign the help message with the latest changes
  packages/cli/README.md
  packages/cli/src/cli.ts
Owners: @danielpeintner, @relu91

feat(cli): remove now unsupported inspect options
  packages/cli/src/cli.ts
  packages/cli/src/parsers/index.ts
  packages/cli/src/parsers/ip-parser.ts
  packages/cli/test/parsers/ip-parser.ts
Owners: @danielpeintner, @relu91

docs(cli/README): add missing closing parentesis
  packages/cli/README.md
Owners: @danielpeintner, @relu91

chore: remove .env file
  .env
Owners: @danielpeintner, @relu91

.github/CODEOWNERS:

# Default owners (used as a fallback, last matching pattern takes the most precedence)
* @danielpeintner @relu91

# CoAP-Binding
/packages/binding-coap/ @JKRhb

# HTTP-Binding
/packages/binding-http/ @danielpeintner @relu91

# Mbus-Binding
# /packages/binding-modbus/

# Modbus-Binding
/packages/binding-modbus/ @relu91

# MQTT-Binding
/packages/binding-mqtt/ @sebastiankb @egekorkan

# NETCONF Binding
# /packages/binding-netconf/

# OPCUA Binding
# /packages/binding-opcua/

# WebSockets Binding
# /packages/binding-websockets/

# Browser Bundle
/packages/browser-bundle/ @danielpeintner @relu91

# CLI
/packages/browser-bundle/ @danielpeintner @relu91 @mkovatsc

# Core
/packages/core/ @danielpeintner @relu91 @JKRhb

# TD Tools
/packages/td-tools/ @danielpeintner @relu91
